<%
  page = "lineup"
  sub = 0
%>
<% layout('../_layout/_layout') -%>

<div class="board-view artist-view">
  <div class="board-view__header artist-view__header">
    <h2 class="board-view__tit artist-view__tit">Dimitri vegas & like mike</h2>
  </div>
  <div class="board-view__body">
    <div class="artist-content">
      <div class="artist-content__section artist-content__section--name"><img class="artist-content__img js-lazy-img" src="../../images/blank/blank.png" data-src="http://i.imgur.com/pyuHKWh.png" alt=""></div>
      <div class="artist-content__section artist-content__section--photo"><img class="artist-content__img js-lazy-img" src="../../images/blank/blank.png" data-src="http://i.imgur.com/A4mZHMd.jpg" alt=""></div>
      <div class="artist-content__section artist-content__section--sns">
        <ul class="artist-sns">
          <li class="artist-sns__item"><a href="" target="_blank" class="artist-sns__link artist-sns__link--facebook">facebook</a></li>
          <li class="artist-sns__item"><a href="" target="_blank" class="artist-sns__link artist-sns__link--instagram">instagram</a></li>
          <li class="artist-sns__item"><a href="" target="_blank" class="artist-sns__link artist-sns__link--twitter">twitter</a></li>
          <li class="artist-sns__item"><a href="" target="_blank" class="artist-sns__link artist-sns__link--youtube">youtube</a></li>
          <li class="artist-sns__item"><a href="" target="_blank" class="artist-sns__link artist-sns__link--soundcloud">soundcloud</a></li>
        </ul>
      </div>
      <div class="artist-content__section artist-content__section--title">
        <h3 class="artist-content__title">Dimitri vegas & like mike</h3>
        <div class="artist-content__desc">더 이상의 수식어는 필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크 마이크!</div>
        <div class="artist-content__txt">그리스계 벨기에인인 형제는 데뷔 후 스웨디시 하우스 마피아 등 월드 클래스 아티스트들의 전폭적인 서포트를 받기 시작했다.  MADNESS, TREMOR, MAMMOTH, 그리고 HIGHER PLACE 등의 히트트랙은 각각 유투브 조회수 1억을 돌파하는 등 데뷔 이후 이들은 꾸준히 전 세계 팬들의 사랑을 받았다. 세계적인 EDM페스티벌 ‘투모로우랜드(Tomorrowland)’의 호스트 DJ이자 벨기에의 국민 DJ 듀오로 끊임 없이 전 세계 EDM씬의 러브콜을 받고 있다. 작년 전 세계 최고의 DJ를 선발하는 DJ MAG TOP 100 DJs 투표에서 당당히 1위를 거머쥔 형제가 선택한 첫 내한 무대는 바로 스펙트럼 댄스 페스티벌이다.</div>
      </div>
      <div class="artist-content__section artist-content__section--video">
        <div class="artist-content__video-wrap">
          <iframe class="artist-content__video" width="100%" height="auto" src="https://www.youtube.com/embed/3UOtF4J9wpo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="artist-content__video-wrap">
          <iframe class="artist-content__video" width="100%" height="auto" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/276814464&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        </div>
      </div>
    </div><!-- //board-article__artist -->
  </div>
  <div class="board-view__footer">
    <div class="board-view__prev"><a href="#" class="board-view__link">Prev</a></div>
    <div class="board-btn-wrap board-view__list"><a href="<%= jsonData.pages[page].links[0] %>" class="board-view__link btn-list"><span>List</span></a></div>
    <div class="board-view__next"><a href="#" class="board-view__link">Next</a></div>
    <!-- //board-btn-wrap -->
  </div>
</div><!-- //board-view -->