<%
page = "aboutus"
%>
<% layout('../_layout/_layout') -%>
<div class="about-section">
  <div class="about-section__wrap">
    <h3 class="about-section__title about-section__title--uppercase"><%= jsonData.site.name %></h3>
    <div class="about-section__desc">
      <strong>你梦想的唯一的主题音乐节</strong><br>
      <strong>SPECTRUM DANCE MUSIC FESTIVAL</strong><br>
      <br>
      SPECTRUM DANCE MUSIC FESTIVAL每年在不同主题的音乐中,汇集多种类型的音乐、梦幻的舞台、观众们的眼睛和耳朵的演员和游行,是能够欢聚一堂的国内最大的主题音乐庆典。<br>
      <br>
      韩国国内最优秀的现场娱乐企业"DREAM MAKER ENTERTAINMENT"将给观众带来SPECTRUM的全新世界。
    </div>
  </div>
</div><!-- //about-section-->
<div class="about-section history">
  <h3 class="about-section__title">History</h3>
  <div class="history__wrap">
    <div class="history__slider">
      <% for(var i=0; i<3; i++){ %>
      <div class="history__slide-item">
        <h4 class="history__title">2017 스펙트럼 댄스 뮤직 페스티벌</h4>
        <div class="history__detail">
          <div class="history__img-wrap"><img src="../../images/blank/blank.png" data-src="https://i.imgur.com/vTbm3JJ.jpg" alt="" class="history__img js-lazy-img"></div>
            <div class="history__text-wrap">
              <div class="history__article">
                <p><strong>· 일시   2016년 5월 27일</strong></p>
                <p><strong>· 장소   난지 한강공원</strong></p><br>
                <p>리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</p>
                <!--<p>리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</p>-->
              </div>
            </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
<!-- //site-content -->