<%
page = "information"
sub = 0
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="info-board">
  <ul class="info-board__list">
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">チケット及び入場バンドのお受け取り案内</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">チケット売り場でチケット及び入場バンドのお受け取りの際、成人認証手続きがある予定です。必ず本人の身分証明書を持参してください。</p>
          <div class="info-board__depth">
            <div class="info-board__heading">成人認証可能な身分証</div>
            <p class="info-board__text info-board__text--dash">韓国 : 主民登録証、免許証、パスポート、主民登録証発行申請確認書</p>
            <p class="info-board__text info-board__text--dash">外国 : パスポート、外国人登録証、自国で発行した身分証明書+パスポートコピー本(同時持参)</p>
          </div>
          <p class="info-board__text info-board__text--dot">上記の身分証明書以外、証明書類、SNS、E-MAILなどの方法では成人の認証は不可能です。</p>
          <p class="info-board__text info-board__text--dot"><strong>チケット売り場は午後12：00から運営され、午後13：00から入場が可能です。</strong></p>
          <p class="info-board__text info-board__text--dot">お持ちのチケットは公演当日、必ず入場バンドに交換してください。交換しない場合には入場出来ません。(チケットをお持ちでない方は入場バンドに交換及び入場が不可能です。)</p>
          <p class="info-board__text info-board__text--dot">現場でのチケット受け取りの際、前売りチケット購入者の身分証と予約確認証などの前売り証明資料を持参してお受け取りください。お持ちでない方は入場出来ません。</p>
          <p class="info-board__text info-board__text--dot">1件に指定された複数のチケットは分割受領が不可能です。また、チケットのお預かりはできません。</p>
          <p class="info-board__text info-board__text--dot">入場バンドは代わりにお受け取りすることができません。チケット売り場で直接着用の予定です。複数のチケットを購入した場合、お客様同時にチケット売り場で入場バンドを着用してください。</p>
          <p class="info-board__text info-board__text--dot">両日券の場合、1つの入場バンドで2日間着用しなければならないので、毀損にご注意ください。 また、両日券の入場バンドを着用した本人だけ2日間入場可能です。2人が1日ずつ分けて使用することはできません。</p>
          <p class="info-board__text info-board__text--dot">入場バンド未着用の際、ご入場できず、毀損及び紛失の際にもいかなる場合であり再発行できませんので毀損されないようご注意ください。</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">安全及び入場案内</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">お客様の快適で安全な観覧のため、会場入場の際にセキュリティ検索を進行します。</p>
          <p class="info-board__text info-board__text--dot">持ち込み禁止物品を所持した場合、主催・主管側で別途お預かりしません。有料で運営されるお預かり所にてご利用ください。</p>
          <p class="info-board__text info-board__text--dot">アーティストの要請がある場合、金属探知機やX線などを利用した追加検索が行われることがあります。</p>
          <p class="info-board__text info-board__text--dot">騒音、特殊効果：本公演には非常に大きい音の音響、ストロボライト、ハイドロ、花火、爆竹類、アニマートロニクス,その他のフラッシュ照明、イメージ効果、人工霧、煙、照明効果、レーザーなどの特殊効果が使用されます。 心臓疾患者、妊婦と高齢者、又は外部刺激に敏感に反応して発作、光過敏性疾病などのような健康上の問題をお持ちである方はチケットのご購入をご遠慮願います。主催・主管側では、事前共有を受けていない公演中に発生した疾病や怪我について責任を負いません。</p>
          <p class="info-board__text info-board__text--dot">事故の危険：本公演が行われる場所と周辺では、入場者ご本人の物的要素に対する損失または被害や聴力損失、発作、深刻な健康上の危険、または死亡などの身体的な傷害が発生する可能性があります。入場者ご本人は発生しうる全てのリスク要素について熟知し、公演中に不意の事故に遭った場合又は傷害を負わせた場合、すべて入場者ご本人の責任となります。</p>
          <p class="info-board__text info-board__text--dot">高声放歌、中傷、暴行など、他人に被害を与える騒ぎの際にはセキュリティーにより退場させて頂きます。</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">持ち込み禁止品</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">ビン、缶、ガス充電式のスプレー、火器、調理/炊事道具、刀、はさみ、爆竹、ガラス、工具類、おもちゃの銃/刀、野球バット、自ドリ棒、長傘、パイプ、杖、竹刀、旗など各種の危険物品</p>
          <p class="info-board__text info-board__text--dot">遠隔操作が可能なRCおもちゃ、リュ(ドロンを含む)</p>
          <p class="info-board__text info-board__text--dot">スーツケース、ベビーカー、自転車、キックボード、スケートボード、各種の電動装置など、車輪のついた移動手段や物品</p>
          <p class="info-board__text info-board__text--dot">硬いボール(野球ボール、サッカーボール、バスケットボール、ブーメラン、円盤など)</p>
          <p class="info-board__text info-board__text--dot">主催側の許可を受けていないDSLRカメラを含めた専門用の撮影と録音装備</p>
          <p class="info-board__text info-board__text--dot">貴重品(紛失の際は責任を負いません。)</p>
          <p class="info-board__text info-board__text--dot">マット、簡易の椅子、日除けテント、アイスボックスおよび各種キャンピング装備類</p>
          <p class="info-board__text info-board__text--dot">抗精神性医薬品管理法及び麻薬類管理に関する法律などの関連法令に従い、扱いが禁止された薬品</p>
          <p class="info-board__text info-board__text--dot">500mlのミネラルウォーター1ボトルを除いた飲み物、お酒類、飲食物すべて。</p>
          <p class="info-board__text info-board__text--dot">舞台演出に妨害になるLED装飾物、懐中電灯、レーザーポインター、フランカード</p>
          <p class="info-board__text info-board__text--dot">その他、環境汚染、衛生の事故や安全事故の可能性があると判断される品物</p>
          <p class="info-board__text info-board__text--dot">松葉杖、車椅子の搬入は可能ですが、安全のため一部区域の立入りと制限される場合があります。</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">ご注意事項</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">アーティストの事情により出演アーティスト、スケジュール、時間などが変わる可能性があり、本事由によりお払い戻し、または一部お払い戻しはできません。</p>
          <p class="info-board__text info-board__text--dot">快適な観覧や会場保護のため、食べ物の摂取の際には、周りを整理しごみは必ずゴミ箱にお入れ下さい。</p>
          <p class="info-board__text info-board__text--dot">事前に合意されていないイベントやプロモーション、商業活動は禁止しております。</p>
          <p class="info-board__text info-board__text--dot">サイト内外の施設物とデコレーションには手を出さないようご注意ください。毀損の際には状況によって賠償についての責任を問うことがあります。</p>
          <p class="info-board__text info-board__text--dot">アーティストに送るお花、プレゼント、手紙などはお受け取りしません。</p>
          <p class="info-board__text info-board__text--dot">ペットの入場は禁止されております。 (但し、視覚障害者のための案内犬は特別入場可能です。)</p>
          <p class="info-board__text info-board__text--dot">入場バンドの着用後、自由にステージ間の移動が可能です。各ステージの収容人数が制限されており、現場の状況に伴う安全問題によって入場が制限される場合があります。</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">物品保管サービス</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">物品保管サービスは主催側と連携した外部協力社で有料で運営されます。</p>
          <p class="info-board__text info-board__text--dot">サービス利用料のご案内は改めて告知いたします。</p>
          <p class="info-board__text info-board__text--dot">物品は、専用ビニールバックに入れて保管され、物品保管の時に提供される番号表の紛失または、締め切り時間内にお取りされない物品の紛失・毀損などについては責任を取りませんので、番号表の保管にご注意ください。</p>
          <p class="info-board__text info-board__text--dot">破損の危険、非常に大きい品物、貴重品の保管はお預かりできません。ただし、スーツケースは保管可能です。</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">緊急事態</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">会場内/外部に簡単な応急処置が可能な医療ブースと救急車がご用意されております。</p>
          <p class="info-board__text info-board__text--dot">緊急事態発生時、素早く周囲の進行/安全係や近くの案内ブースのスタッフにお知らせください。</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- //info-board-->