<%
page = "information"
sub = 2
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="directions-info">
  <div class="directions-info__wrap">
    <div class="directions-info__map">
      <div id="map" class="directions-info__api"></div>
    </div>
    <div class="directions-info__box">
      <div class="directions-info__cell directions-info__title">Jamsil Olympic Stadium</div>
      <div class="directions-info__detail">
        <div class="directions-info__cell">
          <dl class="directions-info__list">
            <dt class="directions-info__tit">Address</dt>
            <dd class="directions-info__txt">25, Olympic-ro, Songpa-gu, Seoul</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="directions-info__text-wrap">
    <div class="directions-info__tit2">バス</div>
    <div class="directions-info__column directions-info__column--m-count-1">
      <div class="mark-wrap">
        <span class="mark mark--green">支線バス</span>
        <p class="mark-txt">2415, 3217, 3411, 3412, 3414, 3417, 3322, 3422, 4319</p>
      </div>
      <div class="mark-wrap">
        <span class="mark mark--blue">幹線バス</span>
        <p class="mark-txt">301, 333, 341, 350, 342, 360, 362, N13(심야)</p>
      </div>
      <div class="mark-wrap">
        <span class="mark mark--red">直行バス</span>
        <p class="mark-txt">1100, 1700, 2000, 7007, 8001, 6900, 2000-1</p>
      </div>
      <div class="mark-wrap">
        <span class="mark mark--green">一般バス</span>
        <p class="mark-txt">11-3, 917</p>
      </div>
      <div class="mark-wrap">
        <span class="mark mark--sky">空港リムジンバス</span>
        <p class="mark-txt">6000, 6006</p>
      </div>
      <div class="mark-wrap only-desktop">
        <br><br>
      </div>
    </div>
  </div>
  <div class="directions-info__text-wrap directions-info__text-wrap--next">
    <div class="directions-info__tit2">地下鉄</div>
    <p class="mark-txt"><span class="dot dot--green"></span>2, <span class="dot dot--gold"></span>号線 総合運動場(チョンハブウンドンジャン)駅 6, 7番出口</p>
  </div>
</div>

<!--
<div class="directions-info">
  <h3 class="directions-info__heading">셔틀버스 안내</h3>
  <div class="directions-info__wrap">
    <div class="directions-info__map">
      <img class="directions-info__img is-desktop js-lazy-img" src="../../images/blank/blank.png" data-src="../../images/information/bus-map-desktop.jpg" alt="">
      <img class="directions-info__img is-mobile js-lazy-img" src="../../images/blank/blank.png" data-src="../../images/information/bus-map-mobile.png" alt="">
    </div>
    <div class="directions-info__box">
      <div class="directions-info__cell directions-info__title">새누리 어린이 공원</div>
      <div class="directions-info__detail">
        <div class="directions-info__cell">
          <div class="directions-info__txt directions-info__txt&#45;&#45;m-dot"><strong class="directions-info__txt-pink">디지털미디어시티역 2번 출구</strong>에서 50m 직진 후 우측으로 120m 직진</div>
          <div class="directions-info__txt directions-info__txt&#45;&#45;m-dot"><strong class="directions-info__txt-pink">디지털미디어시티역 8번 출구</strong>에서 150m 직진 후 우측으로 100m 직진</div>
        </div>
      </div>
    </div>
  </div>
  <table class="directions-info__table">
    <colgroup>
      <col class="directions-info__col">
      <col class="directions-info__col">
    </colgroup>
    <thead class="directions-info__thead">
    <tr class="directions-info__row">
      <th class="directions-info__th">구간</th>
      <th class="directions-info__th">디지털미디어시티역<br class="directions-info__br">↔ SPECTRUM 현장</th>
    </tr>
    </thead>
    <tbody class="directions-info__tbody">
    <tr class="directions-info__row">
      <td class="directions-info__td">2016년 10월 1일(토),<br class="directions-info__br">2일(일) 첫차</td>
      <td class="directions-info__td">09:30<br class="directions-info__br">(디지털미디어시티역)</td>
    </tr>
    <tr class="directions-info__row">
      <td class="directions-info__td">2016년 10월 1일(토),<br class="directions-info__br">2일(일) 막차</td>
      <td class="directions-info__td">01:00<br class="directions-info__br">(SPECTRUM 현장)</td>
    </tr>
    </tbody>
  </table>
  <div class="directions-info__text-wrap">
    <p class="directions-info__dot">버스는 5분 간격으로 운행됩니다.</div>
    <p class="directions-info__dot">퇴장 시 SPECTRUM현장에서 디지털미디어시티역으로 향하는 셔틀 버스 정류소는 입장 때 하차하신 곳과 동일합니다.</div>
    <p class="directions-info__dot">셔틀버스는 디지털미디어시티역 까지만 운행하므로 대중 교통을 통해 귀가하시는 관객분들께서는 디지털미디어시티역 에서 귀가 시 이용하시는 대중교통의 막차시간 또한 고려해주시길 바랍니다.</div>
  </div>
</div>-->
