<%
page = "information"
sub = 3
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="info-board2">
  <ul class="info-board2__list">
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">チケット、入場バンドはどこで受け取りできますか。</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">2,9号線の 総合運動場(チョンハブウンドンジャン)駅 6,7番出口を出て頂き、野球場を過ぎてまっすぐにあるチャムシルメインスタジアムの前にあるチケット売り場でお受け取りできます。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">入場バンド交換の際、何が必要ですか。</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">事前購入し、配送チケットがある場合、チケットとご本人様の身分証明証を、事前購入し現場でのチケットお受け取りの場合、予約確認証(あるいは予約確認メール)とご本人様の身分証明証を必ずご持参お願いします。入場バンドは代わりに受け取ることができませんので入場バンドお受け取りの際、必ず観覧する全員の身分証をご持参後、お受け取りください。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">チケット、入場バンドを紛失、毀損しました。入場できますか?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">配送されたチケットはチケット購入されたご本人様でも、いかなる場合でも再発行はもちろん、入場バンドの交換もできかねます。配送されたチケットは、公演日まで大切に保管してください。 また、入場バンドも紛失、破壊の際、入場できません。特に両日券をお持ちの方は1つの入場バンドで2日間、着用しなければならないため、紛失・毀損にご注意ください。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">事前購入したチケットをキャンセルしたいです。</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">事前購入したチケットのキャンセルは、各チケット予約先のキャンセル規定により可能です。また、公演当日の変更やお払い戻しは不可能です。配送されたチケットはキャンセル可能日までチケット予約先まで 返送されない場合、キャンセルにならないため必ず返送お願いします。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">入場バンド受け取り後後、外部への出入りが可能ですか?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">各ステージへの移動は自由ですが、一度メインゲートで退場した場合には再入場できません。メインゲートでの入場前、車に置いて来た物はないか、外部に他の用事はないかなど改めてご確認の後、入場お願いします。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">公演は指定席で観覧しなければならないのでしょうか。</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">本フェスティバルはスタンディング公演で別途のお座席の指定はございません。ステージを移動しながらご希望の場所で自由に観覧することができます。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">公演時間はどうなりますか?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">詳細な公演時間は<a href="../lineup/lineup_02timetable.html" target="_blank" class="info-board2__link text-uppercase">Line Up – Time Table</a>メニューをご確認ください。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">駐車は可能ですか?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">チャムシル総合運動場の駐車場をご利用いただけますが、当日、多くの観客が訪問するため、駐車場が非常に混雑する可能性があります。なるべくバスや地下鉄などのご利用お願いします。チャムシル総合運動場の駐車規定はチャムシル総合運動場のホームページでご確認できます。<a href="http://stadium.seoul.go.kr/about/park-info" target="_blank" class="info-board2__link">(http://stadium.seoul.go.kr/about/park-info)</a></p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">撮影は可能でしょうか?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">通常の記念撮影は可能ですが、公演やアーティストの写真、動画撮影、録音などは円滑な公演進行と著作権、肖像権の保護のため禁止されております。発見の際、データ削除後退場となります。また、法的措置を受けることもありますのでご注意ください。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">落とし物はどこで探せますか?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">遺失物は公演当日インフォメーションブースで受付を受ける予定です。お届けした遺失物はイベント終了後、2018年9月14日(金)まで公式ホームページおよびSNSを通じて掲示予定です。また、イベント終了後、2018年9月23日(日)まで保管し、その後は廃棄させて頂きます。(受付されていない遺失物については主催・主管で責任を負いませんので保管にご注意ください。)</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- //info-board2-->