<%
page = "information"
sub = 0
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="info-board">
  <ul class="info-board__list">
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">门票及手带领取指南</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">门票展台配有门票及手带时,请务必携带成人认证程序,请务必携带本人身份证。</p>
          <div class="info-board__depth">
            <div class="info-board__heading">可验证成人身份的身份证</div>
            <p class="info-board__text info-board__text--dash">韩国国民 : 身份证、驾驶证、护照、身份证签发申请确认书</p>
            <p class="info-board__text info-board__text--dash">外国人 : 护照、外国人身份证、本国签发的身份证+护照副本(同时携带)</p>
          </div>
          <p class="info-board__text info-board__text--dot">除上述身份证以外的证件文件、SNS、电子邮件等方法无法认证成人认证。</p>
          <p class="info-board__text info-board__text--dot"><strong>售票柜台从中午开始营业,下午1点开始入场。</strong></p>
          <p class="info-board__text info-board__text--dot">收到的门票,在演出当天换成手带才能入场。 (持有门票时不可交换手带及入场)</p>
          <p class="info-board__text info-board__text--dot">领取现场门票时,必须携带发票和预售证等预购凭证资料方可领取。</p>
          <p class="info-board__text info-board__text--dot">一套门票不能分开领取，和不能存放。</p>
          <p class="info-board__text info-board__text--dot">手带无法代替代理领取,可直接挂在门票展台上。 购买双排扣门票时,请在门票展台上一起入场手带。</p>
          <p class="info-board__text info-board__text--dot">两日卷的话两天都需使用同一个手带所以敬请好好保管。佩戴两日卷的本人才可以观看两天演出，不可以分开两个人各看一天。</p>
          <p class="info-board__text info-board__text--dot">没有佩戴手带的话不能入场，再任何情况下都不会再给新的所以请好好保管。</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">安全及入场指南</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">为了观看观众们的舒适安全,在演出场地入场时进行安检。</p>
          <p class="info-board__text info-board__text--dot">携带禁止携带物品时,可在主办方不另行保管,可利用有偿运营的物品保管。</p>
          <p class="info-board__text info-board__text--dot">如有艺人的单独要求,则可进行利用金属探测器、X-ray等追加搜索。</p>
          <p class="info-board__text info-board__text--dot">噪声及特效: 本场演出中使用巨大声响、闪光灯、水、火花、鞭炮、 电动木偶技术 、闪电照明、图片效果、人工雾、烟气、照明效果、激光等特殊效果。 对心脏病患者、孕妇、老弱者或外部刺激反应敏感,请谨慎、小心、敏感、疾病等健康问题的身心敏感者,请勿预售。 主办单位不负责事前未得到事先共享的演出中发生的疾病及负伤。</p>
          <p class="info-board__text info-board__text--dot">发生事故的危险 : 在本场演出的场所和周边,可能会发生对本人的物质因素的损失或损失、听力损失、发作、严重的健康状况、死亡等身体伤害。 参观者本人对可能发生的所有危险要素都熟知,在活动过程中意外发生意外或伤害他人的情况,所有责任均在本人本人身上。 </p>
          <p class="info-board__text info-board__text--dot">在高声唱歌、辱骂、暴行等他人带来伤害的喧闹行为时,可能会因安全人员而被罚下场。</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">禁止携带物品</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">瓶、罐装、燃气充电式喷雾、枪械、烹饪/炊事用具、刀具、剪刀、鞭炮、玻璃球、刀具、棒球棒、自拍棒、长伞、管子，杖、竹刀等各种危险物品</p>
          <p class="info-board__text info-board__text--dot">远端遥控的遥控玩具(包括雄蜂)</p>
          <p class="info-board__text info-board__text--dot">带有轮子的行李箱、婴儿车、自行车、滑轮车，滑板、各种电动装置等带有轮子的移动工具及物品</p>
          <p class="info-board__text info-board__text--dot">硬球类(棒球、足球、篮球、回力镖、圆盘等)</p>
          <p class="info-board__text info-board__text--dot">包括未获主办公司许可的DSLR相机在内的专业摄影及录音设备</p>
          <p class="info-board__text info-board__text--dot">贵重物品（ 丢失贵重物品时不负责。)</p>
          <p class="info-board__text info-board__text--dot">凉席、简易椅子、天棚帐篷、冰盒及各种露营装备类</p>
          <p class="info-board__text info-board__text--dot">精神性药品管理法及毒品类管理相关法律等相关法令,禁止经营或者调制的药品</p>
          <p class="info-board__text info-board__text--dot">除500ml矿泉水外,其他饮料和酒类、食物</p>
          <p class="info-board__text info-board__text--dot">妨碍舞台演出的LED装饰品、手电筒、 激光指示器 、 标语牌</p>
          <p class="info-board__text info-board__text--dot">被认为可能造成环境污染，卫生事故和安全事故的物品。</p>
          <p class="info-board__text info-board__text--dot">可携带拐杖和轮椅，但出于安全原因可能会限制进入某些地区。</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">注意</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">根据艺人情况，艺人，时间表，时间等可能会发生变化，并且不会因为这些原因进行退款或部分退款。</p>
          <p class="info-board__text info-board__text--dot">为了愉快地观看和保护场地，吃东西时请清理干净，并将垃圾放入垃圾桶。</p>
          <p class="info-board__text info-board__text--dot">不允许提前未经讨论的个人活动，促销活动和商业活动。</p>
          <p class="info-board__text info-board__text--dot">请只看眼睛的室内外设施和装饰。如果发生损坏，您可能需要承担赔偿责任</p>
          <p class="info-board__text info-board__text--dot">我们不接受送给艺人的花环，礼物，粉丝信等。</p>
          <p class="info-board__text info-board__text--dot">宠物是不允许的。（但视障人士的导盲犬容许进入。）</p>
          <p class="info-board__text info-board__text--dot">佩戴入场手带后，您可以在舞台之间自由移动。由于该领域的安全问题，每个场地的容量有限且可能受到限制。</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">货物存储服务</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">商品存储服务由与赞助商相关的合作公司运营，收费。</p>
          <p class="info-board__text info-board__text--dot">服务费将稍后公布。</p>
          <p class="info-board__text info-board__text--dot">这些物品将被保存在一个特殊的塑料袋中，对丢失或损坏的物品不承担责任，直到丢失或提供了数量表的最后期限为止。</p>
          <p class="info-board__text info-board__text--dot">不可存放有破损危险或体积过大的贵重物品或贵重物品。但是，运营商可以存储。</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">紧急情况</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">有一个医疗亭和一辆救护车，可用于进出场地的简单急救。</p>
          <p class="info-board__text info-board__text--dot">如果发生紧急情况，请及时通知最近的职员/警卫人员或最近的询问处。</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- //info-board-->