<%
page = "information"
sub = 3
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="info-board2">
  <ul class="info-board2__list">
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">我可以在哪里获得门票和手带?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">售票亭位于2，9号线综合运动场站6，7号出口，通过棒球场后直走蚕室主要竞技场的前面。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">换取入场手带时，我需要什么呢?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">换取入场手带时，请把收到门票的人的身份证，在现场取票的人的购票确认证(或购票确认短信)一同带上。入场手带不能让替他人帮忙领取，全员需要出示身份证后方可领取。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">门票和入场手带丢失/损坏了，我还可以入场吗?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">就算是收到门票本人，重新发票或再领取手带都是不允许的，所以请好好保管。入场手带如果丢失/损坏了也不能入场。持有两天演出预约的人，因为两天都会用同一个手带进场，所以务必好好保管好。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">我想取消已经购买好的门票。</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">根据购票的取消政策，可以该售票处取消预购票。但在演出当天不得更改或退款。已经发货的门票必须在取消日期之前退回到售前办公室。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">领取入场手带后还能自由进出场地吗?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">舞台之间走动是免费的，一旦离开大门就不能重新入场。事前请确认在进入正门前再车内或外面是否有物品不记得拿。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">演出时，是否只能在指定的地方观看?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">本演出只有站席并没有作为。您将能够在任何空间中随意欣赏舞台。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">演出时间多长?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">请查看<a href="../lineup/lineup_02timetable.html" target="_blank" class="info-board2__link text-uppercase">Line Up – Time Table</a>菜单以了解详细的时间。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">可以泊车吗?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">可以使用蚕室综合体育馆的停车场，但由于当天有许多观众到场，停车场可能非常拥挤，请尽可能使用公共交通工具。您可以查看蚕室综合运动场网站上蚕室综合体育场的停车规定。<a href="http://stadium.seoul.go.kr/about/park-info" target="_blank" class="info-board2__link">(http://stadium.seoul.go.kr/about/park-info)</a></p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">可以拍摄吗?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">可以拍摄正常水平的纪念照片，禁止对艺人进行录像和录音等，以保护本版权和肖像权。一经发现，删除有关东西后更有可能采取法律行动。</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">我在哪里可以找到遗失物品?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">可以于演出当天到访询问处。活动结束后，遗失物品将在官方网站和SNS上公布，直到2018年9月14日星期五。该项目将保留至2018年9月23日，事件发生后将被丢弃。(主办方/策划公司对丢失物品不会承担责任。)</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- //info-board2-->