<%
page = "information"
sub = 4
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header -->

<div class="temporary-box">
  <div class="temporary-box__inner">
    <span class="temporary-box__logo"><img src="../../images/common/temp-logo.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img"></span>
    <span class="temporary-box__txt">Coming Soon</span>
  </div>
</div>

