<%
page = "lineup"
sub = 0
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="tab3" data-drop-down="true">
  <div class="tab3__state js-state">
    <span class="tab3__category-name">View All</span>
  </div>
  <ul class="tab3__list js-list">
    <li class="tab3__item js-active">
      <a href="" class="tab3__link">
        <span class="tab3__category-name">View All</span>
      </a>
    </li>
    <li class="tab3__item">
      <a href="" class="tab3__link">
        <span class="tab3__category-name">Starcity</span>
      </a>
    </li>
    <li class="tab3__item">
      <a href="" class="tab3__link">
        <span class="tab3__category-name">Dream Station</span>
      </a>
    </li>
    <li class="tab3__item">
      <a href="" class="tab3__link">
        <span class="tab3__category-name">Electro Garden</span>
      </a>
    </li>
    <li class="tab3__item">
      <a href="" class="tab3__link">
        <span class="tab3__category-name">Club Neo Jungle</span>
      </a>
    </li>
  </ul>
</div>
<!-- //tab3 -->

<div class="artist-board">
  <ul class="artist-board__list">
    <% for(var i = 0; i < 9; i++){ %>
    <li class="artist-board__item">
      <a href="<%= jsonData.pages[page].children[sub].links[1] %>" class="artist-board__link">
        <img src="../../images/blank/blank.png" data-src="http://spectrumdmf.com/uploads/20180524/F0119830044.jpg" class="artist-board__img js-lazy-img">
        <div class="artist-board__txt-wrap">
          <div class="artist-board__name">Dimitri vegas & like mike Dimitri vegas & like mike</div>
          <span class="artist-board__more-btn">View More</span>
          <div class="artist-board__wrap">
            <p class="artist-board__desc js-ellipsis">더 이상의 수식어는 필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크 더 이상의 수식어는
              필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크</p>
          </div>
        </div>
      </a>
    </li>
    <% } %>
  </ul>
  <div class="btn-wrap">
    <a href="" class="btn-more2">More</a>
  </div>
</div>
<!-- //artist-board-->
