<%
page = "information"
sub = 3
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="info-board2">
  <ul class="info-board2__list">
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">Where can I get tickets or admission bands?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">A The ticket booth is located in front of the Jamsil Main Stadium when you go straight through the baseball stadium from the exit 6 and 7 of the Sports Complex of line 2 and line 9.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">What do I need to do when I change tickets for my admission band?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">When you have already received your tickets, you need to prepare your tickets and ID card for the change. When you will immediately receive your tickets in the spot, you should prepare your purchase certification (or purchase-confirmed text message) and your ID card. Please do not forget to take your ID card with you when collecting the admission band because others cannot receive your tickets on behalf of you.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">my ticket is lost and damaged. Can I enter into the festival?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">A Tickets that you received will not be reissued in any case, and the admission bands will not be exchanged as well. Therefore, please keep your tickets carefully until the day of performance. When you lose or damage your admission bands, you also cannot enter into the festival. In particular, when you reserve two-day tickets, you should keep the admission band for two days to enter into the festival. Therefore, please be careful about lost or damage.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">I want to cancel my reserved ticket.</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">A You can cancel your reservation ticket according to the cancellation policy of each booking office. However, the ticket cannot be changed or refunded on the day of performance. The tickets that have been shipped must be returned to the booking office by the dace of the cancellation.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">After I receive the admission band, can I go outside?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">A You are free to move among stages. However, once you leave the main gate, you will not be able to enter once again. Please confirm whether there is anything left in your car or there is any business outside before you enter into the main gate.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">Should I see performance at designated seats?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">A The festival is a stand-up performance and does not have any seats. You will be able to enjoy any stage freely.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">What is the performance time?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">A The specific performance time can be checked by the menu of <a href="../lineup/lineup_02timetable.html" target="_blank" class="info-board2__link text-uppercase">Line Up – Time Table</a></p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">Can I park my car?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">A You can use the parking lot attached to the Jamsil Sports Complex, but the parking lots would be very crowded due to many visitors on that day. Therefore, we hope that you use public transportation if possible. You can check the parking regulations of Jamsil Sports Complex at Jamsil Sports Complex website. <a href="http://stadium.seoul.go.kr/about/park-info" target="_blank" class="info-board2__link">(http://stadium.seoul.go.kr/about/park-info)</a></p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">Can I shoot?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">A You can take commemorative photographs at a normal level. However, it is prohibited for you to take photographs, videos and recordings of performances and artists to protect copyrights and publicity rights and to proceed with performances smoothly. Upon detection, data will be deleted, and we will send you off and take legal action.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">Where can I find lost items?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">A Lost items will be accepted at information booth in the day of performance. After the festival, the lost items will be announced on the official website and SNS until Friday, September 14, 2018. The item will be kept until September 23, 2018 after the festival, and will be discarded. Please note that the Organizer / Organizing Company will not be held responsible for the lost items that not received. Therefore, please be careful about keeping belongs.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- //info-board2-->