<%
page = "information"
sub = 0
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="info-board">
  <ul class="info-board__list">
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">INFORMATION ABOUT TICKET AND WRIST BANDS</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">You must present your ID to a festival employee to get a 19+wirst band.</p>
          <div class="info-board__depth">
            <div class="info-board__heading">ID: Photo + year/ date of your birth</div>
            <p class="info-board__text info-board__text--dash">Korean : Social Security Card, Driver’s License, Passport, or document providing your ID issued by Korean government</p>
            <p class="info-board__text info-board__text--dash">Foreigner : Passport, Alien Registration Card, Foreign government-issued ID Card + Copy of the Passport. (You should bring both otherwise this cannot be accepted)</p>
          </div>
          <p class="info-board__text info-board__text--dot">Other methods cannot prove your ID</p>
          <p class="info-board__text info-board__text--dot"><strong>The ticket booth is operated from noon and you can enter the concert hall from 1:00 p.m.</strong></p>
          <p class="info-board__text info-board__text--dot">On the event day, you will need to exchange your ticket for a wrist band prior to entry. (without the ticket, you will not be able to receive a wristband nor enter the venue)</p>
          <p class="info-board__text info-board__text--dot">If you want to pick-up the ticket at the ticket booth, ID and a printed copy of the confirmation e-mail are required in order to receive tickets at the ticket booth.</p>
          <p class="info-board__text info-board__text--dot">Multiple tickets bundled with one name that cannot be divided by number of people</p>
          <p class="info-board__text info-board__text--dot"><strong>The admission band is not eligible to receive as a substitute and is worn directly from the ticket booth.</strong> If you have purchased multiple tickets, please make sure that all of you wear an admission band at the ticket booth together.</p>
          <p class="info-board__text info-board__text--dot">for two-day pass, the wrist band should be kept safely for two days to enter the festival site. Two-day ticket purchaser owns the right to enter the festival site only (two people cannot use it for each day.)</p>
          <p class="info-board__text info-board__text--dot">If you do not wear wrist band, you are not allowed to enter. If you damage it or lost it, the wrist band cannot be re-issued. Please be careful. If the wristband is not damaged but you request to exchange it (loose or tight), we re-issue new wristband after discarding the old one.</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">Security Check</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">There will be a security check before you enter festival site to guarantee the safety of audience.</p>
          <p class="info-board__text info-board__text--dot">The festival will NOT keep any prohibited items found the security check, and you can use stockroom before entering the main gate (Charged)</p>
          <p class="info-board__text info-board__text--dot">Further security check with a metal detector or X-RAY research can be done depending on specific artist request.</p>
          <p class="info-board__text info-board__text--dot">Noise and Special Effects : In this performance, very loud sounds, strobe lights, hydro, flames, fireworks, Animatronix, other flash-lit lighting, image effects, artificial fog, smoke, lighting effects, lasers, etc are used. Please refrain from booking this performance in case of those who may respond sensitive to heart disease, pregnant women and elderly or feeble-minded person who are sensitive with external stimuli, and cause health problems such as stroke, photophobia, or other illnesses. The Organizer is not responsible for any illnesses or injuries during a performance that was not pre-shared.</p>
          <p class="info-board__text info-board__text--dot">Risk of an accident : The venue and surrounding areas of the performance may cause potential physical injury to the guest, such as loss of hearing, stroke, severe health risks, or death. The guest himself is well informed of all possible dangers and shall be held liable for accidents or injuries during the event.</p>
          <p class="info-board__text info-board__text--dot">You may be expelled by safety guards when you make a noise, abuse or assault that hurts others.</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">Restricted Items</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">Glass items, cans, fireworks, spray cans, torches, flag poles, flag poles, selfie stick, umbrellas, baseball bats, weapons, tools, sticks, stab or thrust weapons, firearms or other items that might be used as a weapon, items that might have a negative effect on the safety, health, or wellbeing of other audience members, and any other item which may be considered as dangerous by the organization.</p>
          <p class="info-board__text info-board__text--dot">Drones and remote-control toys</p>
          <p class="info-board__text info-board__text--dot">Carriers, Carts, Bikes, Scooters, Skateboards, other electronic device that has mobility</p>
          <p class="info-board__text info-board__text--dot">Any hard balls (Baseball, Soccer Balls, Basket Balls, Boomerang, etc)</p>
          <p class="info-board__text info-board__text--dot">Unauthorized professional cameras with tripods, large sized zoom lenses including DSLR cameras.</p>
          <p class="info-board__text info-board__text--dot">Expensive items (the festival is not responsible for personal property loss)</p>
          <p class="info-board__text info-board__text--dot">1 Mat (Size over 1m*1m) per person, lawn chairs, tents, ice boxes, or other camping gears.</p>
          <p class="info-board__text info-board__text--dot">Drugs or drug paraphernalia that are prohibited by Korean Government</p>
          <p class="info-board__text info-board__text--dot">Any food/beverage or any liquid (only one bottle of 500ml water is allowed)</p>
          <p class="info-board__text info-board__text--dot">Other items that has potential threaten festival’s production (LED, Laser, pointer, plan card, etc)</p>
          <p class="info-board__text info-board__text--dot">Other items that has potential threaten festival security</p>
          <p class="info-board__text info-board__text--dot">Necessary walking aids and wheelchairs are allowed but there might be some restrictions for certain areas of festival.</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">Notice</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">The artist's circumstances may alter the cast artists, schedules, and times. Due to this reason, no refund or partial refund is possible.</p>
          <p class="info-board__text info-board__text--dot">Please keep the area tidy and the trash in the trash bin when you eat food to ensure pleasant watching and to protect the venue.</p>
          <p class="info-board__text info-board__text--dot">Individual events, promotions and commercial activities that were not discussed in advance are not allowed.</p>
          <p class="info-board__text info-board__text--dot">Please keep an eye on the facilities and decorations inside and outside the site. In the event of damages, you may be held liable for compensation.</p>
          <p class="info-board__text info-board__text--dot">Garlands, gifts, fan letters, etc. for the artist are not accepted.</p>
          <p class="info-board__text info-board__text--dot">Pet is not allowed. (However, guide dogs for the blind can be entered as an exception.)</p>
          <p class="info-board__text info-board__text--dot">You can move between stages freely after wearing the admission band. Each performance venue is limited in capacity and may be limited to safety issues depending on the circumstances.</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">Coatroom</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">The goods storage service is operated by external partner with the organizer with the fee.</p>
          <p class="info-board__text info-board__text--dot">Service fee will be notified later.</p>
          <p class="info-board__text info-board__text--dot">Your goods will be stored in a special plastic bag. Please note that we are not responsible for the loss or damage to the item caused by the lost or not visited by the closing time. Be aware to have your number ticket with you.</p>
          <p class="info-board__text info-board__text--dot">Cannot store goods that are fragile or over-sized. However, you can store the carrier.</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">Emergency</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">Inside and outside the event area, you will find a medical booth and an ambulance with simple first aid.</p>
          <p class="info-board__text info-board__text--dot">In the event of an emergency, quickly notify the appropriate personnel, bodyguards, or staff at the nearest information booth.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- //info-board-->