<%
page = "information"
sub = 4
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header -->

<!-- 준비중 -->
<div class="temporary-box" style="display:none;">
  <div class="temporary-box__inner">
    <span class="temporary-box__logo">
      <img src="../../images/blank/blank.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img js-lazy-img">
    </span>
    <span class="temporary-box__txt">Coming Soon</span>
  </div>
</div>
<!-- // 준비중 -->

<div class="info-box">
  <div class="info-box__text">
    <i class="info-box__point-ico is-desktop"></i>분실물 수령은 <span class="info-box__text-pink">직접 방문</span>하여 받는 것을 원칙으로 하며 분실물 수령 시 <span class="info-box__text-pink">본인 신분증</span>(주민등록증, 운전면허증, 여권 등)을 반드시 지참하시기 바랍니다.
  </div>
  <div class="info-box__text">
    <a href="tel:+82-2-515-8907" class="info-box__tel">+82·2·515·8907</a>
    <a href="mailto:info@spectrum.com" class="info-box__email">info@spectrum.com</a>
  </div>
</div>
<!-- //info-box -->

<div class="lost-items">
  <div class="lost-items__wrap">
    <ul class="lost-items__list">
    <% for(var i=12; i>0; i--){ %>
    <li class="lost-items__item" data-num="No.1<%= i+1 %>">
      <div class="lost-items__img-wrap">
        <% if(i%2===0){ %>
        <img src="../../images/blank/blank.png" data-src="http://i.imgur.com/T14PGxZ.jpg" alt="" class="lost-items__img js-lazy-img">
        <% } else { %>
        <img src="../../images/blank/blank.png" data-src="http://i.imgur.com/8tGuYe8.png" alt="" class="lost-items__img js-lazy-img">
        <% } %>
      </div>
    </li>
    <% } %>
  </ul>
  </div>

  <div class="btn-wrap">
    <a href="" class="btn-more2">More</a>
  </div>
</div>
<!-- //lost-items -->
