<%
  page = "vvip"
%>
<% layout('../_layout/_layout') -%>
<div class="content-section">
  <h2 class="content-section__tit vvip-section-title">VVIP Package</h2>
  <div class="vvip-title">
    <img src="../../images/blank/blank.png" data-src="../../images/vvip/vvip_title_02.jpg" alt="VVIP Table Information" class="vvip-title__img js-lazy-img">
  </div>
</div>
<!-- // content-section -->
<div class="content-section">
  <h2 class="content-section__tit vvip-section-title">VVIP Map</h2>
  <div class="vvip-content">
    <!-- 준비중 -->
    <!--<div class="temporary-box">
      <div class="temporary-box__inner">
        <span class="temporary-box__logo">
          <img src="../../images/blank/blank.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img js-lazy-img">
        </span>
        <span class="temporary-box__txt">Coming Soon</span>
      </div>
    </div>-->
    <!-- // 준비중 -->
    <!-- VVIP Map -->
    <div class="vvip-map">
      <img src="../../images/blank/blank.png" data-src="../../images/vvip/vip_map.jpg" alt="" class="vvip-map__img js-lazy-img">
    </div>
    <!-- // VVIP Map -->
  </div>
</div>
<!-- // content-section -->
<div class="content-section">
  <h2 class="content-section__tit vvip-section-title">VVIP Starcity Stage</h2>
  <div class="vvip-content">
    <!-- 준비중 -->
    <div class="temporary-box" style="display:none;">
      <div class="temporary-box__inner">
        <span class="temporary-box__logo">
          <img src="../../images/blank/blank.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img js-lazy-img">
        </span>
        <span class="temporary-box__txt">Coming Soon</span>
      </div>
    </div>
    <!-- // 준비중 -->
    <!-- VVIP Starcity Stage -->
    <div class="vvip-stage">
      <img src="../../images/blank/blank.png" data-src="../../images/vvip/vvip_starcity.jpg" alt="" class="vvip-stage__img js-lazy-img">
      <div class="stage-info">
        <!--<div class="stage-info__type-list">-->
          <!--<div class="stage-info__type stage-info__type&#45;&#45;star5">Star 5</div>-->
          <!--<div class="stage-info__type stage-info__type&#45;&#45;star4">Star 4</div>-->
          <!--<div class="stage-info__type stage-info__type&#45;&#45;star3">Star 3</div>-->
          <!--<div class="stage-info__type stage-info__type&#45;&#45;star2">Star 2</div>-->
          <!--<div class="stage-info__type stage-info__type&#45;&#45;star1">star 1</div>-->
        <!--</div>-->
        <p class="stage-info__txt">*상기 이미지는 예시이며 상황에 따라 변경될 수 있습니다.</p>
      </div>
    </div>
    <!-- // VVIP Starcity Stage -->
  </div>
  <!-- // vvip-content -->
  <div class="vvip-content vvip-content--border-none vvip-content--m-border-none">
    <div class="stage-tab" data-tab="true">
      <ul class="stage-tab__list js-list">
        <li class="stage-tab__item is-active">
          <a href="#tab1" class="stage-tab__link" data-title="Star 5">Star 5</a>
        </li>
        <li class="stage-tab__item">
          <a href="#tab2" class="stage-tab__link" data-title="Star 4">Star 4</a>
        </li>
        <li class="stage-tab__item">
          <a href="#tab3" class="stage-tab__link" data-title="Star 3">Star 3</a>
        </li>
        <li class="stage-tab__item">
          <a href="#tab4" class="stage-tab__link" data-title="Star 2">Star 2</a>
        </li>
        <!--내용 없는 Tab 비활성화 상태 180629추가-->
        <li class="stage-tab__item stage-tab__item--disabled">
          <span class="stage-tab__link" data-title=""></span>
        </li>
        <!--//내용 없는 Tab 비활성화 상태 180629추가-->
      </ul>
    </div>
    <!-- //tab -->
    <%
      for(var i=0; i<5; i++){
    %>
    <div class="stage-tab-content <% if(i===0){ %>is-active<% } %>" id="tab<%= i+1 %>">
      <h3 class="vvip-content__tit">Starcity Stage Star <%= 5-i %></h3>
      <div class="stage-sequence">
        <dl class="stage-sequence__list">
          <dt class="stage-sequence__header">
            <span class="stage-sequence__name">1st Oct</span>
          </dt>
          <dd class="stage-sequence__body">
            · 8인 테이블
            <br> · VVIP 티켓 8매
            <br> · VVIP 티켓을 장당 &#8361;250,000으로 최대 4장까지 추가 구매가능
            <br> · 기본 세트: 4 Bottles + Drink Set + 안주
            <br> · 발렛파킹 패스 3매
          </dd>
        </dl>
        <dl class="stage-sequence__list">
          <dt class="stage-sequence__header stage-sequence__header--sold-out">
            <span class="stage-sequence__name">2st Oct</span>
          </dt>
          <dd class="stage-sequence__body">
            · Sold Out
          </dd>
        </dl>
      </div>
    </div>
    <% } %>
    <!-- // stage-tab-content -->
  </div>
  <!-- // vvip-content -->
  <div class="vvip-content vvip-content--m-border-none" id="vvipApplication">
    <div class="vvip-application">
      <h3 class="vvip-content__tit">VVIP Table Application</h3>
      <div class="application-form">
        <dl class="application-form__row">
          <dt class="application-form__th">Stage Seat</dt>
          <dd class="application-form__td">
            <select name="" id="" class="application-form__select application-form__select--w100p">
              <option value="">Starcity Stage Star 1</option>
              <option value="">Starcity Stage Star 2</option>
              <option value="">Starcity Stage Star 3</option>
              <option value="">Starcity Stage Star 4</option>
              <option value="">Super Suite</option>
            </select>
          </dd>
        </dl>
        <dl class="application-form__row application-form__row--next">
          <dt class="application-form__th">Date</dt>
          <dd class="application-form__td">
            <select name="" id="" class="application-form__select application-form__select--w100p">
              <option value="">April 10</option>
              <option value="">April 11</option>
            </select>
          </dd>
        </dl>
        <!--<dl class="application-form__row">
          <dt class="application-form__th">Seat Selection</dt>
          <dd class="application-form__td">
            <input type="text" class="application-form__input-text application-form__input-text&#45;&#45;w100p">
          </dd>
        </dl>-->
        <dl class="application-form__row application-form__row--next">
          <dt class="application-form__th">Name</dt>
          <dd class="application-form__td">
            <input type="text" class="application-form__input-text application-form__input-text--w100p">
          </dd>
        </dl>
        <dl class="application-form__row application-form__row--next">
          <dt class="application-form__th">Phone</dt>
          <dd class="application-form__td">
            <input type="text" class="application-form__input-text application-form__input-text--w100p">
          </dd>
        </dl>
        <dl class="application-form__row application-form__row--next">
          <dt class="application-form__th">E-Mail</dt>
          <dd class="application-form__td">
            <input type="text" class="application-form__input-text application-form__input-text--w100p">
          </dd>
        </dl>
      </div>
      <div class="application-info">
        <ul class="application-info__list">
          <li class="application-info__item">Stage의 개별 Seat를 확인 후 선택한 Seat를 입력해주세요</li>
          <li class="application-info__item">하단 '2018 SPECTRUM VVIP 예약신청 완료' 버튼을 클릭하시면 VVIP 테이블 예약 접수가 완료됩니다.</li>
          <li class="application-info__item">예약신청 완료 전 '테이블 예약관련 주의사항'을 꼭 확인하시기 바랍니다.</li>
          <li class="application-info__item">신청일로부터 5일이내(영업일 기준) 결제 안내 메일을 받으실 수 있습니다.</li>
          <li class="application-info__item">VVIP Q&A 관련 문의 : <a href="mailto:spectrumdmf@smtown.com" class="application-info__link">spectrumdmf@smtown.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- // vvip-content -->
  <div class="vvip-content vvip-content--m-border-none">
    <div class="vvip-agreement">
      <h3 class="vvip-agreement__tit">개인 정보 수집 및 이용 안내 (필수)</h3>
      <div class="vvip-agreement__wrap">
         <p class="vvip-agreement__txt vvip-agreement__txt--dot">수집 항목 : 이름, 휴대폰 번호, 이메일</p>
         <p class="vvip-agreement__txt vvip-agreement__txt--dot">수집 목적 : 예약신청 및 신청결과 회신</p>
         <p class="vvip-agreement__txt vvip-agreement__txt--dot">이용 기간 : 원칙적으로, 개인 정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.</p>
         <p class="vvip-agreement__txt vvip-agreement__txt--indent">단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 최대 3개월 동안 개인정보를 보관할 수 있습니다.</p>
      </div>
      <div class="vvip-agreement__footer">
        <label class="checkbox-set">
          <input type="checkbox" name="" class="checkbox-set__input">
          <i class="checkbox-set__ico"></i> 개인 정보 수집 및 이용에 동의합니다.</label>
      </div>
    </div>
  </div>
  <!-- // vvip-content -->
  
  <div class="vvip-checkout">
    <div class="vvip-checkout__item">
      <div class="vvip-checkout__statement">
        <div class="vvip-checkout__stage-name">Star 1</div>
        <div class="vvip-checkout__detail">
          <div class="vvip-checkout__stage-date">September 10</div>
          <div class="vvip-checkout__amount"><span class="vvip-checkout__bar"></span>1,500,000<span class="vvip-checkout__amount-tail">KRW</span></div>
        </div>
      </div>
    </div>
    <div class="vvip-checkout__item">
      <a href="#layer-popup-a" class="vvip-checkout__btn" data-popup="popup-open"><span class="vvip-checkout__btn-t">2018 SPECTRUM VVIP 예약신청</span></a>
    </div>
  </div>
  
  <div class="application-info application-info--type-full application-info--next">
    <h3 class="application-info__tit">테이블 예약관련 주의사항</h3>
    <ul class="application-info__list">
      <li class="application-info__item">2018 SPECTRUM VVIP 티켓은 2018년 만 19세 이상이 되는 분에 한해 구매 및 입장 가능합니다. (1999년 12월 31일 출생자까지 가능)</li>
      <li class="application-info__item">공연당일 위 조건이 해당되지 않는 미성년자가 티켓 구매, 소지 혹은 입장시도 시 생기는 모든 불이익은 기획사에서 책임지지 않습니다.</li>
      <li class="application-info__item">본 티켓과 입장밴드는 분실 및 훼손 시 어떠한 사유에도, 예매자 본인이어도 절대 재 발행이 불가능합니다. (티켓분실과 훼손으로 인한 피해에 대한 책임은 전적으로 구매자에게 있으니, 티켓소지에 각별히 유의해 주시기 바랍니다.</li>
      <li class="application-info__item">예약이 확인 된 분에 한해서 개별적으로 연락을 드리오니, 정확한 정보 입력을 부탁 드립니다.</li>
      <li class="application-info__item">VVIP 라운지는 2018 SPECTRUM VVIP 티켓 소지자 본인 만이 입장 가능합니다. (일반티켓 소지자와 동행 불가)</li>
      <li class="application-info__item">사전 입금 선착순으로 앞 좌석부터 자리가 배정되며, 테이블 위치 지정 및 현장 변경은 불가합니다. 또한 소파 및 테이블의 수량이 한정되어 있어, 좌석 추가가 불가하오니 이점 양해 부탁 드립니다.</li>
      <li class="application-info__item">현장 VVIP 전용 입구에서 예약자 본인 확인 후 VVIP Zone 안내를 받으실 수 있습니다.
        <div class="application-info__depth">
          <div class="application-info__text application-info__text--bold">본인 확인 가능한 신분증</div>
          <p class="application-info__text application-info__text--dash">대한민국 국민 : 주민등록증, 여권, 운전면허증, 주민등록증 발급 신청서</p>
          <p class="application-info__text application-info__text--dash">외국인 : 여권, 외국인등록증, 자국에서 발급한 신분증+여권 사본(동시 지참)</p>
          <p class="application-info__text application-info__text--dash">상기 신분증 외의 증빙서류, SNS, 이메일 등의 방법으로는 본인인증이 불가합니다.</p>
        </div>
      </li>
      <li class="application-info__item">현장 VVIP 티켓 교환 및 추가 티켓 구매 시 VVIP 전용 입구에서 예매자 본인 확인 후 교환 및 구매 가능합니다.</li>
      <li class="application-info__item">입금 후 취소 및 환불이 불가하오니 신중한 구매 부탁 드립니다.</li>
      <li class="application-info__item">현장에서는 카드 결제만 가능합니다.</li>
      <li class="application-info__item application-info__item--require">기타 티켓 및 공연 관람과 관련된 사항은 홈페이지의 공지사항을 꼭 확인 부탁 드립니다.</li>
      <li class="application-info__item application-info__item--require">상기 이미지는 예시이며 상황에 따라 변경될 수 있습니다.</li>
      <li class="application-info__item application-info__item--require">분실물은 인포메이션 부스에서 접수를 받으며 접수되지 않은 분실물에 대해서는 어떠한 경우에도 책임지지 않습니다. 분실 접수된 물품은 행사종료 이후 2018년 9월 14일(금)까지 공식 SNS를 통하여 공지 예정입니다. 해당 물품은 행사 종류 이후 2018년 9월 23일(일)까지 보관되오며, 이후 폐기됩니다.</li>
    </ul>
  </div>
</div>
<!-- // content-section -->

<!-- 신청완료 팝업 -->
<div class="layer-popup" id="layer-popup-a">
  <div class="layer-popup__wrap">
    <div class="layer-popup__inner">
      <div class="layer-popup__head">
        <h2 class="layer-popup__title">VVIP신청완료</h2>
        <a href="#layer-popup-a" class="layer-popup__close" data-popup="popup-close"><i class="layer-popup__close-icon"></i>팝업 닫기 버튼</a>
      </div>
      <div class="layer-popup__body">
        <div class="application-detail">
          <p class="application-detail__desc">신청이 완료되었습니다.<br> 신청일로부터 5일 이내에 기입하신 연락처로 개별 연락드리겠습니다.</p>
          <div class="application-detail__info-wrap">
            <div class="application-detail__table">
              <div class="application-detail__row">
                <div class="application-detail__th">Stage Seat</div>
                <div class="application-detail__td">Starcity Stage Star 1</div>
              </div>
              <div class="application-detail__row">
                <div class="application-detail__th">Date</div>
                <div class="application-detail__td">September 10</div>
              </div>
              <!--<div class="application-detail__row">
                <div class="application-detail__th">Seat Selection</div>
                <div class="application-detail__td">H21</div>
              </div>-->
              <div class="application-detail__row">
                <div class="application-detail__th">Name</div>
                <div class="application-detail__td">정한빛</div>
              </div>
              <div class="application-detail__row">
                <div class="application-detail__th">Phone</div>
                <div class="application-detail__td">010-7117-8916</div>
              </div>
              <div class="application-detail__row">   
                <div class="application-detail__th">E-Mail</div>
                <div class="application-detail__td application-detail__email">gksqlc00@gmail.com</div>
              </div>
            </div>
          </div>
        </div>
        <div class="account">
          <h3 class="account__tit">입금계좌 정보</h3>
          <div class="account__table">
            <div class="account__row">
              <div class="account__th">은행명</div>
              <div class="account__td">KEB 하나 은행 지점</div>
            </div>
            <div class="account__row">
              <div class="account__th">계좌개설점</div>
              <div class="account__td">삼성중앙역</div>
            </div>
            <div class="account__row">
              <div class="account__th">예금주</div>
              <div class="account__td">드림메이커엔터테인먼트리미티드</div>
            </div>
            <div class="account__row">
              <div class="account__th">계좌번호</div>
              <div class="account__td">559-910024-02804</div>
            </div>
            <div class="account__row">
              <div class="account__th">스위프트 코드</div>
              <div class="account__td">KOEXKRSE</div>
            </div>
            <div class="account__row">
              <div class="account__th">은행 주소</div>
              <div class="account__td">서울 강남구 삼성로 570</div>
            </div>
            <div class="account__row">
              <div class="account__th">은행 전화번호</div>
              <div class="account__td">+82 2-564-1111</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dimmed"></div>
<!-- // 신청완료 팝업 -->