<div class="site-header">
  <div class="mobile-header">
    <h1 class="top-logo">
      <a href="../main/main.html" class="top-logo__link"><img src="../../images/layout/top-logo.png" alt="<%= data.site.name %>" class="top-logo__img"></a>
    </h1>
    <button type="button" class="mobile-button-open" disabled>mobile menu open</button>
    <div class="site-language">
      <h2 class="site-language__tit">Language</h2>
      <p class="site-language__location">ENG</p>
      <ul class="site-language__list">
        <li class="site-language__item"><a href="" class="site-language__link">KOR</a></li>
        <li class="site-language__item"><a href="" class="site-language__link">ENG</a></li>
        <li class="site-language__item"><a href="" class="site-language__link">JPN</a></li>
        <li class="site-language__item"><a href="" class="site-language__link">CHN</a></li>
      </ul>
    </div>
    <!-- //site-language -->
  </div>
  <!-- //mobile-header -->
  <div class="mobile-menu">
    <div class="site-gnb">
      <h2 class="site-gnb__tit">GNB</h2>
      <ul class="site-gnb__list">
        <%
          for (var depth1 in data.pages) {
            var i = Object.keys(data.pages).indexOf(depth1);
        %>
          <% if ((data.pages[depth1].children) && (data.pages[depth1].children.length > 1)) { %>
            <li class="site-gnb__item site-gnb__item--dropdown">
              <a href="<%= data.pages[depth1].links[0] %>" class="site-gnb__link">
                <%= data.pages[depth1].title.kor %>
              </a>
              <ul class="site-gnb__list2">
                <% data.pages[depth1].children.forEach(function(depth2,idx) { %>
                  <li class="site-gnb__item2">
                    <a href="<%= depth2.links[0] %>" class="site-gnb__link2">
                      <%= depth2.title %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            </li>
          <% } else {%>
            <li class="site-gnb__item">
              <a href="<%= data.pages[depth1].links[0] %>" class="site-gnb__link">
                <%= data.pages[depth1].title.kor %>
              </a>
            </li>
          <% } %>
        <% } %>
      </ul>
    </div>
    <!-- //site-gnb -->
    <div class="sns-quick">
      <h2 class="sns-quick__tit">Follow us</h2>
      <ul class="sns-quick__list">
        <li class="sns-quick__item"><a href="https://www.facebook.com/spectrumdmf/" target="_blank" class="sns-quick__link"><span class="sns-ico sns-ico--facebook">Facebook</span></a></li>
        <li class="sns-quick__item"><a href="https://www.instagram.com/spectrumdmf/" target="_blank" class="sns-quick__link"><span class="sns-ico sns-ico--instagram">Instagram</span></a></li>
      </ul>
    </div>
    <!-- //sns-quick -->
    <button type="button" class="mobile-button-close" disabled>mobile menu close</button>
  </div>
  <!-- //mobile-menu -->
</div>
<!-- //site-header -->