<%
  page = "vvip"
%>
<% layout('../_layout/_layout') -%>
<div class="content-section">
  <h2 class="content-section__tit vvip-section-title">VVIP Package</h2>
  <div class="vvip-title">
    <img src="../../images/blank/blank.png" data-src="../../images/vvip/vvip_title_02.jpg" alt="VVIP Table Information" class="vvip-title__img js-lazy-img">
  </div>
</div>
<!-- // content-section -->
<div class="content-section">
  <h2 class="content-section__tit vvip-section-title">VVIP Map</h2>
  <div class="vvip-content">
    <!-- 준비중 -->
    <!--<div class="temporary-box">
      <div class="temporary-box__inner">
        <span class="temporary-box__logo">
          <img src="../../images/blank/blank.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img js-lazy-img">
        </span>
        <span class="temporary-box__txt">Coming Soon</span>
      </div>
    </div>-->
    <!-- // 준비중 -->
    <!-- VVIP Map -->
    <div class="vvip-map">
      <img src="../../images/blank/blank.png" data-src="../../images/vvip/vip_map.jpg" alt="" class="vvip-map__img js-lazy-img">
    </div>
    <!-- // VVIP Map -->
  </div>
</div>
<!-- // content-section -->
<div class="content-section">
  <h2 class="content-section__tit vvip-section-title">VVIP Starcity Stage</h2>
  <div class="vvip-content">
    <!-- 준비중 -->
    <div class="temporary-box" style="display:none;">
      <div class="temporary-box__inner">
        <span class="temporary-box__logo">
          <img src="../../images/blank/blank.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img js-lazy-img">
        </span>
        <span class="temporary-box__txt">Coming Soon</span>
      </div>
    </div>
    <!-- // 준비중 -->
    <!-- VVIP Starcity Stage -->
    <div class="vvip-stage">
      <img src="../../images/blank/blank.png" data-src="../../images/vvip/vvip_starcity.jpg" alt="" class="vvip-stage__img js-lazy-img">
      <div class="stage-info">
        <!--<div class="stage-info__type-list">-->
          <!--<div class="stage-info__type stage-info__type&#45;&#45;star5">Star 5</div>-->
          <!--<div class="stage-info__type stage-info__type&#45;&#45;star4">Star 4</div>-->
          <!--<div class="stage-info__type stage-info__type&#45;&#45;star3">Star 3</div>-->
          <!--<div class="stage-info__type stage-info__type&#45;&#45;star2">Star 2</div>-->
          <!--<div class="stage-info__type stage-info__type&#45;&#45;star1">star 1</div>-->
        <!--</div>-->
        <p class="stage-info__txt">* The above image is for your reference only and may change according to the circumstances.</p>
      </div>
    </div>
    <!-- // VVIP Starcity Stage -->
  </div>
  <!-- // vvip-content -->
  <div class="vvip-content vvip-content--border-none vvip-content--m-border-none">
    <div class="stage-tab" data-tab="true">
      <ul class="stage-tab__list js-list">
        <li class="stage-tab__item is-active">
          <a href="#tab1" class="stage-tab__link" data-title="Star 5">Star 5</a>
        </li>
        <li class="stage-tab__item">
          <a href="#tab2" class="stage-tab__link" data-title="Star 4">Star 4</a>
        </li>
        <li class="stage-tab__item">
          <a href="#tab3" class="stage-tab__link" data-title="Star 3">Star 3</a>
        </li>
        <li class="stage-tab__item">
          <a href="#tab4" class="stage-tab__link" data-title="Star 2">Star 2</a>
        </li>
        <!--내용 없는 Tab 비활성화 상태 180629추가-->
        <li class="stage-tab__item stage-tab__item--disabled">
          <span class="stage-tab__link" data-title=""></span>
        </li>
        <!--//내용 없는 Tab 비활성화 상태 180629추가-->
      </ul>
    </div>
    <!-- //tab -->
    <%
      for(var i=0; i<5; i++){
    %>
    <div class="stage-tab-content <% if(i===0){ %>is-active<% } %>" id="tab<%= i+1 %>">
      <h3 class="vvip-content__tit">Starcity Stage Star <%= 5-i %></h3>
      <div class="stage-sequence">
        <dl class="stage-sequence__list">
          <dt class="stage-sequence__header">
            <span class="stage-sequence__name">1st Oct</span>
          </dt>
          <dd class="stage-sequence__body">
            · 8인 테이블
            <br> · VVIP 티켓 8매
            <br> · VVIP 티켓을 장당 &#8361;250,000으로 최대 4장까지 추가 구매가능
            <br> · 기본 세트: 4 Bottles + Drink Set + 안주
            <br> · 발렛파킹 패스 3매
          </dd>
        </dl>
        <dl class="stage-sequence__list">
          <dt class="stage-sequence__header stage-sequence__header--sold-out">
            <span class="stage-sequence__name">2st Oct</span>
          </dt>
          <dd class="stage-sequence__body">
            · Sold Out
          </dd>
        </dl>
      </div>
    </div>
    <% } %>
    <!-- // stage-tab-content -->
  </div>
  <!-- // vvip-content -->
  <div class="vvip-content vvip-content--m-border-none" id="vvipApplication">
    <div class="vvip-application">
      <h3 class="vvip-content__tit">VVIP Table Application</h3>
      <div class="application-form">
        <dl class="application-form__row">
          <dt class="application-form__th">Stage Seat</dt>
          <dd class="application-form__td">
            <select name="" id="" class="application-form__select application-form__select--w100p">
              <option value="">Starcity Stage Star 1</option>
              <option value="">Starcity Stage Star 2</option>
              <option value="">Starcity Stage Star 3</option>
              <option value="">Starcity Stage Star 4</option>
              <option value="">Super Suite</option>
            </select>
          </dd>
        </dl>
        <dl class="application-form__row application-form__row--next">
          <dt class="application-form__th">Date</dt>
          <dd class="application-form__td">
            <select name="" id="" class="application-form__select application-form__select--w100p">
              <option value="">April 10</option>
              <option value="">April 11</option>
            </select>
          </dd>
        </dl>
        <!--<dl class="application-form__row">
          <dt class="application-form__th">Seat Selection</dt>
          <dd class="application-form__td">
            <input type="text" class="application-form__input-text application-form__input-text&#45;&#45;w100p">
          </dd>
        </dl>-->
        <dl class="application-form__row application-form__row--next">
          <dt class="application-form__th">Name</dt>
          <dd class="application-form__td">
            <input type="text" class="application-form__input-text application-form__input-text--w100p">
          </dd>
        </dl>
        <dl class="application-form__row application-form__row--next">
          <dt class="application-form__th">Phone</dt>
          <dd class="application-form__td">
            <input type="text" class="application-form__input-text application-form__input-text--w100p">
          </dd>
        </dl>
        <dl class="application-form__row application-form__row--next">
          <dt class="application-form__th">E-Mail</dt>
          <dd class="application-form__td">
            <input type="text" class="application-form__input-text application-form__input-text--w100p">
          </dd>
        </dl>
      </div>
      <div class="application-info">
        <ul class="application-info__list">
          <li class="application-info__item">Please specify which seat you wish to purchase</li>
          <li class="application-info__item">Please click "2018 SPECTRUM VVIP APPLICATION COMPLETE" button at the bottom of the page to submit your application.</li>
          <li class="application-info__item">Please carefully read over all "VVIP Table Reservation Information" before submitting your application.</li>
          <li class="application-info__item">You will receive an email on how to make payment within 5 business days.</li>
          <li class="application-info__item">VVIP Contact : <a href="mailto:spectrumdmf@smtown.com" class="application-info__link">spectrumdmf@smtown.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- // vvip-content -->
  <div class="vvip-content vvip-content--m-border-none">
    <div class="vvip-agreement">
      <h3 class="vvip-agreement__tit">Personal Information Collection and Usage (Mandatory)</h3>
      <div class="vvip-agreement__wrap">
         <p class="vvip-agreement__txt vvip-agreement__txt--dot">Personal information collected: name, cell phone number, email address</p>
         <p class="vvip-agreement__txt vvip-agreement__txt--dot">Purpose of collection: to receive and reply reservation application</p>
         <p class="vvip-agreement__txt vvip-agreement__txt--dot">Duration: In principle, all personal information collected will be permanently deleted after the purpose is achieved.</p>
         <p class="vvip-agreement__txt vvip-agreement__txt--indent">However, if it is necessary to keep personal information in accordance with the relevant laws and regulations, we may keep personal information up to 3 months.</p>
      </div>
      <div class="vvip-agreement__footer">
        <label class="checkbox-set">
          <input type="checkbox" name="" class="checkbox-set__input">
          <i class="checkbox-set__ico"></i> By clicking below, you are agreeing to the Terms and Conditions and Privacy Policy</label>
      </div>
    </div>
  </div>
  <!-- // vvip-content -->
  
  <div class="vvip-checkout">
    <div class="vvip-checkout__item">
      <div class="vvip-checkout__statement">
        <div class="vvip-checkout__stage-name">Star 1</div>
        <div class="vvip-checkout__detail">
          <div class="vvip-checkout__stage-date">September 10</div>
          <div class="vvip-checkout__amount"><span class="vvip-checkout__bar"></span>1,500,000<span class="vvip-checkout__amount-tail">KRW</span></div>
        </div>
      </div>
    </div>
    <div class="vvip-checkout__item">
      <a href="#layer-popup-a" class="vvip-checkout__btn" data-popup="popup-open"><span class="vvip-checkout__btn-t">2018 SPECTRUM VVIP Reservation Application</span></a>
    </div>
  </div>
  
  <div class="application-info application-info--type-full application-info--next">
    <h3 class="application-info__tit">VVIP Table Reservation Information</h3>
    <ul class="application-info__list">
      <li class="application-info__item">SPECTRUM 2018 VVIP tickets are only available to those aged 19 and above (born on or before December 31, 1999).</li>
      <li class="application-info__item">If you are underage and do not meet the above requirements, you will not be able to enter the venue nor get a refund.</li>
      <li class="application-info__item">Even if you are the purchaser, damaged or lost tickets and wristbands will not be re-issued under any circumstances. (Purchaser shall be solely responsible for all damages due to lost or damaged tickets/wristbands, so please take a good care of your ticket/wristband).</li>
      <li class="application-info__item">We will individually contact those who send us VVIP Table Application. Therefore, please make sure to provide correct information.</li>
      <li class="application-info__item">VVIP Lounge is only accessible by those with SPECTRUM 2018 VVIP tickets. (Those with Regular Tickets will be denied access).</li>
      <li class="application-info__item">VVIP table will be assigned starting from the front by the order of payment and the location cannot be changed. Also, as the number of sofas and tables are limited, you will not be able to add additional seats.</li>
      <li class="application-info__item">Please visit VVIP Entrance on show day for purchase confirmation and receive guide to VVIP Zone.
        <div class="application-info__depth">
          <div class="application-info__text application-info__text--bold">Acceptable ID</div>
          <p class="application-info__text application-info__text--dash">Korean: social security card, passport, driver’s license, or document providing your ID issued by the Korean government</p>
          <p class="application-info__text application-info__text--dash">Foreigner: passport, alien registration card, or both foreign government-issued ID and a copy of your passport</p>
          <p class="application-info__text application-info__text--dash">Any other documents, SNS, or email will not be accepted.</p>
        </div>
      </li>
      <li class="application-info__item">After a purchase confirmation at the VVIP Entrance, you will be able to exchange your VVIP ticket for a wristband or purchase additional VVIP tickets.</li>
      <li class="application-info__item">As there will be no refund, please carefully review all information before making your purchase.</li>
      <li class="application-info__item">Only credit cards will be accepted on-site.</li>
      <li class="application-info__item application-info__item--require">For other information regarding the festival, please check Spectrum Dance Music Festival official website.</li>
      <li class="application-info__item application-info__item--require">The above image is for your reference only and may change according to the circumstances.</li>
      <li class="application-info__item application-info__item--require">After the festival is over, we will post Lost and Found items on the official SNS until Friday, September 14 2018. The items will be kept safely until Sunday, September 23 2018 and then discarded.</li>
    </ul>
  </div>
</div>
<!-- // content-section -->

<!-- 신청완료 팝업 -->
<div class="layer-popup" id="layer-popup-a">
  <div class="layer-popup__wrap">
    <div class="layer-popup__inner">
      <div class="layer-popup__head">
        <h2 class="layer-popup__title">VVIP Application Complete</h2>
        <a href="#layer-popup-a" class="layer-popup__close" data-popup="popup-close"><i class="layer-popup__close-icon"></i>팝업 닫기 버튼</a>
      </div>
      <div class="layer-popup__body">
        <div class="application-detail">
          <p class="application-detail__desc">Thank you for completing Spectrum VVIP Reservation Application.<br>We will contact you via the phone number you provided within 5 business days.</p>
          <div class="application-detail__info-wrap">
            <div class="application-detail__table">
              <div class="application-detail__row">
                <div class="application-detail__th">Stage Seat</div>
                <div class="application-detail__td">Starcity Stage Star 1</div>
              </div>
              <div class="application-detail__row">
                <div class="application-detail__th">Date</div>
                <div class="application-detail__td">September 10</div>
              </div>
              <!--<div class="application-detail__row">
                <div class="application-detail__th">Seat Selection</div>
                <div class="application-detail__td">H21</div>
              </div>-->
              <div class="application-detail__row">
                <div class="application-detail__th">Name</div>
                <div class="application-detail__td">정한빛</div>
              </div>
              <div class="application-detail__row">
                <div class="application-detail__th">Phone</div>
                <div class="application-detail__td">010-7117-8916</div>
              </div>
              <div class="application-detail__row">   
                <div class="application-detail__th">E-Mail</div>
                <div class="application-detail__td application-detail__email">gksqlc00@gmail.com</div>
              </div>
            </div>
          </div>
        </div>
        <div class="account">
          <h3 class="account__tit">Bank Information</h3>
          <div class="account__table">
            <div class="account__row">
              <div class="account__th">Bank</div>
              <div class="account__td">KEB Hana Bank</div>
            </div>
            <div class="account__row">
              <div class="account__th">Branch</div>
              <div class="account__td">KEB Hana Bank Samsung Joongang Branch</div>
            </div>
            <div class="account__row">
              <div class="account__th">Account Name</div>
              <div class="account__td">Dream Maker Entertainment Limited</div>
            </div>
            <div class="account__row">
              <div class="account__th">Account Number</div>
              <div class="account__td">559-910024-02804</div>
            </div>
            <div class="account__row">
              <div class="account__th">Swift Code</div>
              <div class="account__td">KOEXKRSE</div>
            </div>
            <div class="account__row">
              <div class="account__th">Bank Address</div>
              <div class="account__td">570 Samsung Joongang-ro, Gangnamgu, Seoul, Korea</div>
            </div>
            <div class="account__row">
              <div class="account__th">Phone</div>
              <div class="account__td">+82 2-514-1111</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dimmed"></div>
<!-- // 신청완료 팝업 -->