$mobile-size:668px;
$tablet-size:1024px;
$site-width:1240px;

$black-tit:#222;
$black-body:#555;
$pink:#ff008c;
$purple:#8748fb;
$red:#f64c47;
$sky:#56a4ff;
$mint:#3df9f8;


$light:100;
$normal:300;
$regular:400;
$bold:700;

$font-ko:'Noto Sans KR',sans-serif;