<div class="board-view">
  <div class="board-view__header">
    <!--
    Event :
    <h2 class="board-view__tit">
      <span class="board-view__category board-view__category--event">Event</span>
      드림스테이션 리브 포 나우, 5월 27일 개최 드림스테이션 #블라인드 티켓이 언제? 내일!!! 오픈 합니다. 세계 정상급 국 내외 아티스트 10팀과 함께할 드림스테이션 블라인드 티켓을 절대 놓치지 마세요!
    </h2>
    -->
    <h2 class="board-view__tit">
      <span class="board-view__category board-view__category--notice">Notice</span>
      드림스테이션 리브 포 나우, 5월 27일 개최 드림스테이션 #블라인드 티켓이 언제? 내일!!! 오픈 합니다. 세계 정상급 국 내외 아티스트 10팀과 함께할 드림스테이션 블라인드 티켓을 절대 놓치지 마세요!
    </h2>
    <div class="board-view__wrap">
      <div class="board-view__date">2015.08.07</div>
      <div class="board-view__origin">
        <a href="" class="board-view__btn"><span class="board-view__btn-txt">기사원문</span></a>
      </div>
    </div>
  </div>
  <div class="board-view__body">
    <div class="board-article">
      <img src="../../images/blank/blank.png" data-src="https://i.imgur.com/A4mZHMd.jpg" alt="" class="js-lazy-img">
      <br>
      <br>드림스테이션 #블라인드 티켓이 언제? 내일!!! 오픈 합니다. 세계 정상급 국 내외 아티스트 10팀과 함께할 드림스테이션 블라인드 티켓을 절대 놓치지 마세요!
      <br>
      <br> *드림스테이션 블라인드 티켓 오픈*
      <br> 2017년 4월 13일 (목) 오후 2시
      <br> 정가 77,000원 → 44,000원
      <br> YES 24 <a href="http://ticket.yes24.com" target="_blank">http://ticket.yes24.com</a>
      <br> 1,000매 한정 수량, 소진 시까지, 1인(아이디당) 4매까지 예매가능
    </div><!-- //board-article -->
  </div>
  <div class="board-view__footer">
    <div class="board-view__prev"><a href="#" class="board-view__link">Prev</a></div>
    <div class="board-btn-wrap board-view__list"><a href="<%= jsonData.pages[page].links[0] %>" class="board-view__link btn-list"><span>List</span></a></div>
    <div class="board-view__next"><a href="#" class="board-view__link">Next</a></div>
    <!-- //board-btn-wrap -->
  </div>
</div><!-- //board-view -->
