<div class="site-footer">
  <div class="footer-copyright">
    <%= data.site.copyright %> <span class='inline-block'>All right reserved.</span>
  </div>
  <div class="footer-family">
    <% for (var item in data.site.family) {%>
      <a href="<%- data.site.family[item].link %>" target="_blank" class="footer-family__link footer-family__link--<%- item %>" title="<%- data.site.family[item].name %> 바로가기"><%- data.site.family[item].name %></a>
    <% } %>
  </div>
  <button type="button" class="go-to-top js-go-to-top">맨위로</button>
</div>
<!-- //site-footer -->