<%
page = "lineup"
sub = 1
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<!-- 준비중 -->
<div class="temporary-box">
  <div class="temporary-box__inner">
        <span class="temporary-box__logo">
          <img src="../../images/blank/blank.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img js-lazy-img">
        </span>
    <span class="temporary-box__txt">Coming Soon</span>
  </div>
</div>
<!-- // 준비중 -->

<!--<div class="tab4 is-mobile" data-drop-down="true">
  <div class="tab4__state js-state">
    <span class="tab4__category-name">View All</span>
  </div>
  <ul class="tab4__list js-list">
    <li class="tab4__item js-item js-active">
      <a href="#none" class="tab4__link" data-category="is-all">
        <span class="tab4__category-name">View All</span>
      </a>
    </li>
    <li class="tab4__item js-item">
      <a href="#none" class="tab4__link" data-category="js-item-1">
        <span class="tab4__category-name">Starcity</span>
      </a>
    </li>
    <li class="tab4__item js-item">
      <a href="#none" class="tab4__link" data-category="js-item-2">
        <span class="tab4__category-name">Dream Station</span>
      </a>
    </li>
    <li class="tab4__item js-item">
      <a href="#none" class="tab4__link" data-category="js-item-3">
        <span class="tab4__category-name">Electro Garden</span>
      </a>
    </li>
    <li class="tab4__item js-item">
      <a href="#none" class="tab4__link" data-category="js-item-4">
        <span class="tab4__category-name">Club Neo Jungle</span>
      </a>
    </li>
  </ul>
</div>-->
<!-- //tab4 -->

<% for(var i=0; i<2; i++){ %>
<div class="time-table" style="display:none;">
  <h3 class="time-table__title"><strong class="time-table__day">Day <%= i+1 %></strong> - <%= 27+i %> May 2017</h3>
  <div class="time-table__wrap">
    <div class="time-table__list is-all">
      <% for(var j=0; j<4; j++){ %>
      <div class="time-table__item js-item-<%= j+1 %>">
        <div class="stage-box">
          <div class="stage-box__head">
            <h4 class="stage-box__title">
            <% if(j===0){ %>
              Starcity
            <% } else if(j===1){ %>
              Dream Station
            <% } else if(j===2){ %>
              Electro Garden
            <% } else if(j===3){ %>
              Club Neo Jungle
            <% } %>
            </h4>
          </div>
          <div class="stage-box__body">
            <dl class="stage-box__list">
              <dt class="stage-box__name">Kaskade</dt>
              <dd class="stage-box__time">21:10~22:40</dd>
            </dl>
            <dl class="stage-box__list">
              <dt class="stage-box__name">Dondiablo</dt>
              <dd class="stage-box__time">20:00~21:00</dd>
            </dl>
            <dl class="stage-box__list">
              <dt class="stage-box__name">Sigma</dt>
              <dd class="stage-box__time">19:00~20:00</dd>
            </dl>
            <dl class="stage-box__list">
              <dt class="stage-box__name">Briiiz</dt>
              <dd class="stage-box__time">18:00~20:00</dd>
            </dl>
            <dl class="stage-box__list">
              <dt class="stage-box__name">Shaun Frank</dt>
              <dd class="stage-box__time">17:00~18:00</dd>
            </dl>
            <dl class="stage-box__list">
              <dt class="stage-box__name">Ksuke</dt>
              <dd class="stage-box__time">16:00~17:00</dd>
            </dl>
            <dl class="stage-box__list">
              <dt class="stage-box__name">Juncoco</dt>
              <dd class="stage-box__time">15:00~16:00</dd>
            </dl>
            <dl class="stage-box__list">
              <dt class="stage-box__name">Ak</dt>
              <dd class="stage-box__time">14:00~16:00</dd>
            </dl>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
<% } %>
<!-- //artist-board-->

<div class="btn-wrap">
  <a href="" class="btn-more2 btn-more2--another btn-more2--download">Time Table Download</a>
</div>
