<%
  var data = jsonData
%><!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title><%= pageTitle = (page == "main") ? "":data.pages[page].title.kor+" | " %><%= data.site.name %></title>
  <link type="text/css" href="../../libs/normalize/normalize.css" rel="stylesheet">
  <link type="text/css" href="../../css/fonts.css" rel="stylesheet">
  <link type="text/css" href="../../css/common.css" rel="stylesheet">
  <% if (page == "main") { %>
  <link type="text/css" href="../../css/main.css" rel="stylesheet">
  <% } else { %>
  <link type="text/css" href="../../css/styles.css" rel="stylesheet">
  <% }  %>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '233398600636542');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=233398600636542&ev=PageView
&noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body class="<%= page %>">
  <div class="wrapper">
    <div class="wrapper__row">
      <% include ../_include/_header %>
    </div>
    <div class="wrapper__row wrapper__row--height-full">
      <div class="site-container">
        <% if (page != "main") { %>
          <div class="site-content">
            <%- body  %>
          </div>
          <!-- //site-content -->
        <% } else {%>
          <div class="site-main">
            <%- body  %>
          </div>
          <!-- //site-main -->
        <% } %>
      </div>
      <!-- //site-container -->
    </div>
    <div class="wrapper__row">
      <% include ../_include/_footer %>
    </div>
  </div>
  <script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../libs/dotdotdot/dotdotdot.js"></script>
  <script type="text/javascript" src="../../js/common.js"></script>
  <% if (page == "main") { %>
    <script type="text/javascript" src="../../libs/bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
  <% }  %>
  <% if (page == "aboutus") { %>
    <script type="text/javascript" src="../../libs/bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../../js/aboutus.js"></script>
  <% }  %>
  <% if (page == "gallery") { %>
    <script type="text/javascript" src="../../libs/bxslider/jquery.bxslider.min.js"></script>
  <% }  %>
  <% if (page == "news") { %>
    <script type="text/javascript" src="../../js/news.js"></script>
  <% }  %>
  <% if (page == "ticket") { %>
    <link type="text/css" href="../../libs/scrollbar/scrollbar.css" rel="stylesheet">
    <script type="text/javascript" src="../../libs/scrollbar/scrollbar.min.js"></script>
    <script type="text/javascript" src="../../js/ticket.js"></script>
  <% }  %>
  <% if (page == "vvip") { %>
    <script type="text/javascript" src="../../js/vvip.js"></script>
  <% }  %>
  <% if (page == "lineup" && sub == 1) { %>
    <script type="text/javascript" src="../../js/timetable.js"></script>
  <% }  %>
  <% if (page == "information") { %>
    <script type="text/javascript" src="../../js/information.js"></script>
  <% }  %>
  <% if (page == "contact") { %>
    <script type="text/javascript" src="../../js/contact.js"></script>
  <% }  %>
</body>

</html>