<%
page = "contact"
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].title.kor %></h1>
</div>
<!-- //page-header-->

<div class="contact-board">
  <div class="contact-board__aligner contact-board__aligner--nth-1">
    <div class="contct-about">
      <div class="contct-about__headline">
        We believe in the power of
        <span class="contct-about__text">Experience & Know-How</span>
      </div>
      <p class="contct-about__para">
        드림메이커만의 노하우와 전략으로 평범한 것 이상의<br class="only-mobile"> 공연과 무대가 만들어질 수 있도록 합니다.<br>
      </p>
      <p class="contct-about__para contct-about__para--next">
        스펙트럼 댄스 뮤직 페스티벌을 주최, 주관하는<br class="only-mobile"> 드림메이커는<br class="only-desktop">
        국내 공연 기획사 중 유일하게 기획,<br class="only-mobile"> 제작, 연출, 운영, 배급 ALL-IN-ONE SYSTEM을 갖춘<br>
        <span class="contct-about__text2">“종합 라이브엔터테인먼트사”</span>입니다.
      </p>
    </div>
    <!-- //contct-about -->
  </div>
  <div class="contact-board__aligner contact-board__aligner--nth-2">
    <div class="tab2" data-tab="true">
      <ul class="tab2__list">
        <li class="tab2__item tab2__item--m-another is-active">
          <a href="#tab1" class="tab2__link" data-title="일반문의">일반문의</a>
        </li>
        <li class="tab2__item tab2__item--m-another">
          <a href="#tab2" class="tab2__link" data-title="협찬 및 후원 문의">협찬 및 후원 문의</a>
        </li>
      </ul>
    </div>
    <%
    for(var i=0; i<2; i++){
    %>
    <div class="tab-content <% if(i===0){ %>is-active<% } %>" id="tab<%= i+1 %>">
      <div class="contact-form">
        <dl class="contact-form__row">
          <dt class="contact-form__th">Name</dt>
          <dd class="contact-form__td">
            <input type="text" class="contact-form__input-text contact-form__input-text--w100p">
          </dd>
        </dl>
        <dl class="contact-form__row">
          <dt class="contact-form__th">E-Mail</dt>
          <dd class="contact-form__td">
            <input type="text" class="contact-form__input-text contact-form__input-text--w100p">
          </dd>
        </dl>
        <dl class="contact-form__row">
          <dt class="contact-form__th">Subject</dt>
          <dd class="contact-form__td">
            <input type="text" class="contact-form__input-text contact-form__input-text--w100p">
          </dd>
        </dl>
        <dl class="contact-form__row">
          <dt class="contact-form__th contact-form__th--text-top">Message</dt>
          <dd class="contact-form__td">
            <textarea name="" id="" cols="50" rows="10" class="contact-form__textarea contact-form__textarea--w100p"></textarea>
          </dd>
        </dl>
      </div>
      <div class="contact-board__btn-wrap">
        <a href="" class="btn-send">Send</a>
      </div>
    </div>
    <% } %>
    <!-- // tab-content -->
  </div>
</div>