.about-section { width:100%; text-align: center;
  &__wrap { margin:0 auto; padding-bottom:265px; }
  &__title { font-size:42px; margin:0;
    &:before { content:''; display:inline-block; margin-right:5px; width:30px; height:31px; background-image: url("../images/icon/polygon-ico.png"); }
    &--uppercase { text-transform: uppercase; }
  }
  &__desc { line-height: 1.8; margin-top:45px; word-break: keep-all; word-wrap: break-word; font-size:18px; }
  &__text { font-size:30px; font-weight:700; }
  @media (max-width:$tablet-size) {
    &__wrap { max-width:440px; padding-bottom:60px; }
    &__title { font-size:21px;
      &:before { margin-right:3px; width:15px; height:16px; background-size: 15px auto; background-repeat: no-repeat; }
    }
    &__desc { margin-top:20px; font-size:13px; }
    &__text { font-size:15px; }
  }
}

.history { padding-top:95px; position: relative;margin-bottom: -125px;padding-bottom: 125px;
  //&:after { content: ''; position: absolute; left: -10000px; right: -10000px; top: 0; bottom: 0; margin:auto; background:#000 url(../images/aboutus/history-bg-desktop.jpg) no-repeat 50% 0; z-index: -1;}
  &__wrap { margin-top:53px; position:relative; }
  &__title { font-size:32px; margin:0; }
  &__detail { overflow:hidden; height:343px; margin-top:38px; text-align: left; background-color:#000; background-color:rgba(0,0,0,0.7); }
  &__img-wrap { float:left; width:auto; height:inherit; box-sizing:border-box;}
  &__img { height:100%; vertical-align:top;}
  &__text-wrap { box-sizing:border-box; overflow:hidden; padding:40px; color:#fff; line-height: 1.625; }
  &__article { 
    img, object,embed { max-width:100%; }
    p { margin:0; }
  }

  .bx-prev, .bx-next { display:inline-block; padding:20px; position:absolute; bottom:50%; margin-bottom:-80px; font-size:0;
    &:before { display:inline-block; width:60px; height:60px; border-width:1px 1px 0 0; border-style: solid; border-color:#fff; content:''; transform: rotate(45deg); }
    &.disabled { opacity: 0.2; cursor: default; }
  }
  .bx-prev { left:-74px;
    &:before { border-width:0 0 1px 1px; }
  }
  .bx-next { right:-74px; }

  @media (max-width:$tablet-size) { padding-top:45px; margin-bottom: -60px;padding-bottom: 60px;
    //&:after { left: -100px; right: -100px; background-image:url(../images/aboutus/history-bg-mobile.jpg); background-size:cover;}
    &__wrap { margin-top:20px; }
    &__title { display:table-cell; width:1%; height:2.6em; font-size:18px; vertical-align:middle; }
    &__detail { height:auto; margin-top:17px; background-color:transparent; }
    &__img-wrap { float:none; overflow:hidden; position:relative; width:auto; height:0; padding-top:58.6%; text-align: center; }
    &__img { position:absolute; top:0; left:-1000px; right:-1000px; height:100%; margin:auto; }
    &__text-wrap { min-height:272px; padding:25px 20px; background-color:rgba(0,0,0,0.7); }
    &__article { font-size:13px; }

    .bx-prev, .bx-next { width:30px; height:30px; box-sizing:border-box; padding:10px; top:calc(25vw + 47px); margin-top:0; bottom:auto; margin-bottom:0; background-color:#1e1e1e;
      &:before { width:7px; height:7px; }
      &.disabled { opacity: 1; background-color: rgba(30,30,30,0.2); }
    }
    .bx-prev { left:-15px;
      &:before { margin-right:-4px; }
    }
    .bx-next { right:-15px;
      &:before { margin-left:-4px; }
    }
  }
}