// Content

body { background-attachment: fixed; background-position:50% 0; background-repeat:no-repeat;
  &.aboutus .wrapper { background-attachment: scroll; background-image:url(../images/page-background/aboutus-desktop.jpg); background-position:50% 0; background-repeat:no-repeat;}
  &.news { background-color:#070707; background-image:url(../images/page-background/news-desktop.jpg); background-size: cover; }
  &.ticket { background-color:#020203; background-position: 50% 50%; background-image:url(../images/page-background/ticket-desktop.jpg);}
  &.vvip { background-color:#000; background-attachment:scroll; background-image:url(../images/page-background/vvip-desktop.jpg);}
  &.lineup { background-color:#000000; background-position: 50% 50%; background-image:url(../images/page-background/lineup-desktop.jpg);}
  &.gallery { background-color:#0e0e16; background-image:url(../images/page-background/gallery-desktop.jpg);}
  &.information { background-position: 50% 50%; background-image:url(../images/page-background/information-desktop.jpg);}
  &.contact { background-color:#0e0e16; background-image:url(../images/page-background/contact-desktop.jpg);}
  @media only screen and (max-width:$tablet-size) {
    background-attachment:scroll;
    &.aboutus .wrapper { background-image:url(../images/page-background/aboutus-mobile.jpg); background-size: cover; background-position:50% 50%; background-repeat:no-repeat;}
    &.news { background-image:url(../images/page-background/news-mobile.jpg); }
    &.ticket { background-color:#000; background-image:url(../images/page-background/ticket-mobile.jpg);  background-size:100% auto;}
    &.vvip { background-image:url(../images/page-background/vvip-mobile.jpg); background-size:100% auto; }
    &.lineup { background-image:url(../images/page-background/lineup-mobile.jpg); background-size:100% auto; }
    &.gallery { background-color:#000; background-image:url(../images/page-background/gallery-mobile.jpg); background-size:100% auto; }
    &.information { background-color:#070707; background-image:url(../images/page-background/information-mobile.jpg); background-size:100% auto; }
    &.contact { background-image:url(../images/page-background/contact-mobile.jpg); background-size:100% auto; }
  }
}

.content-section {
  &+& { margin-top:100px; }
  &__tit { margin:0 0 53px; font-size:42px; line-height: 1.3; text-align: center;
    &:before { content:''; display:inline-block; margin-right:5px; width:30px; height:31px; background-image: url("../images/icon/polygon-ico.png"); }
  }
  @media only screen and (max-width:$tablet-size) {
    &+& { margin-top:55px; }
    &__tit { margin-bottom:16px; font-size:21px;
      &:before { margin-right:3px; width:15px; height:16px; background-size: 15px auto; background-repeat: no-repeat; }
    }
	}
}