.contact-board { display:table; table-layout: fixed; width:100%;
  &__aligner { display:table-cell; vertical-align: top;  box-sizing: border-box;
    &--nth-1 { }
    &--nth-2 { position:relative; width:525px; }
  }
  &__map { position:relative; overflow: hidden; width:100%; height:0;padding-bottom:65.185%;background-color: #6c6c6c; }
  &__map-img { width:100%; position:absolute; left:0; top:0; right:0; }
  &__info-wrap { display:table; width:100%; padding:0 35px;  color:$black-tit; background-color: #fff; box-sizing: border-box; }
  &__logo { display:table-cell; height:130px; vertical-align: middle; box-sizing: border-box;
    &-img { width:118px; }
  }
  &__info { display:table-cell; vertical-align: middle; padding-left:35px; box-sizing: border-box; }
  &__list { margin:0; display:inline-block; overflow:hidden; width:100%; font-size:16px;
    &--listed { width:auto;
      &+& { margin-left:40px; }
    }
    &+& { margin-top:5px; }
  }
  &__title { display:table-cell; font-weight: $bold; color:$black-tit; }
  &__text { display:table-cell; margin:0; box-sizing: border-box; padding-left:10px; color:$black-body; white-space: nowrap; }
  &__link { text-decoration: none; color:$black-body; }
  &__btn-wrap { margin-left:86px; margin-top:22px;  }
  @media only screen and (max-width:$tablet-size) {
    &__aligner { display:block;
      &--nth-1 { width:100%; padding-right:0; }
      &--nth-2 { width:100%; margin-top:30px; }
    }
    &__info-wrap { padding:0 20px; }
    &__logo { display:block; width:auto; height:60px; padding:10px 0; margin:0 -20px; border-bottom:1px solid #ddd; text-align: center;
      &-img { max-width:67px; }
    }
    &__info { display:block; padding-left:0; padding-top:12px; padding-bottom:13px; }
    &__list { font-size:13px; line-height: 1.385;
      &--listed { width:100%;
        &+& { margin-left:0; }
      }
      &+& { margin-top:5px; }
    }
    &__title { width:25px; }
    &__text { white-space: normal; }
    &__btn-wrap { margin-left:0; margin-top:14px;  }
  }
}

.tab-content { margin-top:40px;
  @media only screen and (max-width:$tablet-size) { margin-top:15px; }
}
.contact-form { width:100%;
  &__row { display:table; width:100%; margin:0;
    &+& { margin-top:10px; }
  }
  &__th,
  &__td { display:table-cell; margin:0; }
  &__th { width:86px;
    &--text-top { vertical-align: top; padding-top:10px; }
  }
  &__input-text,
  &__textarea{ box-sizing:border-box;border:1px solid #87878b;border-radius:0;background-color:transparent;box-shadow:none;outline:none;vertical-align:middle;color:#fff;font-size:16px;padding:7px 12px;font-family:inherit;transition:border .1s;
    &:focus { border-color:#aaa; }
    &--w100p { width:100%; }
  }
  &__input-text { height:42px; }
  &__textarea { resize:none; height:242px; }
  @media only screen and (max-width:$tablet-size){ width:100%; float:none; padding-right:0;
    &__th,
    &__td { display:block; }
    &__th { width:100%; margin-bottom:5px; font-size:13px;
      &--text-top { padding-top:0; }
    }
    &__td { font-size:12px; }
    &__input-text { height:40px;font-size:12px;padding:10px 10px; }
    &__textarea { height:200px; }
  }
}

.btn-send { @include btn; width:100%;
  @media only screen and (max-width:$tablet-size){ width:100%; }
}

.contct-about {	word-break: keep-all;
  &__headline { margin-bottom:33px; padding-top:165px; background:url(../images/contact/contct-about-symbol.png) no-repeat; font-size:36px; font-weight:$light; line-height:1; }
  &__text { margin-top:10px; display:block; font-size:80px; font-weight:$bold; }
  &__para { margin:0; font-size:16px; line-height:2.25; font-weight:500;
    &--next { margin-top:1.5em; }
    :lang(ja) & { word-break: break-all; }
    :lang(zh) & { word-break: break-all; }
  }
  &__text2 { display:inline-block; margin-top:-8px; font-size:24px; font-weight:$bold;}
  @media only screen and (max-width:$tablet-size) {
    max-width:360px; margin-left:auto; margin-right:auto; text-align:center;
    :lang(ja) & { max-width:100%; }
    :lang(zh) & { max-width:100%; }
    &__headline { margin-bottom:18px; padding-top:80px; background-size:calc(158px / 2) auto; background-position:50% 0; font-size:18px; line-height:1.25;}
    &__text { margin-top:-2px; font-size:40px; }
    &__para { font-size:13px; line-height:1.7;
      &--next { margin-top:1.2em; }
    }

    &__text2 { margin-top:0; font-size:20px; }
  }
}
