.gallery-board { margin-top:40px;
  &__list { position:relative; list-style: none; margin:0 -10px; padding:0; overflow: hidden;
    &:before { display:block; width:100%; content:''; margin-top:-20px; }
  }
  &__item { float:left; box-sizing: border-box; width:50%; padding:0 10px; margin-top:20px; }
  &__link { @include img-border; display:block; position:relative; width:100%; height:0; padding-bottom:66.77%; overflow:hidden; font-size:0;
    &--video { padding-bottom:56.206%; }
  }
  &__tit { position:absolute; z-index:9; top:10px; left:10px; right:10px; color:#fff; text-shadow:1px 1px 2px rgba(0,0,0,.8); font-size:18px; }
  &__img { display: block; position: absolute;top: 0;right:0;left:0;width:100%;}
  &__iframe { display: block; position: absolute;top:0;right:0;left:0;bottom:0; }
  @media only screen and (max-width:$tablet-size){
    margin-top:30px;
    &__list { margin:0;
      &:before { margin-top:-10px; }
    }
    &__item { float:none; width:100%; padding:0; margin-top:10px; }
    &__tit { font-size:14px; }
  }
}