.info-board {
  $this:&;
  &__list { list-style: none; margin:0; padding:0; }
  &__item { max-height:80px; position:relative; border-width:1px; border-style:solid; border-color:rgba(255,255,255,0.2) transparent; box-sizing: border-box; overflow: hidden;
    &+& { border-width:1px; margin-top:-1px; border-color:transparent transparent rgba(255,255,255,0.2); }
    &:after { content:''; display:block; width:13px; height:13px; position:absolute; right:39px;  top:27px;
      border-width:0 2px 2px 0; border-style:solid; border-color:#fff; transform: rotate(45deg);
    }
    &.is-open { max-height:800px; padding-bottom:40px; transition:max-height ease-in .3s;
      #{$this}__title { color:$pink; transition:color ease-in .3s; }
      &:after { top:34px; border-color:$pink; transform: rotate(-135deg); transition:border-color ease-in .3s; }
    }
  }
  &__head { display:table; table-layout: fixed; width:100%; cursor: pointer; }
  &__cell { display:table-cell; box-sizing: border-box; height:80px; padding:0 70px 0 36px; vertical-align: middle; }
  &__title { font-size:20px; margin:0; max-height:1.3em; overflow: hidden; }
  &__body { box-sizing: border-box; position: relative; overflow:hidden; }
  &__text-wrap { padding:0 36px; }
  &__text { margin:0.5em 0 0 0; line-height: 1.5; overflow: hidden;
    &:first-child { margin-top:0; }
    &--dot { position:relative; padding-left:13px;
      &:before { content:'·'; display:inline-block; position:absolute; left:0; top:0; }
    }
    &--dash { position:relative; padding-left:13px;
      &:before { content:'-'; display:inline-block; position:absolute; left:0; top:0; }
    }
  }
  &__heading { margin:0.5em 0 0 0; line-height:1.5; font-size:1.1em;
    &:first-child { margin-top:0; }
  }
  &__depth { margin:1em 0 1em 15px; }
  @media (max-width:$tablet-size) {
    &__list { margin:0 -15px; }
    &__item { max-height:40px;
      &:after { width:10px; height:10px; position:absolute; right:20px;  top:11px;
        border-width:0 1px 1px 0;
      }
      &.is-open { max-height:1000px; padding-bottom:17px;
        &:after { top:17px; }
      }
    }
    &__cell { min-height:40px; height:auto; padding:0 46px 0 16px;
      &--word-wrap { padding:10px 46px 11px 16px; }
    }
    &__title { font-size:14px; margin:0; height:1.429em; }
    &__body { font-size:12px; }
    &__text-wrap { padding:0 16px 0 16px; word-break: keep-all; word-wrap: break-word; }
    &__text { line-height: 1.66;
      &--dot { padding-left:7px; }
      &--dash { padding-left:7px; }
    }
    &__depth { margin-left:7px; }
  }
}
.info-board2 {
  $this:&;
  &__list { list-style: none; margin:0; padding:0; }
  &__item { max-height:80px; position:relative; border-width:1px; border-style:solid; border-color:rgba(255,255,255,0.2) transparent; box-sizing: border-box; overflow: hidden;
    &+& { border-width:1px; margin-top:-1px; border-color:transparent transparent rgba(255,255,255,0.2); }
    &:after { content:''; display:block; width:13px; height:13px; position:absolute; right:39px;  top:27px;
      border-width:0 2px 2px 0; border-style:solid; border-color:#fff; transform: rotate(45deg);
    }
    &.is-open { max-height:500px; padding-bottom:31px; transition:max-height ease-in .3s;
      #{$this}__title { color:$pink; transition:color ease-in .3s; }
      &:after { top:34px; border-color:$pink; transform: rotate(-135deg); transition:border-color ease-in .3s; }
    }
  }
  &__head { display:table; table-layout: fixed; width:100%; cursor: pointer; }
  &__cell { display:table-cell; box-sizing: border-box; padding:0 70px 0 36px; vertical-align: middle; word-break: keep-all; word-wrap: break-word;
    &--question { width:80px; padding:0 0 0 20px; font-weight: $bold; text-align: center; color:$pink; }
    &--answer { width:80px; padding:6px 0 0 20px; font-weight: $bold; text-align: center; vertical-align: top; color:$sky; }
    #{$this}__head & { height:80px; }
    #{$this}__body & { vertical-align: top; }
  }
  &__title { font-size:20px; margin:0; max-height:1.3em; overflow: hidden; }
  &__body { box-sizing: border-box; position: relative; overflow:hidden; }
  &__text-wrap { padding:0 36px; }
  &__text { margin:0; line-height: 2em; overflow: hidden;
    &--dot { position:relative; padding-left:13px;
      &:before { content:'·'; display:inline-block; position:absolute; left:0; top:0; }
    }
    :lang(ja) & { word-break: break-all; }
    :lang(zh) & { word-break: break-all; }
  }
  &__link { color:inherit; text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  @media (max-width:$tablet-size) {
    &__list { margin:0 -15px; }
    &__item { max-height:62px;
      &:after { width:10px; height:10px; position:absolute; right:20px;  top:22px;
        border-width:0 1px 1px 0;
      }
      &.is-open { max-height:1000px; padding-bottom:17px;
        &:after { top:24px; }
      }
    }
    &__cell { height:62px; padding:0 16px 0 16px;
      #{$this}__head & { height:62px; }
      #{$this}__body & { height:auto; }
      &--word-wrap { padding:9px 46px 11px 16px; }
      &--question,
      &--answer { width:40px; padding:0 0 0 15px; font-size:14px; text-align: left; }
      &--answer { padding:3px 0 0 15px; }
    }
    &__title { font-size:14px; margin:0; max-height:2.858em;/*height:1.429em;*/ line-height: 1.429; }
    &__body { font-size:12px; }
    &__text-wrap { padding:0 16px; }
    &__text { line-height: 1.66;
      &--dot { padding-left:7px; }
    }
  }
}

//행사장안내
.stage-map { margin-top:40px;
  &__section { display:none; text-align: center;
    &+& { margin-top:58px; }
    .is-all &,
    &.is-active { display:block; }
    &.is-active { margin-top:40px; }
  }
  &__img { max-width:100%; }
  &__tit { margin-top:10px; font-size:28px; font-weight: $bold; }
  @media (max-width:$tablet-size) { margin-top:30px;
    &__section {
      &+& { margin-top:25px; }
      &.is-active { margin-top:30px; }
    }
    &__tit { margin-top:7px; font-size:16px; }
  }
}

//오시는 길
.directions-info {
  &+& { margin-top:100px; }
  &__api { height:0; padding-bottom:32.25%; position:relative; overflow: hidden; background-color: #6c6c6c; }
  &__heading { font-size:42px; font-weight: $bold; margin:0 0 53px; text-align: center;
    &:before { content:''; display:inline-block; margin-right:5px; width:30px; height:31px; background-image: url("../images/icon/polygon-ico.png"); }
  }
  &__map { line-height:0; }
  &__img { max-width:100%;
    &.is-desktop { display:block; }
    &.is-mobile { width:100%; display:none; }
  }
  &__box { display:table; width:100%; box-sizing: border-box; padding:0 40px; background-color: #fff; }
  &__cell { display:table-cell; height:103px; vertical-align: middle; box-sizing: border-box; }
  &__title { width:1%; padding-right:30px; font-size:32px; color:$black-tit; font-weight: $bold; white-space: nowrap; }
  &__detail { position:relative; padding-left:30px;
    &:before { content:''; display:block; position:absolute; left:0; top:50%; margin-top:-20px; width:0; height:40px; border-left:1px solid #ddd; }
  }
  &__list { display:table; margin:0; color:$black-body; font-size:16px; line-height: 1.625; }
  &__tit { display:table-cell; padding-right:8px; font-weight: $bold; color:$black-tit; white-space: nowrap; }
  &__tit2 { margin-bottom:12px; font-size:24px; font-weight: $bold; color:#fff; white-space: nowrap; }
  &__txt { margin:0; font-size:16px; line-height: 1.625; color:$black-body; }

  &__txt-pink { color:$pink; font-weight: $bold; }
  &__text-wrap { overflow:hidden; margin-top:14px; margin-left:-.2em; font-size:16px; line-height: 1.667;
    &--next { margin-top:43px; }
  }
  &__dot { margin:0; position:relative; padding-left:13px;
    &:before { content:'·'; display:inline-block; position:absolute; left:0; top:0; }
    &+& { margin-top:6px; }
  }
  &__col { width:50%; }
  &__table { position:relative; padding:0; border-spacing:0; border:0; border-collapse:collapse; width:100%; margin-top:40px;
    &:before { content:''; display:block; position:absolute; top:-1px; left:0; right:0; border-top:1px solid #9c9c9e; }
  }
  &__th,
  &__td { padding:0; border-width:0 0 1px 1px; border-style:solid; border-color:#39393c; box-sizing: border-box; height:60px; font-size:16px; line-height: 1.625; vertical-align: middle; text-align: center;
    &:first-child { border-left-width:0; }
  }
  &__th { font-weight: $bold; color:$pink; border-top:1px solid #838385; }
  &__br { display:none; }
  &__column { column-count: 2; }
  @media (max-width:$tablet-size) {
    &+& { margin-top:50px; }
    &__api { padding-bottom:68.97%; }
    &__heading { font-size:21px; margin:0 0 14px;
      &:before { margin-right:3px; width:15px; height:16px; background-size: 15px auto; background-repeat: no-repeat; }
    }
    &__img {
      &.is-desktop { display:none; }
      &.is-mobile { display:block; }
    }
    &__box { padding:17px 20px; }
    &__cell { display:block; height:auto; }
    &__title { width:100%; padding-right:0; margin-bottom:5px; font-size:16px; }
    &__detail { padding-left:0;
      &:before { display:none; }
    }
    &__list { font-size:13px; }
    &__tit2 { margin-bottom:6px; font-size:16px; }
    &__txt { font-size:13px;
      &--m-dot { position:relative; padding-left:5px; margin-left:-.1em;
        &:before { content:'·'; display:inline-block; position:absolute; left:-2px; top:0; color:#999; }
      }
    }
    &__text-wrap { margin-top:4px; font-size:12px;
      &--next { margin-top:20px; }
    }
    &__dot { padding-left:7px;
      &+& { margin-top:4px; }
    }

    &__table { margin-top:20px;
      &:before { content:''; display:block; position:absolute; top:-1px; left:0; right:0; border-top:1px solid #9c9c9e; }
    }
    &__th,
    &__td { height:auto; font-size:13px; padding-top:10px; padding-bottom:10px; }
    &__span { display:block; }
    &__br { display:inline; }
    &__column--m-count-1 { column-count: 1; }
  }
}
//분실물 안내
.info-box { display:table; width:100%; padding-left:88px; padding-top:20px; padding-bottom:20px; position:relative; border:1px solid $pink; background-image: url("../images/blank/black-50.png"); box-sizing: border-box;
  &:before { content:''; display:table-cell; width:24px; height:42px; position:absolute; left:32px; top:0; bottom:0; margin-top:auto; margin-bottom:auto; background-image:url("../images/icon/microphone-ico.png"); background-size:24px auto; }
  &__point-ico { display:inline-block; width:14px; height:21px; background-image:url("../images/icon/point-ico.png"); background-repeat: no-repeat; background-position: 0 50%; margin-right:6px; vertical-align: top; }
  &__text { font-size:14px; line-height: 1.5; overflow: hidden;
    &+& { margin-top:8px; }
  }
  &__text-pink { color:$pink; font-weight: $bold; }
  &__tel,
  &__email { display:inline-table; text-decoration: none; color:#fff;
    &:before { display:table-cell; padding-right:9px; }
  }
  &__tel { padding-right:30px; }
  &__tel:before { content:'☎'; font-size:16px; }
  &__email:before { width:15px; height:10px; content:''; padding-right:9px; background-image:url("../images/icon/email-ico.png"); background-repeat: no-repeat; background-size: 15px auto; background-position: 0 50%; }
  @media (max-width:$tablet-size){ padding:15px;
    &:before { position:static; display:block; margin:0 auto 6px; width:16px; height:28px; background-size:16px auto; }
    &__point-ico { display:none; }
    &__text { font-size:12px; text-align: center; }
    &__tel,
    &__email { padding:0 7px;
      &:before { padding-right:5px; }
    }
    &__tel:before { font-size:13px; }
    &__email:before { width:13px; height:auto; background-size: 13px auto; }
  }
}

.lost-items { margin-top:40px; @include block();
  &__wrap {
    &:before { display:block; width:100%; content:''; margin-top:-30px; }
  }
  &__list { list-style: none; margin:0 -10px; padding:0; overflow: hidden; }
  &__item { float:left; margin-top:30px; position:relative; width:25%; box-sizing: border-box; padding:0 10px; line-height: 0;
    &:before { z-index:10; display:inline-block; content:attr(data-num); width:48px; height:48px; position:absolute; left:15px; top:5px; background-image: url("../images/information/circle-pink.png"); font-size:12px; font-weight: $bold;
    line-height:48px; text-align: center; }
  }
  &__img-wrap { position:relative; height:0; padding-bottom:67.79%; overflow: hidden; background-color: #fff; }
  &__img { display:inline-block; position:absolute; left:0; top:0; right:0; margin-left:auto; margin-right:auto; max-width:100%; height:100%; padding:10px; box-sizing: border-box; }
  @media (max-width:$tablet-size){ margin-top:20px;
    &__wrap {
      &:before {margin-top:-10px; }
    }
    &__list { margin:0 -5px; }
    &__item { margin-top:10px; width:50%; padding:0 5px;
      &:before { width:36px; height:36px; position:absolute; left:8px; top:3px; background-image: none; background-color: rgba(255,0,140,0.8); border-radius: 17px; font-size:9px; line-height:36px; }
    }
    &__img { padding:5px; }
  }
}

.mark-wrap {
  &+& { margin-top:15px;
    @media (max-width:$tablet-size){ margin-top:10px; }
  }
}
.mark-txt { margin:0 0 0 10px; font-size:16px; line-height: 1.625; color:#fff;
  @media (max-width:$tablet-size){ font-size:12px; }
}
.mark { display:inline-block; padding:2px 10px; border-radius: 30px; margin-bottom:9px;
  &--green { background-color: #50a332; }
  &--blue { background-color: #3556a7; }
  &--red { background-color: #d01118; }
  &--sky { background-color: #70b0e0; }
  @media (max-width:$tablet-size){ margin-bottom:5px; }
}

.dot:before { content:''; width:4px; height:4px; margin-right:2px; border-radius: 4px; display:inline-block; vertical-align: middle; }
.dot--green:before { background-color: #37b42d; }
.dot--gold:before { background-color: #bf9f1e; }







