.artist-board { margin-top:35px;
  $this: &;
  &:before { display:block; content:''; width:100%; margin-top:-20px; }
  &__list { overflow:hidden; list-style:none; margin:0 -10px; padding:0; }
  &__item { box-sizing: border-box; float:left; width:33.3333%; padding:0 10px; margin-top:20px; }
  &__link { display:block; position:relative; height:0; padding-top:119%; overflow:hidden; line-height: 1.625; text-decoration: none; color:#fff;
    &:before { display:block; opacity:0; content:''; z-index:1; position:absolute; left:0; top:0; right:0; bottom:0; width:100%; background:url("../images/lineup/lineup-list-bg.png") no-repeat 0 0;
      transition:opacity ease-in-out .3s;
    }
    &:focus,
    &:hover {
      #{$this}__wrap { max-height:55px; }
      #{$this}__more-btn { display:none; }
      &:before { opacity:1; }
    }
  }
  &__img { max-width:100%; position:absolute; top:0; left:0; right:0; bottom:0; }
  &__txt-wrap { z-index:2; width:100%; position:absolute; bottom:0; box-sizing: border-box; padding:25px 30px 25px; background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);}
  &__name { font-size:24px; font-weight: $bold; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; text-shadow:0 0 1px rgba(0,0,0,0.8); }
  &__wrap { max-height:0; overflow:hidden; box-sizing: border-box; }
  &__more-btn { margin-top:15px; display:inline-block; height:2.5em; padding:0 30px; box-sizing: border-box; line-height: 2.375em; vertical-align: middle; border:1px solid #fff; }
  &__desc { margin:6px 0 0; /*@include line-clamp(2,1.625);*/ max-height:1.625em*2; overflow:hidden; line-height: 1.625; }
  @media (max-width:$tablet-size) {
    margin-top:30px;
    &:before { margin-top:-10px; }
    &__list { margin:0; }
    &__item { float:none; width:100%; padding:0; margin-top:10px; }
    &__link { // padding-top:74.31%;
      &:before { display:none; }
      &:focus,
      &:hover {
        #{$this}__wrap { display:none; }
        #{$this}__more-btn { display:inline-block; }
      }
    }
    &__img { width:100%; bottom:auto; }
    &__txt-wrap { padding:20px; }
    &__name { font-size:16px; }
    &__more-btn { margin-top:7px; padding:0 20px; font-size:12px; }
  }
}

.artist-view {
  &__header {  }
  &__tit { font-size:42px;
    @media (max-width:$tablet-size){ font-size:21px; }
  }
}

.artist-content { padding-top:20px; text-align: center;
  &__section {
    &--name { font-size:0; max-width:510px; margin:0 auto 60px; }
    &--photo { font-size:0; }
    &--sns { font-size:0; margin-top:40px; }
    &--title { margin-top:27px; }
    &--video { max-width:1070px; margin-top:53px; margin-left:auto; margin-right:auto; }
  }
  &__title { margin:0 0 4px; font-size:42px; line-height: 1.42; }
  &__desc { font-size:18px; }
  &__txt { margin-top:50px; }
  &__video-wrap { position:relative; width:100%; padding-bottom:58.317%; overflow:hidden;
    &+& { margin-top:20px; }
  }
  &__video { position:absolute; left:0; top:0; bottom:0; right:0; width:100%; height:100%; }
  &__img { max-width:100%; }
  @media (max-width:$tablet-size) { padding-top:10px;
    &__section {
      &--name { max-width:255px; margin-bottom:30px; }
      &--sns { margin-top:20px; }
      &--title { margin-top:15px; }
      &--video { margin-top:30px; }
    }
    &__title { margin-bottom:0; font-size:18px; text-align: left; }
    &__desc { font-size:13px; text-align: left; }
    &__txt { margin-top:20px; font-size:12px; text-align: left; }
    &__video-wrap { max-width:100%; line-height: 0;
      &+& { margin-top:0; }
    }
  }
}

.artist-sns { display:inline-block; margin:0; padding:0; list-style: none; overflow: hidden;
  &__item { float:left; width:50px; height:50px;
    &+& { margin-left:10px; }
  }
  &__link { display:block; width:100%; height:100%; font-size:0; background-image:url("../images/lineup/airtist-sns-icon.png"); background-repeat: no-repeat;
    &--facebook { background-position: 0 0; }
    &--instagram { background-position: -50px 0; }
    &--twitter { background-position: -50px*2 0; }
    &--youtube { background-position: -50px*3 0; }
    &--soundcloud { background-position: -50px*4 0; }
  }
  @media (max-width:$tablet-size){ display:inline-flex;
    &__item { display:inline-block; float:none; width:38px; height:38px; flex-grow:1;
      &+& { margin-left:7px; }
    }
    &__link { background-image:url("../images/lineup/airtist-sns-icon-m.png"); background-size:190px 100%;
      &--instagram { background-position: -38px 0; }
      &--twitter { background-position: -38px*2 0; }
      &--youtube { background-position: -38px*3 0; }
      &--soundcloud { background-position: -38px*4 0; }
    }
  }
}

//Time Table css
.time-table {
  &+& { margin-top:50px; }
  &__title { font-size:32px; margin:0 0 35px; text-align: center; font-weight: $regular;
    &:before { content:''; display:inline-block; width:32px; height:32px; position:relative; top:4px; background-image: url("../images/icon/clock-ico.png"); }
  }
  &__day { font-weight: $bold; }
  &__list { overflow: hidden; margin:0 -10px; }
  &__item { float:left; width:25%; box-sizing: border-box; padding:0 10px;  }
  @media (max-width:$tablet-size){ margin-top:17px;
    &+& { margin-top:18px; }
    &__wrap {
      &:before { content:''; display:block; width:100%; margin-top:-10px; }
    }
    &__title { font-size:14px; margin:0 0 13px;
      &:before { width:16px; height:16px; top:2px; background-size: 16px 16px; }
    }
    &__list { margin:0 -5px;
      &.is-full { margin:0; }
    }
    &__item { width:100%; padding:0; margin-top:10px;
      .is-all & { width:50%; padding:0 5px; }
      .is-full & { display:none; }
      &.is-show { display:block; }
    }
  }
}
.stage-box { width:100%; box-sizing:border-box; border:1px solid rgba(255,255,255,0.5);
  &__head { display:table-cell; box-sizing: border-box; width:1%; height:90px; vertical-align: middle; border-bottom:1px dashed rgba(255,255,255,0.5); text-align: center; }
  &__body { box-sizing: border-box; padding:13px 20px; }
  &__title { margin:0; font-size:24px; line-height: 1.08; }
  &__list { margin:0; display:table; width:100%; font-size:16px; white-space: normal; word-break: break-all; }
  &__name,
  &__time { display:table-cell; padding:12px 0; box-sizing: border-box; vertical-align: middle; }
  &__name { width:60%; padding-right:10px; }
  &__time { margin:0; color:#b1adac; text-align: right; }
  @media (max-width:$tablet-size){
    &__head { height:45px; }
    &__body { padding:13px 15px; }
    &__title { font-size:14px; }
    &__list { text-align: center; font-size:12px;
      &+& { margin-top:10px; }
    }
    &__name,
    &__time { display:inline-block; width:100%; padding:0;
      .is-full & { display:table-cell; width:auto; }
    }
    &__name { width:100%; padding-right:0;
      .is-full & { width:60%; padding-right:10px; text-align: left; }
    }
    &__time { width:100%; text-align: center;
      .is-full & { text-align: right; }
    }
  }
}