.news-board { margin-top:31px;
  $this:&;
  &__list { list-style: none; margin:0; padding:0; }
  &__item { max-height:80px; padding:0 40px; border-width:1px; border-style:solid; border-color:rgba(255,255,255,0.2) transparent; box-sizing: border-box; overflow: hidden;
    &+& { border-width:1px; margin-top:-1px; border-color:transparent transparent rgba(255,255,255,0.2); }
    &.is-open, &.is-open-fixed { max-height:500px; padding-bottom:40px; border-width:1px; border-color:$pink; transition:max-height ease-in .3s, border-width ease-in .15s, border-color ease-in .15s;
      #{$this}__cell--date,
      #{$this}__title { color:$pink; transition:color ease-in .3s } 
    }
  }
  &__head { display:table; table-layout: fixed; width:100%; white-space: nowrap; cursor: pointer;
    .is-open-fixed & { cursor:default; }
  }
  &__cell { display:table-cell; box-sizing: border-box; padding:0; height:80px; vertical-align: middle;
    &--category { width:9.2%; font-size:16px; font-weight: $bold; line-height: 1.625;
      &[data-category]:before { content:attr(data-category); display:inline-block; line-height: inherit; font-size:inherit; color:inherit; }
      &[data-category='Notice']{ color:$pink; }
      &[data-category='Event']{ color:$sky; }
      #{$this}__item[data-new='true'] &:after { content:'New'; display:inline-block; float:right; padding:0 7px 1px; font-size:13px; font-weight: bold; text-transform: uppercase; color:#3df9f8; box-sizing: border-box; border:2px solid rgba(61,249,248,.5); border-radius: 26px; }
    }
    &--word-wrap { padding:0 20px; }
    &--date { width:6.5%; text-align: right; font-weight: $light; }
  }
  &__title { font-size:20px; margin:0; height:1.3em; overflow: hidden; }
  &__body { height:308px; box-sizing: border-box; position: relative; overflow:hidden; }
  &__img-wrap { @include img-border; width:444px; height:308px; position:absolute; left:0; top:0; overflow: hidden; font-size:0;
    background-color: $black-body; background-image: url("../images/common/blank-logo.png"); background-repeat: no-repeat; background-position: 50% 50%; background-size: 187px auto;
  }
  &__img { position:absolute; left:0; top:0; right:0; width:100%; }
  &__text-wrap { padding-left:485px; }
  &__text { margin:0; max-height:16.25em; line-height: 1.625em; overflow: hidden;
    & p { margin:0; }
    & a { color:#fff; text-decoration: none; }
  }
  &__btn-wrap { padding-left:485px; position:absolute; bottom:0; font-size:0; }
  &__btn-more { height:40px; padding:0 30px; border-width:1px; border-color:rgba(255,255,255,0.5); }
  &__btn-txt { height:38px; font-size:16px; }
  @media (max-width:$tablet-size) {
    &__list { margin:0 -15px; }
    &__head { display:block; position:relative; overflow: hidden; margin-bottom:17px; }
    &__item { max-height:85px; padding:16px 15px;
      &.is-open, &.is-open-fixed { max-height:1000px; padding-bottom:20px; border-color:rgba(255,255,255,0.2) transparent; }
      &+&.is-open { border-color:transparent rgba(255,255,255,0.2) rgba(255,255,255,0.2); }
    }
    &__cell { display:inline-block; height:auto; float:left; padding:0;
      &--category { width:102px; font-size:14px;
        #{$this}__item[data-new='true'] &:after { padding:0 9px; margin-top:1px; font-size:14px; line-height:18px; border-radius: 20px; border-width:1px; }
      }
      &--word-wrap { display:block; width:100%; margin-top:11px; white-space: normal; }
      &--date { width:auto; font-size:12px; position:absolute; right:0; top:2px; }
    }
    &__title { max-height:1.3em; height:auto; line-height: 1.3; font-size:14px;
      .is-open &,.is-open-fixed & { max-height:1.3em*2; }
    }
    &__body { visibility:hidden; height:auto;
      .is-open &,.is-open-fixed & { visibility: visible; }
    }
    &__img-wrap { position:relative; width:100%; height:auto; margin-bottom:15px; }
    &__img { position:static; }
    &__text-wrap { padding-left:0; margin-bottom:5px; }
    &__text { margin:0; max-height:1.625em*3; font-size:13px; }
    &__btn-wrap { padding-left:0; position:static; }
    &__btn-more { height:30px; padding:0 8px; }
    &__btn-txt { height:28px; font-size:12px; }
  }
}