.ticket-main-info {
  &__box { opacity:0; box-sizing: border-box;
    &.animate-in { opacity:1; transition: opacity 1s; }
  }
  &__banner-wrap { text-align: center; 
    img { max-width:100%; }
  }
  &__img { max-width:100%; }
  &__txt-wrap { @include block; margin-top:23px; }
  &__tit { margin:0 0 19px 0; font-size:36px; line-height: 1.333; }
  &__date,
  &__position { position:relative; padding-left:15px; font-size:16px; line-height: 1.6; margin-top:8px;
    &:before { content:'·'; display:block; position:absolute; left:0; top:0; }
  }
  &__summary { margin-top:8px; line-height: 1.78; font-size:14px;}
  @media only screen and (max-width:$tablet-size) { margin:0; height:auto;
    &__box { opacity:1; width:100%; line-height: 0; }
    &__txt-wrap { margin-top:20px; }
    &__tit { font-size:20px; margin-bottom:6px; }
    &__date,
    &__position { padding-left:10px; font-size:14px; margin-top:0; }
    &__summary { margin-top:6px; font-size:12px; line-height: 1.5; }
  } 
}
.img-loader { width:100%; height:580px; background-image: url(../images/ticket/ticket-loader.gif); background-position:50%; background-repeat: no-repeat; }

.ticket-box { margin-top:40px;
  &__title { margin-bottom:1em; font-size:24px; line-height: 1.34; font-weight: $bold;
    &--next { margin-top:47px; }
  }
  &__list { padding:0; margin:0 -10px; list-style: none; font-size:0;
    &:before { display:block; content: ''; margin-top:-20px; }
  }
  &__list+&__title { margin-top:47px; }
  &__item { display:inline-block; margin:20px 10px 0; width:295px; height:110px; box-sizing: border-box; }
  &__link { display:table-cell; position:relative; width:1%; height:inherit; box-sizing: border-box; vertical-align: middle; text-align: center; border-style:solid; border-width:1px; border-color:#808080;border-color:rgba(255,255,255,.5);

  }
  &__img { max-width:100%; max-height:50px; }
  @media only screen and (max-width:$tablet-size){ margin-top:17px;
    &__title { margin-bottom:.82em; font-size:14px;
      &--next { margin-top:23px; }
    }
    &__list { margin:0 -5px;
      &:before { margin-top:-10px; }
    }
    &__list+&__title { margin-top:23px; }
    &__item { margin:10px 0 0; padding:0 5px; width:50%; height:auto; }
    &__link { padding:13px 0; }
    &__img { max-height:25px; }
  }
}

.ticket-info { margin-top:45px;
  &__tit { margin:0; padding:0; font-size:24px; line-height: 1.333; }
  &__article { margin-top:20px; line-height: 1.625;
    & p { margin:0; }
  }
  @media only screen and (max-width:$tablet-size) { margin-top:23px;
    &__tit { font-size:14px; }
    &__article { margin-top:6px; font-size:12px; line-height: 2; }
  }
}