//.vvip-info {
//  &+& { margin-top:1.625em; }
//  &__btn-wrap { margin-top:36px; text-align: center; line-height: 0; }
//  @media only screen and (max-width:$tablet-size) {
//    &__btn-wrap { margin-top:16px; }
//  }
//}
.vvip-title { text-align: center;
  &__img { max-width:100%; }
  //@media only screen and (max-width:$tablet-size){ margin-top:-16px; }
}
.vvip-section-title { margin-bottom:60px;
  @media only screen and (max-width:$tablet-size){ margin-bottom:29px; }
}
.vvip-content { box-sizing:border-box; border-width:1px; border-style: solid; border-color:rgba(255,255,255,0.2);
  &+& { margin-top:40px; }
  &--border-none { border-width:0; }
  &__tit { margin:0 0 30px; text-align: center; font-size:32px;  }
  @media only screen and (max-width:$tablet-size){
    &+& { margin-top:0; padding:30px 0 26px; }
    &--m-border-none { border-width:0 0 1px; }
    &__tit { margin:0 0 20px; font-size:18px; text-align: left; }
  }
}

.vvip-map, .vvip-stage { width:100%; text-align: center; background-color: #000; font-size:0;
  &__img { max-width:100%; height:auto; }
}
.vvip-map {
  @media only screen and (max-width:$tablet-size){
    padding-bottom:92.41%; position:relative;
    &__img { position:absolute; top:0; left:0; right:0; bottom:0; width:100%; margin:auto; box-sizing: border-box }
  }
}
.vvip-stage {
  @media only screen and (max-width:$tablet-size){
    padding-bottom:100%; position:relative;
    &__img { position:absolute; top:0; left:0; right:0; bottom:57px; width:100%; margin:auto; padding:0 6px; box-sizing: border-box }
  }
}
.stage-info { display:table; table-layout: fixed; width:100%; box-sizing: border-box; padding:0 40px; height:66px; border-top:1px solid rgba(255,255,255,0.2);
  &__type-list, &__txt { display:table-cell; width:1%; vertical-align: middle; }
  &__type-list { overflow: hidden; }
  &__type { display:inline-block; float:left; position:relative; padding-left:23px;
    &+& { margin-left:45px; }
    &:before { display:block; width:12px; height:12px; position: absolute; left:0; top:0; bottom:0; margin-top:auto; margin-bottom:auto; content:''; }
    &--star3:before { background-color:$purple; }
    &--star2:before { background-color:#4fa6ff; }
    &--star1:before { background-color:#ffa900; }
    &--super-suite:before { background-color:$pink; }
  }
  &__txt { margin:0; font-size:14px; text-align: right; opacity: 0.5; }
  @media only screen and (max-width:$tablet-size){ position:absolute; left:0; bottom:0; right:0; padding:0 10px; height:57px;
    &__type-list, &__txt { width:100%; }
    &__type-list { text-align:left; }
    &__type { font-size:11px;
      &+& { margin-left:5px; margin-right:5px; }
    }
    &__txt { text-align: left; font-size:11px; margin-top:5px; }
  }
  @media only screen and (max-width:$mobile-size){
    &__type-list { text-align: justify; font-size:0; margin:0 0 0 -5px;
      &:after { display:inline-block; width:100%; content: ''; }
    }
    &__type { float:none; margin:0 0 0 5px;
      &+& { margin-left:5px; margin-right:0; }
    }
  }
}

.stage-tab { z-index:10; margin:0 auto;
  $this:&;
  $item:#{$this}__item;
  $list:#{$this}__list;
  &__list { margin:0; padding:0; display:flex; }
  &__item { position:relative; box-sizing:border-box; display:table-cell; flex-grow:1; width:1%; height:55px; background-color:#0e0e16; color:rgba(255,255,255,0.5); font-size:18px; text-align:center; vertical-align:middle; border:1px solid rgba(255,255,255,0.2); border-left-width:0;
    &:first-child { border-left-width:1px;
      &.is-active:after { left:-1px; }
    }
    &.is-active { // border-bottom-width:0;
      &:after { position:absolute; top:-1px; left:0; right:-1px; content:''; border-width:2px 0 0; border-style:solid; border-color:$pink; }
    }
  }
  &__link { position:relative; padding:0 10px; box-sizing:border-box; display:table-cell; width:1000px; height:inherit; color:inherit; text-decoration:none;  vertical-align:middle; font-weight: $regular;
    #{$item}.is-active & { color:$pink; }
    #{$item}--disabled & { cursor: default; }
  }
  @media only screen and (max-width:$tablet-size) {
    position:relative; height:50px;
    &__list { display:block; overflow:hidden; position:absolute; z-index:500; padding-top:50px; max-height:0;
      &:before { box-sizing:border-box; position:absolute; z-index:100; top:17px; right:15px; width:10px; height:10px; border-width:0 0 1px 1px; border-style:solid; border-color:transparent transparent #fff #fff; content:''; transform:rotate(-45deg); }
      &.js-open-m { max-height: 1000px; margin:0 -15px; padding:50px 25px 20px; background-color: #fff;
        &:before { top:22px; right:30px; border-color:transparent transparent $black-tit $black-tit; transform:rotate(135deg); }
      }
    }
    &__item { position:static; display:block; width:auto; height:40px; border-width:1px 0 0; background-color: #fff; border-color:#d9d9d9; font-size:12px; text-align:left;
      &:first-child { border-top:none; border-left-width:0; }
      &.is-active { color:$pink;
        &:after { display: none; }
      }
    }
    &__link { position:static; padding:10px 0; color: $black-tit;
      #{$item}.is-active & { border-top:none; padding:10px 0;
        &:before { box-sizing:border-box; position:absolute; z-index:10; top:0; left:0; width:100%; line-height:48px; padding:0 10px; font-size:16px; content:attr(data-title); font-weight:$bold; color:#fff; border:1px solid #fff;
          #{$list}.js-open-m & { background-color:#fff; color:$black-tit; padding:0 25px; }
        }
        &:after { display:none; }
      }
    }
  }
}
.stage-tab-content { display:none; padding:55px 10px 60px; box-sizing: border-box; border-width:0 1px 1px; border-style: solid; border-color:rgba(255,255,255,0.2);
  &.is-active { display:block; }
  @media only screen and (max-width:$tablet-size){ padding:26px 0 0; border-width:0; }
}

.stage-sequence { max-width:820px; margin:0 auto;
  &__list { position:relative; margin:0; 
    &+& { margin-top:20px; }
  }
  &__header { position:absolute; left:0; top:0; width:33.5%; height:55px; vertical-align: top; background-color: $pink;
    &--sold-out { background-color:#666; } 
  }
  &__name { display:table-cell; width:1%; height:inherit; vertical-align: middle; text-align: center; font-size:20px; font-weight: $bold; }
  &__body { display:table-cell; width:1%; height:55px; padding-left:38.4%; vertical-align:middle; margin:0; line-height: 2; }
  @media only screen and (max-width:$tablet-size){ max-width:100%;
    &__list { 
       &+& { margin-top:10px; }
    }
    &__header { position:static; width:auto; height:36px; }
    &__name { font-size:13px; }
    &__body { display:block; width:auto; height:auto; margin-top:10px; font-size:13px; padding-left:0; line-height: 1.8; }
  }
}

.vvip-application { overflow: hidden; padding:55px 40px;
  @media only screen and (max-width:$tablet-size){
    padding:0;
  }
}
.application-form { width:50%; float:left; padding-right:10px; box-sizing: border-box;
  &__row { display:table; width:100%; margin:0;
    &+& { margin-top:10px; }
    &--next { margin-top:10px; }
  }
  &__th,
  &__td { display:table-cell; margin:0; }
  &__th { width:30%; }
  &__input-text,
  &__select { height:42px; box-sizing:border-box;border:1px solid #87878b;border-radius:0;background-color:#0e0e16;box-shadow:none;outline:none;vertical-align:middle;color:#fff;font-size:16px;padding:7px 12px;font-family:inherit;transition:border .1s;
    &:focus { border-color:#aaa; }
    &--w100p { width:100%; }
  }
  &__select { 
    &::-ms-expand { display:none; }
    &:optional,
    &:required { appearance:none; padding-top:0;padding-bottom:0;padding-right:26px; background-image: url(../images/icon/select-ico-normal.png); background-repeat: no-repeat; background-position: right 15px center; background-size: 11px 6px; }
    & option { color:#fff; }
  }
  @media only screen and (max-width:$tablet-size){ width:100%; float:none; padding-right:0;
    &__th,
    &__td { display:block; }
    &__th { width:100%; margin-bottom:5px; font-size:13px; }
    &__td { font-size:12px; }
    &__input-text,
    &__select { height:40px;font-size:12px;padding:10px 10px;}
    &__select { 
      &::-ms-expand { display:none; }
      &:optional,
      &:required { background-position: right 10px center; background-size: 10px auto; }
    }
  }
}
.application-info { width:50%; float:left; padding-left:10px; box-sizing: border-box;
  &__tit { font-size:24px; line-height: 1.333; margin:0 0 10px; }
  &__text { font-size:16px; line-height:1.625; margin-top:0; margin-bottom:0;
    &--dash { position:relative; padding-left:12px;
      &:before { display:inline-block; position:absolute; left:-3px; top:0; content:'-'; }
    }
    &--bold { font-weight: $bold; }
    &+& { margin-top:6px; }
  }
  &__list { display:table-cell; height:302px; vertical-align:top; margin:0; padding:0; list-style: none; }
  &__item { position:relative; padding-left:12px; box-sizing: border-box; line-height: 1.625;
    &:before { display:inline-block; position:absolute; left:-3px; top:0; content:'·'; }
    &+& { margin-top:6px; }
    &--require:before { content:'*'; }
  }
  &--type-full { width:100%; float:none; padding:0; }
  &--next { margin-top:35px; }
  &__link { color:$sky; text-decoration: none; }
  &__depth { margin-top:6px; margin-bottom:6px; }
  @media only screen and (max-width:$tablet-size){ width:100%; float:none; padding-left:0; margin-top:25px;
    &__tit { font-size:14px; margin:0 0 5px; }
    &__text { font-size:12px;
      &--dash { padding-left:7px; }
      &+& { margin-top:4px; }
    }
    &__list { display:block; height:auto; }
    &__item { padding-left:7px; font-size:12px;
      &+& { margin-top:4px; }
    }
    &--next { margin-top:25px; }
    &__depth { margin-top:4px; margin-bottom:4px; }
  }
}

.vvip-agreement { padding:38px 40px;
  &__tit { margin:0 0 20px; font-size:20px; }
  &__wrap { width:100%; height:132px; overflow-y:auto; box-sizing:border-box;border:1px solid #fff;background-color:#fff;vertical-align:middle;color:$black-tit;font-size:14px;padding:15px 20px;font-family:inherit; }
  &__txt { margin:0; line-height: 1.857;
    &--dot { padding-left:10px; position:relative;
      &:before { display:inline-block; content:'·'; color:#999; position:absolute; left:0; top:0; }
    }
    &--indent { padding-left: 5.357em; }
  }
  &__footer { margin-top:17px; }
  @media only screen and (max-width:$tablet-size){ padding:0;
    &__tit { margin-bottom:10px; font-size:16px; }
    &__wrap {height:150px; font-size:12px; padding:10px; }
    &__txt {
       &--dot { padding-left:8px; } 
       &--indent { padding-left: 8px; }
    }
    &__footer { margin-top:6px; }
  }
}

.vvip-checkout { overflow:hidden; margin:20px -10px 0;
  &__item { float:left; width: 50%; height:82px; padding:0 10px; vertical-align: middle; box-sizing: border-box; }
  &__statement { display:table; width: 100%; height:100%; border:3px solid $pink; box-sizing: border-box; }
  &__stage-name,
  &__detail { display:table-cell; vertical-align: middle; padding:0 10px; box-sizing: border-box; font-size:24px; }
  &__stage-name { padding-left:20px; font-weight: $light; word-break: keep-all; word-wrap: break-word; }
  &__detail { /*float:right;*/padding-right:20px; text-align: right; height:76px; overflow:hidden; font-weight: $bold; white-space: nowrap; }
  &__stage-date,
  &__amount { /*display:table-cell;*/ height:auto; display:inline-block; box-sizing: border-box; padding:5px 0; vertical-align: middle; }
  &__stage-date { padding-right:0; text-align:right; /*white-space: nowrap;*/ font-weight: $bold; }
  &__amount { padding-left:0; color:$pink; white-space: nowrap; }
  &__bar { display:inline-block; width: 1px; height:20px; margin:0 20px 0 15px; border-left:1px solid #87878b; }
  &__btn { @include btn; display:block; width:100%; height:inherit;
    &:before, &:after { display:none; }
    &-t { display:table-cell; width:1%; height:inherit; font-size:24px; font-weight: $bold; color:inherit; vertical-align: middle; box-sizing: border-box; }
  }
  @media only screen and (max-width:$tablet-size){ margin:25px 0 0;
    &__item { float:none; width: 100%; height:auto; padding:0;
      &+& { margin-top:10px; }
    }
    &__statement { table-layout: fixed; width:100%; border:2px solid $pink; }
    &__stage-name,
    &__detail { height:41px; padding:3px 15px; font-size:14px; }
    &__stage-name { width:32%; }
    &__detail { padding-left:0; font-size:0; }
    //&__stage-date,
    //&__amount { height:41px; }
    &__stage-date,
    &__amount { padding:0; max-width:50%; font-size:14px; word-break: keep-all; word-wrap: break-word; }
    &__stage-date { white-space: normal;  }
    &__amount { position:relative; white-space: normal; padding-left:20px;  }
    &__bar { position:absolute; left:10px; top:0; bottom:0; margin:auto; height:10px; }
    &__btn { width:100%; height:45px; line-height: 1.2;
      &-t { font-size:14px; }
    }
  }
}

//layer popup
.application-detail { width:530px;
  &__desc { margin:0; line-height: 1.625; }
  &__info-wrap { position:relative; overflow: hidden; width:530px; margin-top:16px; box-sizing:border-box; }
  &__table { display:table; width:100%; height:215px; padding:18px 0; box-sizing: border-box; background-image: url("../images/vvip/ticket-bg-desktop.png"); background-repeat: no-repeat; }
  &__row { display:table-row; }
  &__th,
  &__td  { display:table-cell; line-height: 1.417; padding:4px 0 4px 26px; vertical-align: middle; box-sizing: border-box; }
  &__th { width:153px; padding-left:24px; font-weight: $bold; }
  &__td { color:#fff; }
  @media only screen and (max-width:$tablet-size){ width:auto;
    &__desc { font-size:12px; }
    &__info-wrap { width:100%; margin-top:25px; background-color: #352980; background-image: url("../images/vvip/ticket-line-mobile.png"); background-repeat: repeat-y; background-size: 109px auto;     background-position: 0 3px;
      &:before,
      &:after { z-index:1; content:''; display:block; width:117px; height:9px; position:absolute; left:0; background-image: url("../images/vvip/ticket-bottom-mobile.png"); background-size: 117px 9px; }
      &:before { top:0; background-image: url("../images/vvip/ticket-top-mobile.png"); }
      &:after { bottom:0; background-image: url("../images/vvip/ticket-bottom-mobile.png"); }
    }
    &__table { table-layout:fixed; height:auto; position:relative; padding:4px 0; background-image: url("../images/vvip/ticket-logo.png"); background-repeat: no-repeat; background-position:left calc(54px + 50%) top 50%; background-size: 142px 78px;
      &:before,
      &:after { content:''; display:block; width:17px; height:17px; position:absolute; right:-9px; border:1px solid #050102; border-radius: 17px; background-color: #fff; }
      &:before { top:-9px; }
      &:after { bottom:-9px; }
    }
    &__row { display:block; }
    &__th,
    &__td  { padding:6px 0 6px 13px; height:30px; font-size:12px; }
    &__th { width:108px; white-space: nowrap; }
    &__td { padding-right:10px; word-wrap: break-word; word-break: keep-all; }
    &__email { word-break: break-all; }
  }
}
.account { margin-top:45px;
  &__tit { margin:0; font-size:24px; line-height: 1.333; }
  &__table { display:table; width:530px; margin-top:10px; }
  &__row { display:table-row; }
  &__th,
  &__td { display:table-cell; height:44px; line-height: 1.625; padding:10px 18px; box-sizing: border-box; border-bottom:1px solid #ddd; vertical-align: middle; }
  &__th { width:170px; font-weight: $bold; }
  &__td { display:table-cell; }
  @media only screen and (max-width:$tablet-size){ margin-top:22px;
    &__tit { font-size:18px; }
    &__table { width:100%; margin-top:6px; }
    &__row { display:block; padding:10px 0; border-bottom:1px solid #ddd;
      &:first-child { border-top:1px solid #ddd; }
    }
    &__th,
    &__td { display:block; height:auto; font-size:12px; line-height: 1.417; padding:0 10px; border-bottom:0; }
    &__td { margin-top:3px; }
  }
}

.checkbox-set { display:inline-block; font-size:14px; user-select: none;
	&+& { margin-left:10px; }
	@media only screen {
		line-height:14px;
		&__input { overflow: hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); }
		&__ico { position:relative; display:inline-block; width:14px; height:14px; vertical-align:middle;
			&:before { position:absolute; top:-1px; left:0; bottom:0; -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; width:14px; height:14px; border:1px solid #fff; background-color:transparent; content:''; }
		}
		// &__input:focus+&__ico:before { @include box-shadow(inset, 0, 0, 2px, rgba(0, 0, 0, 0.1));}
		&__input:checked+&__ico:after { position:absolute; top:0; left:0; width:12px; height:12px; margin:auto; background:url(../images/icon/input-checked-ico.png) no-repeat 0 0; content:'';
			@media only screen and (-webkit-min-device-pixel-ratio: 2),
		        only screen and (-moz-min-device-pixel-ratio: 2),
		        only screen and (-o-min-device-pixel-ratio: 2/1),
		        only screen and (min-device-pixel-ratio: 2),
		        only screen and (min-resolution: 192dpi),
		        only screen and (min-resolution: 2dppx){
		        & {
					background-image:url(../images/icon/input-checked-ico.png);
					background-size:12px auto;
				}
			}
		}
	}
	@media only screen and (max-width:$mobile-size) { font-size:12px;
		&__input:checked+&__ico:after { left:1px; top:0; width:12px; height:12px; background-image:url(../images/icon/input-checked-ico-m.png); background-size: 12px auto;
			@media only screen and (-webkit-min-device-pixel-ratio: 2),
		        only screen and (-moz-min-device-pixel-ratio: 2),
		        only screen and (-o-min-device-pixel-ratio: 2/1),
		        only screen and (min-device-pixel-ratio: 2),
		        only screen and (min-resolution: 192dpi),
		        only screen and (min-resolution: 2dppx){
		        & {
					background-image:url(../images/icon/input-checked-ico-m.png);
					background-size:12px auto;
				}
			}
		}
	}
}