html,
body { height:100%; }
body { overflow:auto; margin:0; min-width:$site-width; background-color:#08070C; color:#fff; line-height:1.3; font-family:$font-ko;
 @media (max-width:$tablet-size) {
   min-width:auto; overflow-x:hidden;
 }
}

:lang(ja) body { font-family:"Noto Sans KR", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
:lang(zh) body { font-family:"Noto Sans KR", "PingFang SC",'Heiti SC','Hiragino Sans GB','Hiragino Sans GB','LiHei Pro Medium','Microsoft YaHei', SimHei, sans-serif; }

// .is-not-scroll { position:fixed;top:0;bottom:0;overflow:hidden;width:100%; }
.is-not-scroll { overflow:hidden; }

// layout
.wrapper { overflow: hidden; display: table; table-layout: fixed; width: 100%; height: 100%; opacity:0;
  &__row { display:table-row; width: 100%; 
    &--height-full { height: 100%; }
  }
}

// header
.site-header { position:relative; z-index:900; height:170px; margin:0 auto -170px; 
  @media (max-width:$tablet-size) {
    position: static; height:auto; margin:0 auto -45px;
  }
}

.top-logo { position:absolute; left:0; right:0; width:134px; height:78px; margin:auto; top:10px;
  &__link { display:block; }
  &__img { max-width:100%; }
  @media (max-width:$tablet-size) {
    width:67px;  top:0; height:inherit;
    &__link { height:inherit; box-sizing: border-box; padding-top:4px;
      .mobile-header.is-fixed & { padding-top:0; }
      &:after { display:none; width:inherit; height:100%; background:url(../images/layout/top-logo-black.png) no-repeat 50% 50%; content:''; background-size:contain; 
        .mobile-header.is-fixed & { display:block; }
      }
    }
    &__img { width:100%; 
      .mobile-header.is-fixed & { display:none; }
    }
  }
}

.site-language { position:absolute; z-index:80; height:1.3em; top:0; bottom:70px; left:50%; margin:auto; margin-left:-($site-width/2); 
  &__tit { @include hidden; }
  &__location { margin:0; display:inline-block; font-size:14px; color:#fff; 
    &:hover { outline:none; }
    &:after { display:inline-block; width:7px; height:4px; margin-left:10px; margin-bottom:2px; background:url(../images/layout/site-language-ico.png) no-repeat; content:''; vertical-align:middle; }
  }
  &__list { display:none; position:absolute; left:0; right:0; width:70px; margin:13px auto 0; padding:11px 0 12px 0; list-style:none; background-color:#000; background-color:rgba(0,0,0,.9); color:#fefefe; line-height:1.3; font-size:14px; text-align:center; 
    &:before { position:absolute; display:block; width:0; height:0; top:-10px; left:0; right:0; margin:auto; border-width:0 10px 10px 10px; border-style:solid; border-color:transparent transparent #000 transparent; border-color:transparent transparent rgba(0,0,0,.9) transparent;  content:''; }
    &.is-on { display:block; }
  }
  &__item { margin-top:4px; 
    &:first-child { margin-top:0; }
  }
  &__link { display:block; padding:5px 20px; color:inherit; text-decoration:none; 
    &:focus,
    &:hover { color:#ffa900; }
  }
  @media (max-width:$tablet-size) {
    height:inherit; left:0; bottom:auto;  margin-left:0; 
    &__location { display:table-cell; height:inherit; font-size:12px; font-weight:700; vertical-align:middle; padding:0 15px; 
      &:after { width:0; height:0; background:none; border-width:3px; border-style:solid; border-color:transparent transparent #fff #fff; transform:rotate(-45deg); margin-bottom:7px;  }
    }
    &__list { width:45px; margin-top:0; font-size:12px; padding-top:0; padding-bottom:0;
      &:before { top:-5px; border-width:0 5px 5px 5px;  }
    }
    &__link { padding:6px 0;  }
    .mobile-header.is-fixed & {
      &__location { color:#000;
        &:after { border-color:transparent transparent #000 #000; }
      }
    }
  }
}

.site-gnb { position:absolute; z-index:50; height:70px; left:0; right:0; bottom:0; background:rgba(33,35,91,0.8); background:linear-gradient(to right, rgba(33,35,91,0.8) 0%, rgba(92,55,205,0.8) 100%) 50% 0 no-repeat; background-size:1920px 100%; color:#fff; 
  $this:&;
  &.is-fixed { position:fixed; top:0; bottom:auto; }
  &__tit { @include hidden; }
  &__list { width:$site-width; height:inherit; margin:0 auto; padding:0; text-align:justify; list-style:none; line-height:1.3; font-size:0;
    &:after{ display:inline-block; width:100%; content:''; }
  } 
  &__item { position: relative; display:inline-block; height:inherit; white-space:normal; font-size:16px; text-align:center; 
  }
  &__link { position:relative; z-index:10; display:table-cell; height:inherit; padding:0 40px; color:inherit; text-decoration:none; vertical-align:middle; text-transform:uppercase;
    #{$this}__item--dropdown &:after { display:inline-block; width:7px; height:4px; margin-bottom:4px; background:url(../images/layout/site-gnb-ico.png) no-repeat; content:''; }
    &:focus,
    &:hover { background:rgba(255,0,140,0.6); background:linear-gradient(to bottom, rgba(255,0,140,0.6) 0%, rgba(86,165,255,0.6) 100%); }
    #{$this}__item--dropdown &:focus,
    #{$this}__item--dropdown &:hover { background:none; }
  }
  &__list2 { overflow:hidden; position:absolute; z-index:9; width:100%; max-height:0; margin:-70px 0 0 0; padding:0 0 0 0; background:rgba(255,0,140,0.6); background:linear-gradient(to bottom, rgba(255,0,140,0.6) 0%, rgba(86,165,255,0.6) 100%); list-style:none; color:#fff; font-size:14px; line-height:1.3; 
    &:before { display:block; content:''; height:90px; }
    &:after { display:block; content:''; height:20px; }
    #{$this}__item.is-over & { max-height:1000px; animation:gnb-mobile-link-on .3s; }
  }
  &__item2 { text-align:center; text-shadow:0 0 1px rgba(0,0,0,0.8);
     #{$this}__item.is-over & { animation:gnb-mobile-link-on 1s; }
  }
  &__link2 { display:table-cell; width:1%; padding:7px 0; color:inherit;text-decoration:none; vertical-align:middle; }
  @media (max-width:$tablet-size) {
    background:none; height:auto; position: static; min-height:100%; margin-bottom:-140px; 
    &__tit { @include hidden; }
    &__list { width:auto; height:auto;  padding-bottom:140px; 
      &:after{ }
    } 
    &__item { display:block; margin-top:0; text-align:left; font-size:18px; font-weight:500; 
      &.is-over { color:#ffa900; }
    }
    &__link { width:1%; padding:0 15px; height:48px; text-transform:none;
      &:focus,
      &:hover { background:none; }
      #{$this}__item--dropdown &:after { width:7px; height:7px; border-bottom:1px solid #fff; border-left:1px solid #fff; background:none; transform:rotate(-45deg); margin-bottom:6px; animation:gnb-mobile-link-off 1s; }
      #{$this}__item--dropdown.is-over &:after{ border-color:#ffa900; margin-bottom:0; transform:rotate(-225deg); animation:gnb-mobile-link-on 1s; }
    }
    &__list2 { position: static; background-color:rgba(0,0,0,.2); font-size:18px; transition:max-height .3s; margin-top:0; background-image:none; 
      &:not(n) { background-image:none; }
      &:before { display:none; }
      &:after { display:none; }
      #{$this}__item.is-over & { transition:max-height 1s; }
    }
    &__item2 { text-align:left; }
    &__link2 { height:48px; padding:0 15px; }
  }
}

@keyframes gnb-mobile-link-off {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes gnb-mobile-link-on {
  0% { opacity:0; }
  100% { opacity:1; }
}

.sns-quick { overflow:hidden; position:absolute; top:20px; right:50%; margin-right:-($site-width/2); 
  &__tit { @include hidden; }
  &__list { overflow:hidden; margin:0 0 0 0; padding:0; list-style:none; }
  &__item { float:left; margin:0 0 0 10px; }
  &__link { display:block; }
  @media (max-width:$tablet-size) {
    display:table-cell; position:static; height:140px; top:auto; right:auto; box-sizing:border-box; margin-right:0; padding:0 0 20px 15px; vertical-align:bottom; 
    &__tit { position:static; width:auto; height:auto; margin:0 0 4px 0; font-weight:500; color:#fff; font-size:12px; line-height:1;}
    &__list { margin:0; }
    &__item { float:left; margin:0 0 0 8px; 
      &:before { display:none; }
      &:first-child { margin-left:0;}
    }
    &__link { }
  }
}
.site-container { @include block; 
  @media (max-width:$tablet-size) {
     
  }
}

.site-content { @include block; max-width:1240px; margin:170px auto 0; padding:90px 0 125px;
  @media (max-width:$tablet-size) {
    padding:20px 15px 60px; margin-top:45px; 
  }
}

.page-header { margin-bottom:53px; text-align: center;
  &__heading { margin:0; font-size:42px;
    &:before { content:''; display:inline-block; margin-right:5px; width:30px; height:31px; background-image: url("../images/icon/polygon-ico.png"); }
  }
  @media (max-width:$tablet-size) { margin-bottom:14px;
    &__heading { font-size:21px;
      &:before { margin-right:3px; width:15px; height:16px; background-size: 15px auto; background-repeat: no-repeat; }
    }
  }
}
 
.sns-ico { display:inline-block; width:50px; height:59px; text-align:left; overflow:hidden; white-space:nowrap; text-indent:100%; background:url(../images/layout/sns-ico.png) no-repeat; background-size:150px auto; vertical-align:middle;
  &--facebook { background-position:0 0; }
  &--twitter { background-position:-50px 0; }
  &--instagram { background-position:-100px 0; }
  @media (max-width:$tablet-size) {
    width:40px; height:46px; background-size:120px auto; 
    &--facebook { background-position:0 0; }
    &--twitter { background-position:-40px 0; }
    &--instagram { background-position:-80px 0; }
  }
}

.site-footer { @include block; position: relative; height:70px; background-color:#111111; color:#888888; 
  @media (max-width:$tablet-size) {
    height:50px; 
  }
}

.footer-copyright { position:absolute; top:0; left:50%; margin-left:-($site-width/2); line-height:70px; font-size:14px; 
  @media (max-width:$tablet-size) {
   position: static; display:table-cell; height: 50px; vertical-align: middle; margin-left:0; padding-left:15px; padding-right:90px; box-sizing: border-box; line-height:1.2; font-size:10px; word-break: keep-all; word-wrap: break-word;
  }
}

.footer-family { position:absolute; top:0; right:50%; bottom:0; margin-right:-($site-width/2); 
  &__link { @include ir; float:left; height:100%; margin-left:11px; background:url(../images/layout/footer-family-logo-desktop.png) no-repeat 0 50%; 
    &--sm { width:58px; background-position:0 50%; }
    &--dm { width:46px; background-position:-60px 50%; }
  }
  @media (max-width:$tablet-size) {
    right:15px; margin-right:0; 
    &__link { margin-left:9px; background-image:url(../images/layout/footer-family-logo-mobile.png); background-size:auto 25px;
      &--sm { width:36px; background-position:0 50%; }
      &--dm { width:28px; background-position:-40px 50%; }
    }
  }
}

.go-to-top { @include button; @include ir; position:fixed; z-index:980; bottom:50px; right:50px; width:55px; height:55px; background:$pink url(../images/layout/gototop-ico.png) no-repeat 50% 50%; 
  &--fixed { position:absolute; top:-105px; bottom:auto; }
  @media (max-width:$tablet-size) { 
    display:none; 
  }
}

.mobile-header { 
  @media (max-width:$tablet-size) { transition:background-color .3s;
    position:relative; height:45px; z-index:900;
    &.is-fixed { position:fixed; top:0; left:0; right:0; background-color:#fff; }
  }
}

.mobile-button-open { opacity:0; position:absolute; top:0; left:100%; width:52px; height:inherit; margin:0; padding:0; border:none; background-color:transparent; text-indent:100%; text-align:left; overflow:hidden; white-space:nowrap; cursor:pointer; transition:opacity 1s;  
  &:before,
  &:after { position:absolute; top:0; left:0; bottom:0; right:0; width:23px; height:0; margin:auto; border-top:1px solid #fff; content:''; }
  &:after { height:15px; border-bottom:1px solid #fff; }
  @media (max-width:$tablet-size) {
    opacity:1;
    transform:translateX(-100%); 
  }
  .mobile-header.is-fixed & { 
    &:before,
    &:after { border-color:#000; }
  }
}
.mobile-button-close { display:none; 
  @media (max-width:$tablet-size) {
    display:block; position:absolute; top:0; right:0; width:47px; height:46px; margin:0; padding:0; border:none; background-color:transparent; text-indent:100%; text-align:left; overflow:hidden; white-space:nowrap; cursor:pointer;
    &:before,
    &:after { position:absolute; top:0; left:0; bottom:0; right:0; width:23px; height:0; margin:auto; border-top:1px solid #fff; content:''; }
    &:before { transform:rotate(45deg) }
    &:after { transform:rotate(-45deg) }
  }
}

.mobile-menu { 
  @media (max-width:$tablet-size) {
    overflow:auto; z-index:910; position:fixed; top:0; bottom:0; left:100%; width:240px; padding-top:78px; transform:translateX(0); transition:transform .3s ease-in; -webkit-overflow-scrolling:touch;background:rgba(33,35,91,0.8);background:linear-gradient(to right, rgba(33,35,91,0.8) 0%, rgba(92,55,205,0.8) 100%); 
    &.is-on { transform:translateX(-100%); }
  }
}

.mobile-menu-dimmed { position: fixed; background-color:rgba(0,0,0,.6);top: 0; left: 0; right: 0; bottom: 0; z-index: 905; }