// paragraph
.para { margin:0; line-height:1.625; color:#fff; 
  &.is-next { margin-top:1.625em; }
  &_dot{position:relative; display:inline-block; padding-left:0.75em;
    &:before{position: absolute; margin-left: -0.75em; margin-top:0.75em; content: ''; width:2px; height:2px; background-color: #fff;}
  }
  @media only screen and (max-width:$tablet-size) {
    font-size:13px;
    &.is-next { margin-top:15px; }
  }
}

// 준비중입니다 컨텐츠 공통
.temporary-box { display:table; width:100%; height:430px; text-align: center; box-sizing: border-box; background-color: $black-body;
  &__inner { display:table-cell; vertical-align: middle; }   
  &__logo { display:inline-block; height:78px; }
  &__img { max-width:100%; vertical-align: top; }
  &__txt { display:inline-block; width:100%; margin-top:17px; color:rgba(255,255,255,0.5); text-transform: uppercase; }
  @media only screen and (max-width:$tablet-size) { height:290px;
    &__logo { width:94px; height:55px; }
    &__txt { margin-top:8px; font-size:12px; } 
  }
} 

// Word Wrap
.inline-block { display:inline-block; }

// hidden
.hidden-text { @include hidden; }

.only-desktop { display:block;
  @media only screen and (max-width:$tablet-size){ display:none; }
}
.only-mobile { display:none; 
  @media only screen and (max-width:$tablet-size){ display:block; }
}

.text-uppercase { text-transform: uppercase; }