<%
  var data = jsonData
%><!DOCTYPE html><!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= data.site.name %></title>
  <link type="text/css" href="../../libs/normalize/normalize.css" rel="stylesheet">
  <link type="text/css" href="../../css/intro.css" rel="stylesheet">
</head>
<body>
  <h1 class="intro-logo"><img src="../../images/intro/intro-logo.png" alt="<%= data.site.name %>" class="intro-logo__img"></h1>
  <div class="intro-wrap">
    <img src="https://i.imgur.com/Hv471T1.jpg" alt="" class="intro-wrap__img">
    <button type="button" class="intro-wrap__btn" data-url="" id="play-fullscreen" onclick="introVideo(this)">영상재생</button>
    <div class="intro-video js-intro-video">
      <div class="intro-video__wrap">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ks4-96mb82E?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="player" class="intro-video__frame"></iframe>
        <a href="main.html" class="intro-video__btn-close">close</a>
      </div>
    </div>
  </div>
  <a href="main.html" class="intro-skip">Skip</a>
  <script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../js/intro.js"></script>
</body>
</html>