<%
  page = "main"
%>
<% layout('../_layout/_layout') -%>
<div class="main-visual">
  <ul class="main-visual__list js-main-visual-slider">
    <li class="main-visual__item js-main-visual-item">
      <div class="main-visual__bg-desktop" style="background-image:url(http://spectrumdmf.com/uploads/20180531/1563314062_7eee663e-e987-4dff-9de9-34b0d0d7c258.jpg);"></div>
      <div class="main-visual__bg-mobile" style="background-image:url(http://spectrumdmf.com/uploads/20180531/308959437_573fd83b-371a-4d3e-9b6b-25716889b7a9.jpg);"></div>
      <div class="main-visual__content js-main-visual-content">
        <div class="main-visual__summary"><img src="http://spectrumdmf.com/uploads/20180604/276683150_a0da5cfa-2ff9-4566-8baa-4e6066e6233c.png" alt="" class="main-visual__img"></div>
        <!-- <a href="../ticket/ticket.html" class="main-visual__link-sub">Ticket</a> -->
        <button type="button" class="main-visual__button-video" data-url="https://youtu.be/Ks4-96mb82E" onclick="mainVisualVideo(this)">영상보기</button>
      </div>
    </li>
    <li class="main-visual__item js-main-visual-item">
      <div class="main-visual__bg-desktop" style="background-image:url((http://spectrumdmf.com/uploads/20180531/915206159_0c65981e-0030-483b-a1c4-54c72c94e136.jpg);"></div>
      <div class="main-visual__bg-mobile" style="background-image:url(http://spectrumdmf.com/uploads/20180531/2028326270_b599e4d9-6887-4985-9591-a69ae0f5c0ea.jpg);"></div>
      <div class="main-visual__content js-main-visual-content">
        <div class="main-visual__summary"><img src="http://spectrumdmf.com/uploads/20180604/276683150_a0da5cfa-2ff9-4566-8baa-4e6066e6233c.png" alt="" class="main-visual__img"></div>
        <a href="../ticket/ticket.html" class="main-visual__link-sub">Ticket</a>
        <button type="button" class="main-visual__button-video" data-url="https://youtu.be/Ks4-96mb82E" onclick="mainVisualVideo(this)">영상보기</button>
      </div>
    </li>
  </ul>
  <div class="main-visual__icon-down">Scroll</div>
</div>
<!-- //main-visual -->
<div class="main-section">
  <h2 class="main-section__tit">News</h2>
  <div class="main-board">
    <ul class="main-board__list">
      <% for(var i=0; i<8; i++){ %>
        <li class="main-board__item">
          <div class="main-board__content">
            <a href="../news/news_02상세.html" class="main-board__link">
              <div class="main-board__top">
                <% if(i > 0){ %>
                <img src="../../images/blank/blank.png" data-src="http://i.imgur.com/A4mZHMd.jpg" class="main-board__img js-lazy-img">
                <% } %>
              </div>
              <div class="main-board__bottom">
                <% if(i == 0){ %>
                  <h3 class="main-board__tit">드림스테이션 리브 포</h3>
                  <div class="main-board__desc">#스페셜티켓 안내 드립니다.</div>
                <% } else { %>
                  <h3 class="main-board__tit">드림스테이션 리브 포 나우 티켓 안내 드림스테이션 리브 포 나우 티켓 안내 드림스테이션 리브 포 나우 티켓 안내</h3>
                  <div class="main-board__desc">
                    <a href="http://ticket.yes24.com" target="_blank">http://ticket.yes24.com</a>
                    <p>블라인드티켓 구매를 놓쳐 아쉬워하는 관객 여러분을 위해</p>
                    <p>#오피셜티켓 및 #스페셜티켓 안내 드립니다.</p>
                    <p>스페셜 티켓의 경우 블라인드티켓 구매를 놓쳐 아쉬워하는 관객 여러분을 위해</p>
                    <p>#오피셜티켓 및 #스페셜티켓 안내 드립니다.</p>
                  </div>
                <% } %>
                <span class="main-board__date">2017.04.17</span>
              </div>
            </a>
          </div>
        </li>
      <% } %>
    </ul>
    <div class="main-btn-group">
      <a href="../news/news_01목록.html" class="main-btn">View More</a>
    </div>
  </div>
</div>
<!-- //main-section -->