<%
page = "information"
sub = 3
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="info-board2">
  <ul class="info-board2__list">
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">티켓, 입장밴드는 어디서 받을 수 있나요?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">티켓부스는 2, 9호선 종합운동장역 6, 7번 출구로 나와 야구장을 지나 직진하시면 잠실주경기장 앞에 마련되어 있습니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">입장밴드 교환 시 무엇이 필요한가요?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">입장밴드를 교환하기 위해서는 티켓을 배송받으신 분들은 티켓과 본인 신분증을, 티켓을 현장수령으로 선택하신 분들은 예매확인증(혹은 예매확인문자)와 본인 신분증을 반드시 지참해주세요. 입장밴드는 대리수령이 불가하니 입장밴드 수령시 관람자 전원이 함께 신분증 지참 후 수령해주시기 바랍니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">티켓, 입장밴드를 분실, 훼손했어요. 입장할 수 있나요?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">배송된 티켓은 예매자 본인이어도, 어떠한 경우에도 재발행은 물론 입장밴드 교환 역시 절대 불가하오니 배송받으신 티켓은 공연 관람일까지 소중히 보관해주세요. 또한, 입장밴드 역시 분실, 훼손 시 입장이 불가합니다. 특히 양일권 예매자분들은 1개의 입장밴드로 2일 내내 착용하셔야 하니 분실, 훼손에 주의해주시기 바랍니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">예매한 티켓을 취소하고 싶습니다.</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">예매한 티켓의 취소는 예매하신 각 예매처의 취소 규정에 따라 가능하며 공연 당일 변경이나 환불은 절대 불가합니다. 배송받으신 티켓은 예매 취소 가능일까지 예매처로 반송되어야 합니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">입장밴드 수령 후 외부 출입이 가능한가요?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">스테이지 간의 이동은 자유로우나 한번 메인 게이트로 퇴장하시면 재입장은 불가합니다. 메인 게이트 입장 전 차에 두고 오신 물건은 없는지, 외부에 다른 볼일은 없는지 미리 확인 후 입장해주시기 바랍니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">공연은 지정좌석에서 관람해야 하나요?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">본 페스티벌은 스탠딩 공연으로 별도의 좌석이 마련되어 있지 않습니다. 스테이지를 이동하며 원하시는 공간에서 자유롭게 관람하실 수 있습니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">공연시간이 어떻게 되나요?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">자세한 공연 시간은 <a href="../lineup/lineup_02timetable.html" target="_blank" class="info-board2__link text-uppercase">Line Up – Time Table</a> 메뉴를 통해 확인해주세요.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">주차는 가능한가요?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">잠실종합운동장 부설 주차장을 사용하실 수 있으나 당일 많은 관객들의 방문으로 주차장이 매우 혼잡할 수 있으니 가급적이면 대중교통을 이용해주시기 바랍니다. 잠실종합운동장의 주차 규정은 잠실종합운동장 홈페이지<a href="http://stadium.seoul.go.kr/about/park-info" target="_blank" class="info-board2__link">(http://stadium.seoul.go.kr/about/park-info)</a> 에서 확인하실 수 있습니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">촬영은 가능 한가요?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">통상적 수준의 기념촬영은 가능합니다만 공연 및 아티스트의 사진, 동영상 촬영, 녹음 등은 원활한 공연의 진행과 저작권, 초상권의 보호를 위하여 금지됩니다. 적발 시 데이터 삭제 후 퇴장되며, 법적 조치를 받으실 수 있습니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board2__item">
      <div class="info-board2__head js-toggle">
        <div class="info-board2__cell info-board2__cell--question">Q</div>
        <div class="info-board2__cell info-board2__cell--word-wrap">
          <p class="info-board2__title">분실한 물건은 어디서 찾을 수 있나요?</p>
        </div>
      </div>
      <div class="info-board2__body">
        <div class="info-board2__cell info-board2__cell--answer">A</div>
        <div class="info-board2__cell">
          <p class="info-board2__text">분실물은 공연 당일 인포메이션 부스에서 접수를 받을 예정입니다. 분실 접수된 물건은 행사 종료 이후 2018년 9월 14일(금)까지 공식 홈페이지 및 SNS를 통하여 공지 예정입니다. 해당 물품은 행사 종료 이후 2018년 9월 23일(일)까지 보관되오며, 이후 폐기됩니다. (접수되지 않은 분실물에 대해서는 주최/주관사에서는 책임지지 않으니 보관에 유의해주세요.)</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- //info-board2-->