<%
page = "information"
sub = 0
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="info-board">
  <ul class="info-board__list">
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">티켓 및 입장 밴드 수령안내</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">티켓 부스에서 티켓 및 입장밴드 수령 시 성인인증 절차가 있으므로 반드시 본인의 신분증을 지참해주시기 바랍니다.</p>
          <div class="info-board__depth">
            <div class="info-board__heading">성인 인증 가능 신분증</div>
            <p class="info-board__text info-board__text--dash">대한민국 국민 : 주민등록증, 운전면허증, 여권, 주민등록증 발급 신청 확인서</p>
            <p class="info-board__text info-board__text--dash">외국인 : 여권, 외국인등록증, 자국에서 발급한 신분증+여권 사본(동시 지참)</p>
          </div>
          <p class="info-board__text info-board__text--dot">상기 신분증 외의 증빙서류, SNS, 이메일 등의 방법으로는 성인 인증이 불가합니다.</p>
          <p class="info-board__text info-board__text--dot"><strong>티켓 부스는 정오부터 운영되며, 오후 1시부터 공연장 입장이 가능합니다.</strong></p>
          <p class="info-board__text info-board__text--dot">받으신 티켓은 공연 당일, 입장밴드로 교환하셔야 입장이 가능합니다. (티켓 미소지시 입장밴드 교환 및 입장 불가)</p>
          <p class="info-board__text info-board__text--dot">현장 티켓 수령 시, 예매자의 신분증과 예매 확인증 등 예매 증빙자료를 지참하셔야 수령 가능합니다.</p>
          <p class="info-board__text info-board__text--dot">1건으로 묶인 복수의 티켓은 분할수령이 불가하며 티켓은 맡기실 수 없습니다.</p>
          <p class="info-board__text info-board__text--dot"><strong>입장밴드는 대리 수령이 불가하며 티켓부스에서 직접 착용해드립니다.</strong> 복수의 티켓을 구매하신 경우 관람자 모두 티켓부스에서 함께 입장밴드를 착용해주시기 바랍니다.</p>
          <p class="info-board__text info-board__text--dot">양일권의 경우 1개의 입장밴드로 2일 내내 착용하셔야 하므로 훼손에 주의해주시기 바랍니다. 또한 양일권 입장밴드를 착용한 본인만 2일동안 공연 관람이 가능하며 2인이 1일씩 나눠 사용할 수 없습니다.</p>
          <p class="info-board__text info-board__text--dot">입장밴드 미착용 시 입장이 불가하며, 훼손 및 분실 시에는 어떠한 경우에도 재발행 되지 않으니, 훼손되지 않도록 주의해 주시기 바랍니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">안전 및 입장 안내</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">관객 분들의 쾌적하고 안전한 관람을 위하여 공연장 입장 시 보안검색을 진행합니다.</p>
          <p class="info-board__text info-board__text--dot">반입금지물품을 소지하고 계실 경우 주최/주관사에서 별도로 보관해드리지 않으며, 유료로 운영되는 물품보관소를 이용하실 수 있습니다.</p>
          <p class="info-board__text info-board__text--dot">아티스트의 별도 요청이 있을 경우 금속탐지기, X-레이 등을 이용한 추가 검색이 진행될 수 있습니다.</p>
          <p class="info-board__text info-board__text--dot">소음 및 특수효과 : 본 공연에는 매우 큰 소리의 음향, 스트로브 라이트, 하이드로, 불꽃, 폭죽류, 애니마트로닉스, 그 외의 플래쉬 조명, 이미지 효과, 인공 안개, 연기, 조명효과, 레이저 등의 특수효과가 사용됩니다. 심장질환자, 임산부와 노약자, 또는 외부 자극에 민감하게 반응하여 발작, 광과민성 질병 등과 같은 건강상의 문제를 일으킬 수 있는 심신 미약자분 들은 예매를 삼가 주시기 바랍니다. 주최/주관사에서는 사전 공유를 받지 못한 공연 중에 발생한 질병 및 부상에 대해 책임지지 않습니다.</p>
          <p class="info-board__text info-board__text--dot">사고위험 : 본 공연이 열리는 장소와 주변에서는 입장객 본인의 물적 요소에 대한 손실 또는 피해나 청력손실, 발작, 심각한 건강상 위험, 또는 사망 등의 신체적 상해가 발생할 가능성이 있습니다. 입장객 본인은 발생할 수 있는 모든 위험요소에 대하여 숙지하고 있으며, 행사 중에 불의의 사고를 당한 경우 또는 상해를 입힌 경우에 대한 책임은 모두 입장객 본인에게 있습니다.</p>
          <p class="info-board__text info-board__text--dot">고성방가, 욕설, 폭행 등 타인에게 피해를 주는 소란 행위 시 안전요원에 의하여 퇴장 될 수 있습니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">반입금지물품</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">병, 캔, 가스충전식 스프레이, 화기, 조리/취사도구, 칼, 가위, 폭죽, 유리, 공구류, 장난감 총/칼, 야구방망이, 셀카봉, 장우산, 파이프, 지팡이, 죽도, 깃대 등 각종 위험물품</p>
          <p class="info-board__text info-board__text--dot">원격 조종이 가능한 RC장난감 류(드론 포함)</p>
          <p class="info-board__text info-board__text--dot">캐리어, 유모차, 자전거, 킥보드, 스케이트보드, 각종 전동장치 등 바퀴 달린 이동수단 및 물품</p>
          <p class="info-board__text info-board__text--dot">단단한 공 종류(야구공, 축구공, 농구공, 부메랑, 원반 등)</p>
          <p class="info-board__text info-board__text--dot">주최사의 허가를 받지 않은 DSLR 카메라를 포함한 전문촬영 및 녹음장비</p>
          <p class="info-board__text info-board__text--dot">귀중품 (분실 시 책임지지 않습니다.)</p>
          <p class="info-board__text info-board__text--dot">돗자리, 간이의자, 그늘막텐트, 아이스박스 및 각종 캠핑장비류</p>
          <p class="info-board__text info-board__text--dot">항정신성의약품관리법 및 마약류 관리에 관한 법률 등 관련 법령에 따라 조지 혹은 취급이 금지된 약품</p>
          <p class="info-board__text info-board__text--dot">500ml 생수 1병을 제외한 음료와 주류, 음식물 일체 </p>
          <p class="info-board__text info-board__text--dot">무대 연출에 방해가 되는 LED 장식물, 손전등, 레이져 포인터, 플랜카드</p>
          <p class="info-board__text info-board__text--dot">기타 환경오염, 위생사고 및 안전사고 가능성이 있다고 판단되는 물품</p>
          <p class="info-board__text info-board__text--dot">목발, 휠체어는 반입이 가능하지만 안전을 위하여 일부 구역 출입에 제한이 있을 수 있습니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">유의사항</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">아티스트의 사정에 의해 출연 아티스트, 일정, 시간 등이 변경 될 수 있으며, 본 사유로 인하여 환불 또는 부분환불이 불가합니다.</p>
          <p class="info-board__text info-board__text--dot">쾌적한 관람과 행사장 보호를 위하여 음식물 섭취 시에는 주변 정리를 해 주시고 쓰레기는 비치된 쓰레기통에 넣어주시기 바랍니다.</p>
          <p class="info-board__text info-board__text--dot">사전에 협의되지 않은 개별 이벤트와 프로모션, 상업활동이 불가 합니다. </p>
          <p class="info-board__text info-board__text--dot">사이트 내외부의 시설물과 데코레이션은 눈으로만 보아 주시기 바랍니다. 훼손 발생시 상황에 따라 배상에 대한 책임을 물을 수 있습니다 </p>
          <p class="info-board__text info-board__text--dot">아티스트를 위한 화환, 선물, 팬레터 등은 받지 않습니다.</p>
          <p class="info-board__text info-board__text--dot">반려동물은 입장이 불가합니다. (단, 시각장애인을 위한 안내견은 예외적으로 입장이 가능합니다.)</p>
          <p class="info-board__text info-board__text--dot">입장 밴드 착용 후 자유롭게 스테이지간 이동이 가능합니다. 각 공연장 별 수용인원이 제한되어 있으며 현장 상황에 따른 안전 문제로 입장이 제한될 수 있습니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">물품보관서비스</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">물품보관서비스는 주최사와 제휴한 외부 협력사에서 유료로 운영합니다.</p>
          <p class="info-board__text info-board__text--dot">서비스 이용료는 추후 공지 예정입니다.</p>
          <p class="info-board__text info-board__text--dot">물품은 전용 비닐백에 담아 보관되며, 물품보관 시 제공되는 번호표 분실 또는 마감 시간까지 찾아가지 않아 발생하는 물품의 분실, 훼손 등에 대해 책임지지 않으므로, 번호표 보관에 유의해주시기 바랍니다. </p>
          <p class="info-board__text info-board__text--dot">파손의 위험이 있거나 부피가 지나치게 큰 물품, 귀중품은 보관이 불가합니다. 단, 캐리어는 보관이 가능합니다.</p>
        </div>
      </div>
    </li>
    <li class="info-board__item">
      <div class="info-board__head js-toggle">
        <div class="info-board__cell info-board__cell--word-wrap">
          <p class="info-board__title">응급상황</p>
        </div>
      </div>
      <div class="info-board__body">
        <div class="info-board__text-wrap">
          <p class="info-board__text info-board__text--dot">행사장 내/외부에 간단한 응급처치가 가능한 의료 부스와 응급차가 마련되어 있습니다.</p>
          <p class="info-board__text info-board__text--dot">응급상황 발생시, 신속하게 주위의 진행/경호요원 또는 가까운 안내부스의 스태프에게 알려 주시기 바랍니다.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- //info-board-->