<%
page = "information"
sub = 1
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].children[sub].title %></h1>
</div>
<!-- //page-header-->

<div class="temporary-box">
  <div class="temporary-box__inner">
    <span class="temporary-box__logo"><img src="../../images/common/temp-logo.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img"></span>
    <span class="temporary-box__txt">Coming Soon</span>
  </div>
</div>

<!--<div class="tab information-tab">
  <ul class="tab__list js-list">
    <li class="tab__item is-active">
      <a href="#none" class="tab__link" data-title="View All">View All</a>
    </li>
    <li class="tab__item">
      <a href="#tab1" class="tab__link" data-title="Starcity">Starcity</a>
    </li>
    <li class="tab__item">
      <a href="#tab2" class="tab__link" data-title="Dreamstation">Dreamstation</a>
    </li>
    <li class="tab__item">
      <a href="#tab3" class="tab__link" data-title="Electro Garden">Electro Garden</a>
    </li>
    <li class="tab__item">
      <a href="#tab4" class="tab__link" data-title="Club Neo Jungle">Club Neo Jungle</a>
    </li>
  </ul>
</div>-->
<!-- //tab -->

<!--<div class="stage-map is-all">
  <div id="tab1" class="stage-map__section">
    <div class="temporary-box">
      <div class="temporary-box__inner">
        <span class="temporary-box__logo"><img src="../../images/common/temp-logo.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img"></span>
        <span class="temporary-box__txt">Coming Soon</span>
      </div>
    </div>
    <div class="stage-map__tit">Starcity</div>
  </div>
  <div id="tab2" class="stage-map__section">
    <div class="temporary-box">
      <div class="temporary-box__inner">
        <span class="temporary-box__logo"><img src="../../images/common/temp-logo.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img"></span>
        <span class="temporary-box__txt">Coming Soon</span>
      </div>
    </div>
    <div class="stage-map__tit">Dreamstation</div>
  </div>
  <div id="tab3" class="stage-map__section">
    <div class="temporary-box">
      <div class="temporary-box__inner">
        <span class="temporary-box__logo"><img src="../../images/common/temp-logo.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img"></span>
        <span class="temporary-box__txt">Coming Soon</span>
      </div>
    </div>
    <div class="stage-map__tit">Electro Garden</div>
  </div>
  <div id="tab4" class="stage-map__section">
    <div class="temporary-box">
      <div class="temporary-box__inner">
        <span class="temporary-box__logo"><img src="../../images/common/temp-logo.png" data-src="../../images/common/temp-logo.png" alt="Spectrum" class="temporary-box__img"></span>
        <span class="temporary-box__txt">Coming Soon</span>
      </div>
    </div>
    <div class="stage-map__tit">Club Neo Jungle</div>
  </div>
</div>-->


<div class="btn-wrap">
  <a href="" class="btn-more2 btn-more2--another btn-more2--download">Event Hall Download</a>
</div>
