<div class="site-breadcrumb">
  <span class="site-breadcrumb__item"><a href="" class="site-breadcrumb__link">Home</a></span>
  <% if ((data.pages[page].children) && (data.pages[page].children.length > 1)) { %>
  <span class="site-breadcrumb__item"><a href="<%= data.pages[page].links[0] %>"><%= data.pages[page].title.kor %></a></span>
  <span class="site-breadcrumb__item is-active"><%= jsonData.pages[page].children[sub].title %></span>
  <% } else { %>
  <span class="site-breadcrumb__item is-active"><%= data.pages[page].title.kor %></span>
  <% } %>
</div>
<!-- //site-breadcrumb -->