<%
page = "contact"
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].title.kor %></h1>
</div>
<!-- //page-header-->

<div class="contact-board">
  <div class="contact-board__aligner contact-board__aligner--nth-1">
    <div class="contct-about">
      <div class="contct-about__headline">
        We believe in the power of
        <span class="contct-about__text">Experience & Know-How</span>
      </div>
      <p class="contct-about__para">
        DREAM MAKER运用独有方法和战略来令舞台变得不平凡。<br>
      </p>
      <p class="contct-about__para contct-about__para--next">
        主办和策划SPECTRUM DANCE MUSIC FESTIVAL的DREAM MAKER是韩国演唱会计划公司中唯一拥有计划、制作、演出、营运、配给的<span class="contct-about__text2">"ALL-IN-ONE SYSTEM的综合LIVE ENTERTAINMENT公司"。</span>
      </p>
    </div>
    <!-- //contct-about -->
  </div>
  <div class="contact-board__aligner contact-board__aligner--nth-2">
    <div class="tab2" data-tab="true">
      <ul class="tab2__list">
        <li class="tab2__item tab2__item--m-another is-active">
          <a href="#tab1" class="tab2__link" data-title="一般查询">一般查询</a>
        </li>
        <li class="tab2__item tab2__item--m-another">
          <a href="#tab2" class="tab2__link" data-title="合作或后援查询">合作或后援查询</a>
        </li>
      </ul>
    </div>
    <%
    for(var i=0; i<2; i++){
    %>
    <div class="tab-content <% if(i===0){ %>is-active<% } %>" id="tab<%= i+1 %>">
      <div class="contact-form">
        <dl class="contact-form__row">
          <dt class="contact-form__th">Name</dt>
          <dd class="contact-form__td">
            <input type="text" class="contact-form__input-text contact-form__input-text--w100p">
          </dd>
        </dl>
        <dl class="contact-form__row">
          <dt class="contact-form__th">E-Mail</dt>
          <dd class="contact-form__td">
            <input type="text" class="contact-form__input-text contact-form__input-text--w100p">
          </dd>
        </dl>
        <dl class="contact-form__row">
          <dt class="contact-form__th">Subject</dt>
          <dd class="contact-form__td">
            <input type="text" class="contact-form__input-text contact-form__input-text--w100p">
          </dd>
        </dl>
        <dl class="contact-form__row">
          <dt class="contact-form__th contact-form__th--text-top">Message</dt>
          <dd class="contact-form__td">
            <textarea name="" id="" cols="50" rows="10" class="contact-form__textarea contact-form__textarea--w100p"></textarea>
          </dd>
        </dl>
      </div>
      <div class="contact-board__btn-wrap">
        <a href="" class="btn-send">Send</a>
      </div>
    </div>
    <% } %>
    <!-- // tab-content -->
  </div>
</div>