<%
  page = "gallery"
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].title.kor %></h1>
</div>
<!-- //page-header -->

<div class="tab4" data-drop-down="true">
  <div class="tab4__state js-state">
    <span class="tab4__category-name">View All</span>
  </div>
  <ul class="tab4__list js-list">
    <li class="tab4__item js-active">
      <a href="" class="tab4__link">
        <span class="tab4__category-name">View All</span>
      </a>
    </li>
    <li class="tab4__item">
      <a href="" class="tab4__link">
        <span class="tab4__category-name">2017</span>
      </a>
    </li>
    <li class="tab4__item">
      <a href="" class="tab4__link">
        <span class="tab4__category-name">2016</span>
      </a>
    </li>
    <li class="tab4__item">
      <a href="" class="tab4__link">
        <span class="tab4__category-name">2015</span>
      </a>
    </li>
  </ul>
</div>
<!-- //tab4 -->

<div class="tab2 tab2--m-next">
  <ul class="tab2__list">
    <li class="tab2__item is-active">
      <a href="<%= jsonData.pages[page].links[0] %>" class="tab2__link" data-title="Photo">Photo</a>
    </li>
    <li class="tab2__item">
      <a href="<%= jsonData.pages[page].links[1] %>" class="tab2__link" data-title="Video">Video</a>
    </li>
  </ul>
</div>
<!-- //tab2 -->

<div class="gallery-board">
  <ul class="gallery-board__list">
    <% for(var i=0; i<6; i++){ %>
    <li class="gallery-board__item">
      <a href="#layer-popup2-a" class="gallery-board__link" data-popup="popup-open">
        <img src="../../images/blank/blank.png" data-src="http://i.imgur.com/jNKJ03D.jpg" alt="" class="gallery-board__img js-lazy-img">
      </a>
    </li>
    <% } %>
  </ul>

  <div class="btn-wrap">
    <a href="" class="btn-more2">More</a>
  </div>
</div>
<!-- //gallery-board-->

<!-- 갤러리 상세보기 팝업 -->
<div class="layer-popup2" id="layer-popup2-a">
  <div class="layer-popup2__wrap">
    <div class="layer-popup2__head">
      <a href="#layer-popup2-a" class="layer-popup2__close" data-popup="popup-close"><i class="layer-popup2__close-icon"></i>팝업 닫기 버튼</a>
    </div>
    <div class="layer-popup2__body">
      <img src="http://i.imgur.com/jNKJ03D.jpg" alt="" class="layer-popup2__img is-popup">
    </div>
  </div>
</div>
<div class="dimmed layer-popup2__dimmed"></div>
<!-- // 갤러리 상세보기 팝업 -->
