<%
  page = "ticket"
%>
<% layout('../_layout/_layout') -%>
<div class="content-section">
  <h2 class="content-section__tit">Reservation</h2>
  <div class="ticket-main-info">
    <div class="ticket-main-info__banner-wrap">
      <img src="https://i.imgur.com/uQe6EzU.png" alt="" class="ticket-main-info__img">
    </div>
    <div class="ticket-main-info__txt-wrap">
      <h3 class="ticket-main-info__tit">2018 스펙트럼 댄스 뮤직 페스티벌</h3>
      <div class="ticket-main-info__date">일시 : 2018년 5월 27일</div>
      <div class="ticket-main-info__position">장소 : 난지 한강공원</div>
      <div class="ticket-main-info__summary">
        ※ 매수제한 : 1인 4매<br>
        ※ 일괄배송 : 5월 8일(월)<br>
        → 현장의 혼잡함을 막기 위하여 결제일 기준 4월 30일까지 구매하신 티켓은 배송을 통한 구매만 가능합니다.
      </div>
    </div>
  </div>

  <div class="ticket-box">
    <div class="ticket-box__title">General Ticket</div>
    <ul class="ticket-box__list">
      <% for(var i=0; i<6; i++){ %>
      <li class="ticket-box__item">
        <a href="" target="_blank" class="ticket-box__link">
          <img src="http://i.imgur.com/6ichNEy.png" alt="인터파크" class="ticket-box__img">
        </a>
      </li>
      <% } %>
    </ul>
    <div class="ticket-box__title ticket-box__title--next">Special Ticket</div>
    <ul class="ticket-box__list">
      <% for(var i=0; i<4; i++){ %>
      <li class="ticket-box__item">
        <a href="" target="_blank" class="ticket-box__link">
          <img src="http://i.imgur.com/6ichNEy.png" alt="인터파크" class="ticket-box__img">
        </a>
      </li>
      <% } %>
    </ul>
    <div class="ticket-box__title ticket-box__title--next">Package Ticket</div>
    <ul class="ticket-box__list">
      <% for(var i=0; i<3; i++){ %>
      <li class="ticket-box__item">
        <a href="" target="_blank" class="ticket-box__link">
          <img src="http://i.imgur.com/6ichNEy.png" alt="인터파크" class="ticket-box__img">
        </a>
      </li>
      <% } %>
    </ul>
  </div>

  <div class="ticket-info">
    <h3 class="ticket-info__tit">Ticket Reservation Information</h3>
    <div class="ticket-info__article">
      <p>
        · 본 공연은 전석 비지정석입니다.<br>
        · 티켓은 하나의 아이디당 4매까지 구매 가능합니다.<br>
        · 본 공연은 만15세 이상(2002년 5월 28일 포함 이후 출생 입장불가) 입장이 가능합니다. 관람연령으로 인한 입장불가 티켓은 환불, 취소 되지 않으니 이점 유의하시어 예매하시기 바랍니다.<br>
        * 미성년자 본인확인 신분증 (사진과 생년월일 모두 확인) : 학생증 + 가족관계증명서, 학생증 + 의료보험증, 학생증 + 주민등록등본, 주민등록증, 여권 (학생증만으로 신분 확인 불가)<br>
        ·　중고 거래, 암표 거래 등과 같이 공식 예매처를 통하지 않은 개인간의 거래로 발생된 문제에 대해서 제작사나 주최, 주관사는 어떠한 책임도 없으며, 분쟁 해결에 도움을 드릴 수 없습니다.<br>
        · 더불어 티켓의 도난, 훼손, 미지참 등의 경우 티켓은 재발행 되지 않으며 예매내역서, 카드결제내역서로 재발행 되지 않습니다.<br>
        · 해당 건물은 재입장이 불가하오니 유의하여 주시기 바랍니다.<br>
        · 상세페이지 내에 안내되어 있는 사항들을 꼭 숙지하시고 구매하여 주시기 바랍니다.<br>
        · 티켓의 변경, 취소, 환불은 예매하신 해당 사이트 내에서 가능하며, 해당 예매처의 취소, 환불 규정에 의하여 수수료가 적용되오니 사이트 내 취소수수료 규정을 확인 부탁드립니다.
      </p>
    </div>
  </div>
</div>