<%
page = "aboutus"
%>
<% layout('../_layout/_layout') -%>
<div class="about-section">
  <div class="about-section__wrap">
    <h3 class="about-section__title about-section__title--uppercase"><%= jsonData.site.name %></h3>
    <div class="about-section__desc">
      <strong>당신이 꿈꾸던 단 하나의 테마형 뮤직 페스티벌</strong><br>
      <strong>SPECTRUM DANCE MUSIC FESTIVAL</strong><br>
      <br>
      스펙트럼 댄스 뮤직 페스티벌은<br>
      매년 다른 테마 속에 다양한 장르의 음악, 환상적인 스테이지, 관객 여러분의 눈과 귀를 사로잡을 퍼포먼서와 퍼레이드까지,<br class="only-desktop">
      한자리에 만날 수 있는<br class="only-mobile"> <span class="about-section__text">국내 최대 테마형 뮤직 페스티벌</span>입니다.<br>
      <br>
      국내 최고의 라이브 엔터테인먼트 기업<br class="only-mobile"> ‘드림메이커 엔터테인먼트’가 관객들에게 선사하는,<br>
      스펙트럼만의 새로운 세계를 만나보세요.
    </div>
  </div>
</div><!-- //about-section-->
<div class="about-section history">
  <h3 class="about-section__title">History</h3>
  <div class="history__wrap">
    <div class="history__slider">
      <% for(var i=0; i<3; i++){ %>
      <div class="history__slide-item">
        <h4 class="history__title">2017 스펙트럼 댄스 뮤직 페스티벌</h4>
        <div class="history__detail">
          <div class="history__img-wrap"><img src="../../images/blank/blank.png" data-src="https://i.imgur.com/vTbm3JJ.jpg" alt="" class="history__img js-lazy-img"></div>
            <div class="history__text-wrap">
              <div class="history__article">
                <p><strong>· 일시   2016년 5월 27일</strong></p>
                <p><strong>· 장소   난지 한강공원</strong></p><br>
                <p>리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</p>
                <!--<p>리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</p>-->
              </div>
            </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
<!-- //site-content -->