.board-view { position: relative;
  $this:&;
  &__header { padding:14px 0 20px; border-bottom:2px solid #fff; }
  &__body { padding:40px 0 60px; text-align:justify; line-height: 1.625; color:#fff; }
  &__footer { overflow:hidden; position:relative; padding-top:27px; border-top:2px solid #fff; }
  
  &__tit { display:table; margin:0; font-size:30px; line-height: 1.333; }
  &__category { display:table-cell; padding-right:10px; font-size:26px;
    &--notice { color:$pink; }
    &--event { color:$sky; }
  }
  &__wrap { padding-top:18px; overflow:hidden; line-height: 1.875; }
  &__date { float:left; font-size:16px; font-weight: $light; }
  &__origin { float:left; margin-left:20px; line-height: 0; }
  &__btn { display:inline-block; box-sizing: border-box; padding:1px 10px; font-size:14px; border:1px solid #fff; text-decoration: none; vertical-align: middle; text-align:center; 
  	&:hover { border-width:2px; padding:0 9px; }
    &-txt { display:table-cell; height:26px; vertical-align: middle; color:#fff; }
  }
  &__link { display:inline-block; padding:10px 17px; vertical-align: middle; font-size:14px; text-decoration: none; color:#fff; }
  &__prev,
  &__next,
  &__list { overflow:hidden; position:relative; text-decoration: none; color:#fff;
    #{$this}__link { position:relative; 
      &:before { display:inline-block; width:0.429em; height:0.429em; position:absolute; top:0; bottom:0; margin-top:auto; margin-bottom:auto; border-color:#fff; border-style:solid; content:''; transform: rotate(45deg); }
    }
    &:before { position:absolute; top:0; bottom:0; left:20px; width:12px; height:7px; margin:auto; }
  }
  &__prev { z-index:1; position:absolute; bottom:0; left:0; 
    #{$this}__link { 
      &:before { left:2px; border-width:0 0 2px 2px; }
    }
   }
  &__next { z-index:1; position:absolute; bottom:0; right:0; 
    #{$this}__link {
      &:before { right:2px; border-width:2px 2px 0 0; }
    }
  }
  &__list { text-align: center;
    #{$this}__link { padding:10px 20px 10px 32px;
      &:before { left:10px; border:0; transform: rotate(0); width:12px; height:12px; background-image: url(../images/icon/btn-list-ico.png); }
    }
  }
  @media only screen and (max-width:$tablet-size) {
    &__header { padding:0 0 10px; border-bottom:1px solid #fff; }
    &__body { padding:20px 0 30px; font-size:12px; line-height: 1.667; }
    &__footer { padding-top:13px; border-top:1px solid #fff; }
    &__tit { display:inline-block; font-size:21px; line-height: 1.239; }
    &__category { display:block; padding-bottom: 12px; font-size:14px; }
    &__date { font-size:11px; }
    &__origin { margin-left:15px; }
    &__btn { padding:1px 6px; font-size:11px;
			&:hover { border-width:1px; padding:1px 6px; }
      &-txt { height:18px; }
    }
    &__link { font-size:12px; }
  }
}
 
.board-article {
  img, object,embed { max-width:100%; }
  p { margin:0; }
  a { text-decoration:none; color:inherit; }
}

.btn-wrap { margin-top:40px; text-align: center; line-height: 0;
  @media (max-width:$tablet-size) { margin-top:20px; }
}
.btn-more { display:inline-block; box-sizing: border-box; height:55px; padding:0 50px; text-decoration: none; color:#fff; border:2px solid #fff;
  &__txt { display:table-cell; vertical-align:middle; height:51px; font-size:18px; color:inherit; }
  @media (max-width:$tablet-size) { height:37px; padding:0 40px; border:1px solid #fff;
    &__txt { height:35px; font-size:14px; }
  }
}
.btn-more2 { @include btn;
  &--another { width:auto; font-size:16px; padding:0 30px;
    &:before, &:after { display:none; }
  }
  &--download:after { display:inline-block; position:static; width:15px; height:16px; margin-left:9px; border:0; background-image: url("../images/icon/download-ico.png"); background-size: 15px auto; }

  @media (max-width:$tablet-size) {
    &--another { font-size:14px; padding:0 12px; }
    &--download:after { width:13px; height:14px; background-size: 13px auto; }
  }
}