// Button Pink
.btn-pink { display:inline-block; box-sizing: border-box; height:55px; padding:0 72px; font-weight: bold; font-size:20px; text-decoration: none; line-height:1.7; border:1px solid $pink; background-color: $pink; color:#fff;
  &__txt { display:table-cell; height:53px; vertical-align: middle; width:1%; text-align: center; }
  &--w100p { width:100%; }
  @media only screen and (max-width:$tablet-size) {
    height:41px; padding:0 20px; font-size:14px;
    &__txt { height:39px; }
  }
}