select,
input[type=text],
input[type=password],
input[type=tel],
input[type=email],
textarea { border-radius:0;}
input[type=text],
input[type=password],
input[type=tel],
input[type=email],
textarea { appearance: none; }
button,
input[type=checkbox],
input[type=radio],
input[type=submit],
input[type=image] { cursor:pointer; }

