.dimmed { display:none; z-index:998; position:fixed; top:0; right:0; bottom:0; left:0; background: url(../images/blank/black-50.png); }

.layer-popup { display:none; z-index:1000; position:fixed; top:0; left:0; right:0; height:100%; text-align: center; font-size:0; white-space: nowrap;/*  max-height:100%; */
  &:before,
  &:after { display:inline-block; height:100%; content:''; vertical-align: middle; }
  &__wrap { display:inline-block; max-height:100%; overflow-y: auto; vertical-align: middle; font-size:16px; background-color: #fff; color:$black-tit; white-space: normal; }
  &__inner { box-sizing: border-box; width:100%; height:100%; padding:35px 40px 40px;  }
  &__head { width:530px; height:56px; padding-top:10px; padding-bottom:10px; overflow: hidden; text-align: left; box-sizing: border-box; border-bottom:1px solid $black-tit; font-size:0; }
  &__title { display:inline-block; /*float:left;*/ width:490px; height:36px; margin:0; font-size:28px; vertical-align: middle; }
  &__close { display:inline-block; /*float:right;*/ width:40px; height:36px; text-align: right; vertical-align: middle; font-size:0;
    &-icon { display: inline-block; position: relative; margin: 0 13px 0 18px; padding: 0; width: 1px; height: 36px; background-color:$black-tit; transform: rotate(45deg);
      &:before { display: block; content: ''; position: absolute; top: 50%; left: -18px; width: 36px; height: 1px; margin-top: 0; background-color:$black-tit; }
    }
  }
  
  &__body { padding-top:35px; text-align: left; }
  @media only screen and (max-width:$tablet-size){ left:15px; right:15px;
    &:before,
    &:after { /* display:none; */ }
    &__wrap { max-width:100%; }
    &__inner { /* height:auto; */ padding:20px 20px 30px; }
    &__head { width:auto; height:auto; padding-top:5px; padding-bottom:5px; }
    &__title { width:85%; height:auto; font-size:18px; }
    &__close { width:15%; height:25px; vertical-align: top;
      &-icon { margin-left: 12px; margin-right:9px; width: 1px; height: 25px;
        &:before { left: -12px; margin-top:-1px; width: 25px; }
      }
    }
    &__body { padding-top:16px; }
  }
}

//layer-popup2
.layer-popup2 { display:none; z-index:1000; position:fixed; top:0; left:0; right:0; height:100%; overflow: auto; text-align: center; font-size:0; white-space: nowrap;
  &:before,
  &:after { display:inline-block; height:100%; content:''; vertical-align: middle; }
  &__wrap { display:inline-block; vertical-align: middle; font-size:16px; color:$black-tit; white-space: normal; }
  &__inner { box-sizing: border-box; width:100%; height:100%; padding:35px 40px 40px;  }
  &__head { height:56px; padding-top:10px; padding-bottom:10px; overflow: hidden; box-sizing: border-box; }
  &__title { display:table-cell; float:left; height:36px; margin:0; font-size:28px; vertical-align: middle; }
  &__close { display:table-cell; float:right; width:36px; height:36px; vertical-align: middle; font-size:0;
    &-icon { display: inline-block; position: relative; margin: 0 20px 0 18px; padding: 0; width: 1px; height: 36px; background-color:#fff; transform: rotate(45deg);
      &:before { display: block; content: ''; position: absolute; top: 50%; left: -18px; width: 36px; height: 1px; margin-top: 0; background-color:#fff; }
    }
  }
  &__img { max-width:100%; }
  &__iframe-wrap { width:854px; height:0; padding-bottom:56.206%; position:relative;
    .iframe { position:absolute; left:0; top:0; right:0; width:100%; height:100%; }
  }
  &__dimmed {  background: url(../images/blank/black-70.png); }
  @media only screen and (max-width:$tablet-size){ padding:0 15px;
    &__wrap { width:100%; }
    &__inner { /* height:auto; */ padding:20px 20px 30px; }
    &__head { height:37px; padding-top:5px; padding-bottom:5px; }
    &__title { height:26px; font-size:18px; }
    &__close { width:25px; height:25px;
      &-icon { margin-left: 12px; width: 1px; height: 25px;
        &:before { left: -12px; margin-top:-1px; width: 25px; }
      }
    }
    &__body { width:100%; }
    &__iframe-wrap { width:100%; }
  }
}