// Tab

// tab (web = tab / mobile = dropdown)
.tab { z-index:10; margin:0 auto;
	$this:&;
	$item:#{$this}__item;
	$list:#{$this}__list;
	&__list { margin:0; padding:0; display:flex; }
	&__item { position:relative; box-sizing:border-box; display:table-cell; flex-grow:1; width:1%; height:55px; background-color:transparent; color:rgba(255,255,255,0.5); font-size:18px; text-align:center; vertical-align:middle; border:1px solid rgba(255,255,255,0.2); border-left-width:0;
		&:first-child { border-left-width:1px; }
		&.is-active { border-bottom-width:0; 
			&:after { position:absolute; top:-1px; left:0; right:-1px; content:''; border-width:2px 0 0; border-style:solid; border-color:$pink; }
		}
	}
	&__link { position:relative; padding:0 10px; box-sizing:border-box; display:table-cell; width:1000px; height:inherit; color:inherit; text-decoration:none;  vertical-align:middle; font-weight: $regular;
		#{$item}.is-active & { color:$pink; }
	}
	@media only screen and (max-width:$tablet-size) {
		position:relative; height:50px;
		&__list { display:block; overflow:hidden; position:absolute; z-index:500; padding-top:50px; max-height:0;
			&:before { box-sizing:border-box; position:absolute; z-index:100; top:17px; right:15px; width:10px; height:10px; border-width:0 0 1px 1px; border-style:solid; border-color:transparent transparent #fff #fff; content:''; transform:rotate(-45deg); }
			&.js-open-m { max-height: 1000px; margin:0 -15px; padding:50px 25px 20px; background-color: #fff;
				&:before { top:22px; right:30px; border-color:transparent transparent $black-tit $black-tit; transform:rotate(135deg); }
			}
		}
		&__item { position:static; display:block; width:auto; height:40px; border-width:1px 0 0; border-color:#d9d9d9; font-size:12px; text-align:left;
			&:first-child { border-top:none; border-left-width:0; }
			&.is-active { color:$pink; }
		}
		&__link { position:static; padding:10px 0; color: $black-tit;
			#{$item}.is-active & { border-top:none; padding:10px 0;
				&:before { box-sizing:border-box; position:absolute; z-index:10; top:0; left:0; width:100%; line-height:48px; padding:0 10px; font-size:16px; content:attr(data-title); font-weight:$bold; color:#fff; border:1px solid #fff;
					#{$list}.js-open-m & { background-color:#fff; color:$black-tit; padding:0 25px; }
				}
				&:after { display:none; }
			}
		}
	}
}

// tab2 (web,mobile)
.tab2 { margin:0 auto;
	$this:&;
	$item:#{$this}__item;
	$list:#{$this}__list;
	&__list { margin:0; padding:0; display:flex; }
	&__item { position:relative; box-sizing:border-box; display:table-cell; flex-grow:1; width:1%; height:55px; background-color:transparent; color:rgba(255,255,255,0.5); font-size:18px; text-align:center; vertical-align:middle; border:1px solid rgba(255,255,255,0.2); border-left-width:0;
		&:first-child { border-left-width:1px; }
		&.is-active { border-bottom-width:0; 
			&:after { position:absolute; top:-1px; left:0; right:-1px; content:''; border-width:2px 0 0; border-style:solid; border-color:$pink; }
		}
	}
	&__link { position:relative; padding:0 10px; box-sizing:border-box; display:table-cell; width:1000px; height:inherit; color:inherit; text-decoration:none;  vertical-align:middle; font-weight: $regular;
		#{$item}.is-active & { color:$pink; }
	}
	@media only screen and (max-width:$tablet-size) {
		&--m-next { margin-top:20px; }
		&__item { height:40px; font-size:13px;
      &--m-another { height:50px; }
    }
	}
}

// tab3 (web = sort / mobile = dropdown)
.tab3 { margin:0 auto; max-width:1070px;
	$this:&;
	$item:#{$this}__item;
	$list:#{$this}__list;
	&--type2 { max-width:630px; margin-top:-8px; }
	&__state { display:none; }
	&__list { margin:0; padding:0; display:flex; }
	&__item { position:relative; box-sizing:border-box; display:table-cell; flex-grow:1; width:1%; background-color:transparent; color:rgba(255,255,255,0.5); font-size:16px; text-align:center; vertical-align:middle; }
	&__link { position:relative; padding:0 10px; box-sizing:border-box; display:table-cell; width:1000px; height:inherit; color:inherit; text-decoration:none;  vertical-align:middle; font-weight: $regular;
		#{$item}.js-active & { color:$pink; }
	}
	&__count { display:inline-block; width:100%; font-size:24px; font-weight: $light; color:inherit; }
	&__category-name { display:inline-block; font-size:16px; font-weight: $bold; line-height: 1.625;
		#{$item}.js-active & { color:#fff; }
	}
	@media only screen and (max-width:$tablet-size) {
		position:relative; height:50px; z-index:10;
		&--type2 { max-width:100%; margin-top:0; }
		&__state { display:block; overflow:hidden; position:relative; height:50px; padding:0 10px; white-space: nowrap; box-sizing: border-box; border:1px solid #fff; line-height: 48px;
			&:focus { outline: none; text-shadow: 0 0 0 }
			&:before { box-sizing:border-box; position:absolute; z-index:100; top:17px; right:15px; width:10px; height:10px; border-width:0 0 1px 1px; border-style:solid; border-color:transparent transparent #fff #fff; content:''; transform:rotate(-45deg); }
			.is-open &{ margin:0 -15px; padding:0 25px; background-color:#fff; color:$black-tit;
				&:before { top:22px; right:30px; border-color:transparent transparent $black-tit $black-tit; transform:rotate(135deg); }
			}
		}
		&__list { display:block; visibility:hidden; z-index:-1; background-color:#fff;
			.is-open &{ visibility: visible; margin:0 -15px; padding:0 25px 20px; }
		}
		&__item { position:static; display:block; width:auto; height:40px; border-style:solid; border-width:1px 0 0; border-color:#d9d9d9; font-size:12px; text-align:left;
			&:first-child { border-top:none; border-left-width:0; }
			&.js-active { color:$pink; }
		}
		&__link { position:static; padding:10px 0; color: $black-tit;
			#{$item}.js-active & { font-weight:$bold;
			}
		}
		&__count { width:auto; font-size:12px; font-weight: $regular; color:inherit;
			.js-state & { font-size:16px; font-weight: $light; }
		}
		&__category-name { line-height:100%; font-weight: $regular; font-size:12px;
			.js-state & { font-weight: $bold; font-size:16px; color:inherit; }
			.is-open & { color:$black-tit; }
			#{$item}.js-active & { color:inherit; }
		}
	}
}

.tab4 { position:relative; height:35px; z-index:10; float:right; margin-top:-103px;
	$this:&;
	$item:#{$this}__item;
	$list:#{$this}__list;
	&.is-mobile { opacity:0; }
	&__state { overflow:hidden; position:relative; height:35px; padding:0 45px 0 20px; white-space: nowrap; box-sizing: border-box; line-height: 33px; font-size:18px; border-width:1px 1px 0; border-style:solid; border-color: transparent; cursor: pointer;
		&:focus { outline: none; text-shadow: 0 0 0 }
		&:before { box-sizing:border-box; position:absolute; z-index:100; top:10px; right:20px; width:10px; height:10px; border-width:0 0 2px 2px; border-style:solid; border-color:transparent transparent #fff #fff; content:''; transform:rotate(-45deg); }
		#{$this}__category-name { z-index:-1; }
		&.is-open { border-color:#fff; background-color: rgba(0,0,0,0.3);
			&:before { top:14px; right:20px; transform:rotate(135deg); }
			#{$this}__category-name { z-index:1; }
		}
	}
	&__list { list-style:none; margin:0; display:block; visibility:hidden; z-index:-1; background-color:rgba(0,0,0,0.3); border-width:0 1px 1px; border-style:solid; border-color: transparent;
		&.is-open { visibility: visible; padding:0 20px; border-color:#fff; }
	}
	&__item { display:block; width:auto; height:35px; line-height: 35px; font-size:18px; box-sizing: border-box;
		&.js-active { color:$pink; }
	}
	&__link { display:table-cell; height:inherit; vertical-align: middle; box-sizing: border-box; text-decoration: none; color:#fff;
		#{$item}.js-active & { color:$pink; }
	}
	&__category-name { position:relative; }
	@media only screen and (max-width:$tablet-size) {
		height:50px; margin-top:0; float:none;
		&.is-mobile { opacity:1; transition:opacity ease-in .3s; }
		&__state { height:50px; padding:0 10px; border:1px solid #fff; line-height: 48px; font-size:16px;
			&:before { top:17px; right:15px; width:10px; height:10px; }
			&.is-open { margin:0 -15px; padding:0 25px; color:$black-tit; background-color:#fff;
				&:before { top:22px; right:30px; border-color:transparent transparent $black-tit $black-tit; }
			}
		}
		&__list { background-color:#fff;
			&.is-open { margin:0 -15px; padding:0 25px 20px; }
		}
		&__item { height:40px; line-height: 100%; border-style:solid; border-width:1px 0 0; border-color:#d9d9d9; font-size:12px; text-align:left;
			&:first-child { border-top:none; border-left-width:0; }
		}
		&__link { padding:10px 0; color: $black-tit;
			#{$item}.js-active & { padding:10px 0; font-weight:$bold; }
		}
		&__category-name { line-height:100%; font-weight: $regular;
			.js-state & { font-weight: $bold; }
			#{$item}.js-active & { color:inherit; }
			.is-open & { z-index:1; }
		}
	}
}

.tab-content {
	display:none; 
	&.is-active { display:block; }
}

.dropdown-dimmed { position:fixed; z-index:-1; margin:0 -15px; top:0; left:0; right:0; height:100%;height:100vh; background-image: url("../images/blank/black-50.png"); }