@mixin hidden { overflow:hidden; position:absolute; width:0; height:0; }

@mixin block {
  &:before,
  &:after { display:table; overflow:hidden; height:0; content:''; }
  &:after { clear:both; }
}
@mixin line-clamp($lines, $line-height) { display:block; display:-webkit-box; -webkit-box-orient:vertical; position:relative; text-overflow: ellipsis; -webkit-line-clamp:$lines; white-space:normal;
  &:after { position:absolute; right:0; bottom:0; width:77px; height:$line-height+em; background:url(../images/common/line-clamp.png) repeat-y right bottom; content:''; pointer-events:none; }
  @supports (-webkit-line-clamp: $lines) {
    height:auto;
    &:after { content:none}
  }
}
@mixin button {
  border:none; border-radius:0; background:transparent; padding:0; font-family:inherit; cursor:pointer; 
  &:hover { outline:none; }
}
@mixin ir {
  overflow:hidden; white-space:nowrap; text-indent:100%; text-align:left; 
}

@mixin btn { position:relative; box-sizing:border-box; display:inline-block; width:190px; height:55px; border:1px solid rgba($mint,0.5); background-color:rgba(0,0,0,0.5); color:$mint; font-size:20px; font-weight:700; text-align:center; line-height:53px; text-decoration:none; vertical-align:middle; transition:all .1s ease-in-out;
  &:before,
  &:after { position:absolute; width:13px; height:12px; border-style:solid; border-color:$mint;content:''; }
  &:before { top:-3px; right:-3px; border-width:2px 2px 0 0;}
  &:after { bottom:-3px; left:-3px; border-width:0 0 2px 2px; }
  &:focus,
  &:hover,
  &:active { background-color:rgba(0,0,0,0.7); border-color:rgba($mint,0.7);}
  @media (max-width:$tablet-size){ width:140px; height:37px; font-size:14px; line-height: 35px; font-weight: $regular;
    &:before, &:after { width:8px; height:7px; }
  }
}
@mixin img-border {
  position:relative;
  &:after { position:absolute; top:0; left:0; bottom:0; right:0; border:1px solid rgba(255,255,255,0.2); content:''; pointer-events:none; }
}