<%
page = "news"
%>
<% layout('../_layout/_layout') -%>
<div class="page-header">
  <h1 class="page-header__heading"><%= jsonData.pages[page].title.kor %></h1>
</div>
<!-- //page-header-->

<div class="tab3 tab3--type2" data-drop-down="true">
  <div class="tab3__state js-state">
    <span class="tab3__count">194</span>
    <span class="tab3__category-name">View All</span>
  </div>
  <ul class="tab3__list js-list">
    <li class="tab3__item js-active">
      <a href="" class="tab3__link">
        <span class="tab3__count">194</span>
        <span class="tab3__category-name">View All</span>
      </a>
    </li>
    <li class="tab3__item">
      <a href="" class="tab3__link">
        <span class="tab3__count">100</span>
        <span class="tab3__category-name">Notice</span>
      </a>
    </li>
    <li class="tab3__item">
      <a href="" class="tab3__link">
        <span class="tab3__count">94</span>
        <span class="tab3__category-name">Event</span>
      </a>
    </li>
  </ul>
</div>
<!-- //tab3 -->

<div class="news-board">
  <ul class="news-board__list">
    <% for(var i = 0; i < 10; i++){ %>
    <li class="news-board__item <% if(i === 0){ %>is-open-fixed<% } %>" <% if(i < 4){ %>data-new="true"<% } %>>
      <div class="news-board__head <% if(i !== 0){ %>js-toggle<% } %>">
        <% if(i % 2 === 0){ %>
        <div class="news-board__cell news-board__cell--category" data-category="Notice"></div>
        <div class="news-board__cell news-board__cell--word-wrap">
          <p class="news-board__title js-ellipsis">드림스테이션 리브 포 나우</p>
        </div>
        <% } else { %>
        <div class="news-board__cell news-board__cell--category" data-category="Event"></div>
        <div class="news-board__cell news-board__cell--word-wrap">
          <p class="news-board__title js-ellipsis">드림스테이션 리브 포 나우, 5월 27일 개최드림스테이션 리브 포 나우, 5월 27일 개최드림스테이션 리브 포 나우, 5월
            27일 개최드림스테이션 리브 포 나우, 5월 27일 개최</p>
        </div>
        <% } %>
        <div class="news-board__cell news-board__cell--date">2017.04.17</div>
      </div>
      <div class="news-board__body">
        <div class="news-board__img-wrap">
          <% if(i > 0){ %>
          <img src="../../images/blank/blank.png" data-src="http://i.imgur.com/yxvNEQR.png" alt="" class="news-board__img js-lazy-img">
          <% } %>
        </div>
        <div class="news-board__text-wrap">
          <div class="news-board__text">
            <p>드림스테이션 #블라인드 티켓이 언제? 내일!!! 오픈 합니다. 세계 정상급 국 내외 아티스트 10팀과 함께할 드림스테이션 블라인드 티켓을 절대 놓치지 마세요!<br><br>
              *드림스테이션 블라인드 티켓 오픈* 2017년 4월 13일
              (목) 오후 2시 정가 77,000원 → 44,000원 YES 24 <a href="http://ticket.yes24.com" target="_blank">http://ticket.yes24.com</a>
              1,000매 한정 수량, 소진 시까지, 1인(아이디당) 4매까지 예매가능 * Blind Ticket Open
              at 2pm on April 13th* Regular Price 77,000KRW → 44,000 KRW<br>
              드림스테이션 #블라인드 티켓이 언제? 내일!!! 오픈 합니다. 세계 정상급 국 내외 아티스트 10팀과 함께할 드림스테이션 블라인드 티켓을 절대 놓치지 마세요!<br><br>
              *드림스테이션 블라인드 티켓 오픈* 2017년 4월 13일 (목) 오후 2시 정가 77,000원 → 44,000원 YES 24 http://ticket.yes24.com 1,000매 한정
              수량, 소진 시까지, 1인(아이디당)
              4매까지 예매가능 * Blind Ticket Open at 2pm on April 13th* Regular Price 77,000KRW → 44,000 KRW</p>
          </div>
        </div>
        <div class="news-board__btn-wrap">
          <a href="<%= jsonData.pages[page].links[1] %>" class="news-board__btn-more btn-more"><span class="news-board__btn-txt btn-more__txt">View More</span></a>
        </div>
      </div>
    </li>
    <% } %>
  </ul>
  <div class="btn-wrap">
    <a href="" class="btn-more2">More</a>
  </div>
</div>
<!-- //news-board-->
