<div class="site-sidebar">
  <% if ((data.pages[page].children) && (data.pages[page].children.length > 1)) { %>
  <div class="site-snb">
    <h2 class="site-snb__tit">SNB</h2>
    <ul class="site-snb__list">
      <% data.pages[page].children.forEach(function(depth2,idx) { %>
        <li class="site-snb__item <%= snbActive = (idx == sub) ? 'active':'' %>">
          <a href="<%= depth2.links[0] %>" class="site-snb__link">
            <%= depth2.title %>
          </a>
        </li>
        <% }) %>
    </ul>
  </div>
  <!-- //site-snb -->
  <% } %>
</div>
<!-- //site-sidebar -->