@import 'variables/variables';
@import 'mixins/mixins';

html,
body {height:100%; }
body { background-color:#000; color:#000; }
.intro-logo { position:absolute; z-index:300; top:25px; left:0; right:0; margin:auto; text-align:center; 
  &__img { vertical-align:middle; max-width:100%; }
  @media (max-width:$tablet-size) { box-sizing: border-box; padding-top:3px;
    width:67px;  top:0; height:45px;
    &__img { width:100%; }
  }
}
.intro-wrap { position:relative; height:100%; overflow:hidden; 
  &__img { position:absolute;top:0; bottom:0; left:-2000px; right:-2000px; height:100%; margin:auto; }
  &__btn { @include button; @include ir; position:absolute; z-index:10; top:0; left:0; bottom:0; right:0; width:120px; height:120px; margin:auto; background:url(../images/intro/intro-play-desktop.png) no-repeat; }
  @media (max-width:$tablet-size) { 
    &__btn { width:60px; height:60px; background-size:cover; }
  }
}
.intro-video { display:none; position:absolute; z-index:20; top:0; bottom:0; left:0; right:0; margin:auto; white-space:nowrap; text-align:center; background:url(../images/blank/black-90.png);font-size:0; 
  &:before,
  &:after { display:inline-block; height:100%; vertical-align:middle; content:'';}
  &__wrap { position:relative; display:inline-block; width:1200px; max-width:100%; height:675px; vertical-align:middle; font-size:12px; }
  &__btn-close { @include button; @include ir; position:absolute; top:0; right:0; width:20px; height:20px; margin-top:-30px; background:url(../images/intro/intro-close-desktop.png) no-repeat 50% 50%; }
  @media (max-width:$tablet-size) { 
    &__wrap { width:100%; height:0; padding-top:56.25%; }
    &__frame { position:absolute; top:0; left:0; right:0; bottom:0; }
    &__btn-close { left:0; right:0; margin:-50px auto 0; width:30px; height:30px; background-image:url(../images/intro/intro-close-mobile.png); background-size:12px 12px ; }
    
  }
}
.intro-skip { position:absolute; bottom:70px; left:0; right:0; width:100px; margin:auto; color:#fff; text-decoration:none; font-size:15px; font-weight:500; font-family:arial, sans-serif; text-transform:uppercase; text-align:center;
  &:after { display:inline-block; width:8px; height:16px; margin-left:5px; vertical-align:bottom; background:url(../images/intro/intro-skip-desktop.png) no-repeat; content:''; animation:intro-skip 1s infinite;}
  @media (max-width:$tablet-size) { 
    bottom:30px; font-size:12px; 
    &:after { width:7px; height:12px; background:url(../images/intro/intro-skip-mobile.png) no-repeat; background-size:cover; vertical-align:top; }
  }
}

@keyframes intro-skip {
  0% { opacity:1; transform:translateX(0);}
  100% { opacity:0; transform:translateX(5px); }
}