@import 'variables/variables';

@import 'mixins/mixins';
/* Main */
.main-section { padding:60px 0 130px; background-image: url(../images/main/main-news-bg.jpg); background-size: cover; background-position: 50% 0;
  &__tit { margin:0 0 28px; font-size:42px; font-weight: $bold; text-align: center; 
    &:before { content:''; display:inline-block; margin-right:5px; width:30px; height:31px; background-image: url("../images/icon/polygon-ico.png"); }
  }
  @media (max-width:$tablet-size){ padding:34px 0 70px; background-color:#000; background-image: url(../images/main/main-news-bg-m.jpg); background-size: 100% auto; background-repeat: no-repeat; background-position:0 100%;
    &__tit { margin:0 0 16px; font-size:21px; 
      &:before { margin-right:3px; width:15px; height:16px; background-size: 15px auto; background-repeat: no-repeat; }
    }
  }
}

/* NEWS */
.main-board { max-width:1240px; margin:0 auto; 
  &:before { display:block; content:''; margin-top:-20px; }
  &__list { overflow:hidden; margin:0 -10px 0; padding:0; list-style: none; }
  &__item { display:block; float:left; width:25%; box-sizing: border-box; padding:0 10px; margin-top:20px; }
  &__content { position:relative; background-color:#f1f1f1; }
  &__link { display:block; text-decoration: none; }
  &__top { @include img-border; overflow: hidden; height:205px; background-color: $black-body; background-image: url("../images/common/blank-logo.png"); background-repeat: no-repeat;
    background-position: 50% 50%; background-size: 187px auto;
    &:before { display:block; content:''; width:100%; height:100%; box-sizing: border-box; position:absolute; z-index:1; border:1px solid #000; opacity: 0.05; }
  }
  &__img { display:block; width:100%; position:absolute; left:0; right:0; top:0; bottom:0; }
  &__bottom { height:200px; box-sizing: border-box; padding:15px 20px 20px; background-color:#fff; }
  &__tit { margin:0; color:$black-tit; font-size:20px; line-height: 1.4; overflow: hidden; @include line-clamp(2,1.4); height:2.8em; min-height:2.8em; }
  &__desc { margin:7px 0 0; color:$black-body; font-size:14px; line-height: 1.714; overflow: hidden; @include line-clamp(3,1.714); height:5.142em; min-height:5.142em;
    & p { display:inline; }
    & a { color:$black-tit; }
  }
  &__date { margin:11px 0 0; display:inline-block; font-size:14px; color:#666; }
  @media (max-width:$tablet-size) {
    &:before { display:block; content:''; margin-top:-15px; }
    &__list { padding:0 15px; margin:-15px 0 0 -15px; }
    &__item { width:100%; padding:0 0 0 15px; margin-top:15px;}
    &__top { height:0; padding-bottom:69.36936936936937%; background-size: 120px auto; }
    &__bottom { height:100px; padding:13px 15px 15px; }
    &__tit { font-size:16px; }
    &__desc { display:none; } 
    &__date { font-size:12px; }
  }
}
.main-btn-group { margin-top:50px; text-align: center; line-height: 0;
  @media (max-width:$tablet-size) { margin-top:20px; }
}
.main-btn { @include btn;
}

/* main visual */
.main-visual { position:relative; min-height:700px; overflow:hidden;
  &__list { margin:0; padding:0; list-style:none; height:100%; white-space:nowrap; font-size:0; }
  &__item { display:inline-block; position:relative; width:100%; height:100%; font-size:12px; white-space:normal; }
  &__bg-desktop { height:100%; background-position:50% 50%; background-repeat:no-repeat;}
  &__bg-mobile { display:none; }
  &__summary { position:absolute; top:0; bottom:60px; left:0; right:0; width:580px; height:300px; margin:auto; }
  &__img { vertical-align:middle; max-width:100%; }
  &__link-sub { @include btn; position:absolute; top:486px; bottom:0; left:0; right:0; margin:auto; }
  &__button-video { @include button; overflow:hidden; position:absolute; top:686px; bottom:0; left:0; right:0; width:60px; height:60px; margin:auto; background:url(../images/main/main-visual-button-video-desktp.png) no-repeat; text-indent:-9999px; }
  &__icon-down { position:absolute; bottom:22px; left:0; right:0; text-align:center; font-size:12px; line-height:1; pointer-events:none; animation:main-visual-down 1s ease-in-out infinite alternate; 
    &:after { display:block; width:11px; height:11px; margin:4px auto 0; border-width:0 0 1px 1px; border-style:solid; border-color:#fff; content:''; transform:rotate(-45deg); }
  }
  @media (max-width:$tablet-size) { min-height:560px; 
    &__bg-desktop { display:none; }
    &__bg-mobile { display:block; height:100%; background-position:50% 50%; background-repeat:no-repeat; background-size:100% auto; }
    &__summary { bottom:0; width:290px; height:150px; }
    &__link-sub { top:auto; bottom:130px; width:160px; height:43px; line-height:43px; font-size:14px; }
    &__button-video { top:auto; bottom:65px; width:40px; height:40px; background-image:url(../images/main/main-visual-button-video-mobile.png); background-size:cover; }
    &__icon-down { font-size:11px; }
  }
}
@keyframes main-visual-link {
  0% { opacity:0; }
  50% { opacity:.2; }
  100% { opacity:0; }
}
@keyframes main-visual-down {
  0% { transform:translateY(0); }
  100% { transform:translateY(5px); }
}

.main-visual-dimmed { z-index:1000; position:fixed; top:0; left:0; right:0; bottom:0; background:url(../images/blank/black-90.png); white-space:nowrap; text-align:center;
  &:before,
  &:after { display:inline-block; height:100%; vertical-align:middle; content:''; }
}
.main-visual-video { position:relative; display:inline-block; width:1280px; max-width:100%; height:720px; margin-top:50px; vertical-align:middle;
  @media (max-width:$tablet-size) { width:100%; height:0; margin-top:0; padding-top:56.25%;
  }
  iframe { position:absolute; top:0; left:0; right:0; bottom:0; }
}

.main-visual-video-close { @include button; @include ir; position:absolute; top:0; right:0; width:20px; height:20px; margin-top:-50px; background:url(../images/main/main-visual-video-close-desktop.png) no-repeat 50% 50%; 
  @media (max-width:$tablet-size) { left:0; right:0; margin:-50px auto 0; width:30px; height:30px; background-image:url(../images/main/main-visual-video-close-mobile.png); background-size:12px 12px ; 
  }
}

/*slider script*/
.main-visual { 
  .bx-wrapper { height:100%; }
  .bx-viewport { height:100% !important; }
  .bx-prev,
  .bx-next { @include ir;position:absolute; top:0; bottom:0; width:44px; height:85px; margin:auto; background:url(../images/main/main-visual-button-slider.png) no-repeat;}
  .bx-prev { left:60px; background-position:0 0; 
    &:hover { background-position:0 100%; }
  }
  .bx-next { right:60px; background-position:100% 0; 
    &:hover { background-position:100% 100%; }
  }
  @media (max-width:$tablet-size) { 
    .bx-prev,
    .bx-next { top:auto; bottom:20px; width:15px; height:28px; background-size:30px 56px;  }
    .bx-prev { left:20px; background-position:0 100%; opacity:.5; 
      .media-mobile & { animation:main-visual-prev-mobile-start 1s ease-out, main-visual-prev-mobile .5s ease-in-out 1s infinite alternate; }
    }
    .bx-next { right:20px; background-position:100% 100%; opacity:.5;
      .media-mobile & { animation:main-visual-next-mobile-start 1s ease-out, main-visual-next-mobile .5s ease-in-out 1s infinite alternate; }
    }
    
  }
}

@keyframes main-visual-prev-mobile-start {
  0% { transform:translateX(20px); opacity:0; }
  100% { transform:translateX(0); opacity:.5; }
}
@keyframes main-visual-next-mobile-start {
  0% { transform:translateX(-20px); opacity:0; }
  100% { transform:translateX(0); opacity:.5; }
}
@keyframes main-visual-prev-mobile {
  0% { transform:translateX(0); }
  100% { transform:translateX(-3px); }
}
@keyframes main-visual-next-mobile {
  0% { transform:translateX(0); }
  100% { transform:translateX(3px); }
}